.v-lazy-image {
  /*filter: blur(10px);
  transition: filter 3s;*/
  opacity: 0;
  transition: opacity 1.5s;
}

.v-lazy-image-loaded {
  //filter: blur(0);
  opacity: 1;
}

// Aspect radio test
.c-Image--aspectRatio {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // Default value
  background: #ffffff;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.c-Image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.3);
  transition: background-color 3000ms ease-in-out;
  z-index: 1;
}

