<template>
  <div
    v-editable="blok"
    v-if="blok"
    :id="getCntUid()"
    :style="`padding-bottom: ${getAspectRatio(getWidth(), getHeight(), useAspectRatio)}%`"
    :class="[`c-Image`, {'c-Image--aspectRatio' : useAspectRatio}]"
  >
    <div
      :class=" ` ${mediaOverlayClassSwitch} `"
    />

    <slot>
      <parallax v-if="blok.use_parallax && 2 === 3">
        <v-lazy-image
          v-if="autoSizes"
          :class="`xxx ${getOrientationClass()}`"
          :srcset="srcset()"
          :src="blok.image"
          :src-placeholder="srcPlaceholder()"
          :alt="alt()"
          :title="title()"
          @intersect="intersect()"
          @load="load"
        />

        <v-lazy-image
          v-else
          :srcset="srcset()"
          :src="src()"
          :class="getOrientationClass()"
          :src-placeholder="srcPlaceholder()"
          :alt="alt()"
          :title="title()"
          :sizes="sizes()"
          @intersect="intersect()"
          @load="load"
        />
      </parallax>
      <div v-else>
        <v-lazy-image
          v-if="autoSizes"
          :class="`yyy ${getOrientationClass()}`"
          :srcset="srcset()"
          :src="blok.image"
          :src-placeholder="srcPlaceholder()"
          :alt="alt()"
          :title="title()"
          @intersect="intersect()"
          @load="load"
        />

        <v-lazy-image
          v-else
          :srcset="srcset()"
          :src="src()"
          :class="`aaa ${getOrientationClass()}`"
          :src-placeholder="srcPlaceholder()"
          :alt="alt()"
          :title="title()"
          :sizes="sizes()"
          @intersect="intersect()"
          @load="load"
        />
      </div>

      <!-- <img
        :src="src()"
        :class="getOrientationClass()"
        :src-placeholder="srcPlaceholder()"
        :alt="alt()"
        :title="title()"
        :sizes="sizes()"
        @intersect="intersect()"
        @load="load"
      /> -->
    </slot>

  </div>
</template>
<script>
//@TODO - need loaded and intersected props?
//@TODO - fix smart crop

import Vue from 'vue';
import { VLazyImagePlugin } from 'v-lazy-image';
Vue.use(VLazyImagePlugin);
import getImage from '../../../mixins/transformImage.js';
import getCntUid from '../../../mixins/storyBlok';
import getCalculatedImageSize from '../../../mixins/imageSizes';
import getFormattedBlokImageSizes from '../../../mixins/imageSizes';
import getAspectRatio from '../../../mixins/image';

import Parallax from 'vue-parallaxy';

export default {
  components:{
    Parallax
  },
  mixins: [
    getImage,
    getCntUid,
    getCalculatedImageSize,
    getAspectRatio,
    getFormattedBlokImageSizes
  ],
  props: {
    //@TODO - how do we use this?
    autoSizes: {
      type: Boolean,
      default: false
    },
    useAspectRatio: {
      type: Boolean,
      default: true
    },
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data: function() {
    return {
      //@TODO - defaults not used yet, needs a fallback function
      defaultWidth: 800,
      defaultHeight: 800,
      imageLoaded: false,
      /*focalPointX: this.computedFocalPointX() || 0,
      focalPointY: this.computedFocalPointY() || 0*/
    };
  },
  computed: {
    focalPointX(){
      return this.getWidth() || 0;
      //this.blok.focal_point_x
    },
    focalPointY(){
      //this.blok.focal_point_y
      return 0;
    },
    computedWidth(){
      return 1;
    },
    computedHeight(){
      return 2;
    },
    imageSize(){
      let sizes = null;
      let size = null;
      size = this.getOrientation();
      if(this.hasBlokImageSizes()){
        sizes = this.getBlokImageSizes();
        if(sizes[size]){
          size = sizes[size];
        }
      }
      else if(this.hasBlokImageSize()){
        size = this.getBlokImageSize();
      }

      return size;
    },
    mediaOverlayClassSwitch(){
      return this.mediaOverlayClass();
    }
  },
  mounted(){
    console.log(1);
  },
  methods: {

    mediaOverlayClass(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')){
        if(this.blok['media_overlay']){
          if(this.imageLoaded){
            return 'c-Image__overlay';
          }
        }
      }
      return '';
    },
    getWidth() {
      let width = 0;
      let size = this.getCalculatedImageSize(this.imageSize);
      if (size) {
        if (Object.prototype.hasOwnProperty.call(size, 'width')) {
          if (!isNaN(size['width'])) {
            width = size['width'];
          }
        }
      }
      return width ? width : this.defaultWidth;
    },
    getHeight() {
      let height = 0;
      let size = this.getCalculatedImageSize(this.imageSize);
      if (size) {
        if (Object.prototype.hasOwnProperty.call(size, 'height')) {
          if (!isNaN(size['height'])) {
            height = size['height'];
          }
        }
      }
      return height ? height : this.defaultHeight;
    },
    origIsPortrait() {
      return this.getOriginalWidth() < this.getOriginalHeight();
    },
    origIsLandscape() {
      return this.getOriginalWidth() > this.getOriginalHeight();
    },
    origIsSquare() {
      return this.getOriginalWidth() === this.getOriginalHeight();
    },
    getOriginalSize() {
      if (Object.hasOwnProperty.call(this.blok, 'image')) {
        if (typeof (this.blok.image) !== 'undefined') {
          let urlParts = this.blok.image.substring(2, this.blok.image.length).split('/');
          return urlParts[3];
        }
      }
      return null;
    },
    getOriginalWidth() {
      let size = this.getOriginalSize();
      if (size) {
        let split = size.split('x');
        return Number(split[0]);
      }
      return null;
    },
    getOriginalHeight() {
      let size = this.getOriginalSize();
      if (size) {
        let split = size.split('x');
        return Number(split[1]);
      }
      return null;
    },
    getOriginalAspectRatio() {
      let calc = (Math.round(this.getOriginalHeight()) / Math.round(this.getOriginalWidth()) * 100).toFixed(2);
      return Number(calc);
    },
    //@TODO - turned off - needs sorting
    srcset() {
      let str = '';
      if( this.blok.image ){
        str = this.getImage(this.blok.image, this.size(0.5) + '/' +
                'filters:focal(' + this.focalPointX + 'x' + this.focalPointY + ':' +  this.size() + ')') +
                ' 320w, ' +
                this.getImage(this.blok.image, this.size(0.75) + '/' +
                'filters:focal(' + this.focalPointX + 'x' + this.focalPointY + ':' +  this.size() + ')') +
                ' 640w, ' +
                this.getImage(this.blok.image, this.size() + '/' +
                'filters:focal(' + this.focalPointX + 'x' + this.focalPointY + ':' +  this.size() + ')') +
                ' 1024w';

      }

      return str;
    },
    src() {
      //return this.getImage(this.blok.image, '200x200/filters:grayscale()');
      return this.getImage(this.blok.image,
        this.size()
        // + '/' +
        //'100x150'
        // + '/' +
        //'filters:grayscale()'
        // + '/' +
        //'filters:fill(transparent):format(png)'
        // + '/' +
        //'filters:focal((' + this.size() + ':0x0))'
        // + '/' +
        //this.getSmartCrop()
         + '/' +
        `filters:focal(${this.focalPointX}x${this.focalPointY}:${this.size()})`
      );
    },
    size(scale) {
      if (!scale) { //  || scale < 1
        scale = 1;
      }
      return Number(this.getWidth() * scale).toFixed(0) + 'x' + Number(this.getHeight() * scale).toFixed(0);
    },
    // getAspectRatio() {
    //   //return this.getOriginalAspectRatio();
    //   if (this.useAspectRatio) {
    //     return ((Math.round(this.getHeight()) / Math.round(this.getWidth())) * 100).toFixed(2);
    //   } else {
    //     return 0;
    //   }
    // },
    srcPlaceholder() {
      return this.getImage(this.blok.image);
    },

    //@TODO - needs to link with js media query

    sizes() {
      return '(max-width: 320px) 320px, (max-width: 640px) 640px, 1024px';
    },

    // @TODO - needs some SEO plugin here



    pageTitle() {
      return this.$store.state.pageTitle;//getters['getPageTitle'];
    },

    alt() {
      return this.blok.alt ? this.blok.alt : this.pageTitle();
    },
    title() {
      return this.blok.title ? this.blok.title : this.pageTitle();
    },




    hasBlokImageSize() {
      if (this.blok.image_size) {
        if (typeof (this.blok.image_size) === 'string') {
          return true;
        }
      }
      return false;
    },
    hasBlokImageSizes() {
      if (this.blok.image_sizes) {
        if (typeof (this.blok.image_sizes) === 'object') {
          return true;
        }
      }
      return false;
    },
    getBlokImageSize() {
      return this.blok.image_size ? this.blok.image_size : null;
    },
    getBlokImageSizes() {
      let imageSizes = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'image_sizes' )){
        if(typeof this.blok['image_sizes'] === 'object'){
          if(Array.isArray(this.blok['image_sizes'])){//from sbk fields
            if(this.blok['image_sizes'].length > 0){
              if(typeof this.blok['image_sizes'][0] !== 'undefined'){
                if(this.blok['image_sizes'][0]){
                  if(Object.prototype.hasOwnProperty.call(this.blok['image_sizes'][0], 'component')){
                    if(this.blok['image_sizes'][0]['component'] === 'image_size'){
                      imageSizes = this.getFormattedBlokImageSizes();
                    }
                  }
                }
              }
            }
          }
          else{ //is object - not from sbk fields
            imageSizes = this.blok['image_sizes'];
          }
        }
      }
      return imageSizes;
    },
    getSmartCrop() {
      return this.blok.smart_crop ? 'smart' : ''; //@TODO!!! - fix
    },
    getBlokHeight() {
      if (this.blok.height && this.blok.height > 0) {
        return this.blok.height;
      }
      return null;
    },
    getBlokWidth() {
      if (this.blok.width && this.blok.width > 0) {
        return this.blok.width;
      }
      return null;
    },
    getOrientationClass() {
      let prefix = 'c-Image--';
      return prefix + this.getOrientation();
    },
    getOrientation() {
      let orientation = '';
      if (this.origIsPortrait()) {
        orientation = 'portrait';
      } else if (this.origIsLandscape()) {
        orientation = 'landscape';
      } else if (this.origIsSquare()) {
        orientation = 'square';
      }
      return orientation;
    },
    load() {
      //console.log('load - ' + this.id);
      this.imageLoaded = true;
      //@TODO - needs checks

      /*if(Object.hasOwnProperty.call(this.$parent, '$parent')){
        if(Object.hasOwnProperty.call(this.$parent.$parent, '$parent')){
          if(Object.hasOwnProperty.call(this.$parent.$parent.$parent, 'imageInView')){
            if(typeof(this.$parent.$parent.$parent['imageInView']) === 'function'){
              this.$parent.$parent.$parent.imageInView();
            }
          }
        }
      }*/
    },
    intersect() {
      //console.log('intersect');
    },
  }
};
</script>

<style src="./Image.scss" lang="scss"></style>
