<template>
  <div
    v-editable="blok"
    class="c-ImageGroup1"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components:{
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            components: {
              figure_group: {
                position_v: 'top',
                show_captions: true,
                group_captions: true,
                layout: 1,
                label: 'Figure---',
              }
            }
          }
        }
      }
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      let numCols = 1;
      let mergedBlok = this.blok;
      mergedBlok = this.addFakeGrpSbkDataWrapper(mergedBlok, 'figure_group', 'figures');
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(mergedBlok).length > 0) {
          mergedBlok = this.getMergedData(mergedBlok, numCols);
        }
      }
      return mergedBlok;
    }
  },
};

</script>
