<template>
  <div
    v-editable="blok"
    class="c-ImageGroup1"
  >
    <grid
      :blok="{
        grid_classes: 'left-gutter right-gutter'
      }"
    >
      <c-col
        :blok="{
          large: 20,
        }"
      >
        <figure-group
          :blok="blokMerge()"
        />
      </c-col>
    </grid>
  </div>
</template>
<script>
//@TODO - Add notes & instructions to these project files

import FigureGroup from '../../../../src/components/Organisms/FigureGroup/FigureGroup.vue';
import Grid from '../../../../src/components/Templates/Grid/Grid';
import CCol from '../../../../src/components/Templates/Col/Col';

export default {
  components:{
    FigureGroup,
    Grid,
    CCol
  },
  props:{
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      overrides: {
        options: {
          group_captions: 'grouped',
          layout: 7,
          label: 'Fig.',

          elements: { //@NOTE - add all potential sbk eles here
            figures:[
              {
                images: [ //@NOTE - must be array
                  {
                    width: 820,
                    height: 785
                  },
                ],
              },
              {
                images: [
                  {
                    width: 540,
                    height: 385,
                    smart_crop: true,
                  },
                ]
              }
            ]
          }
        }
      }
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      return {
        ...this.blok,
        ...this.overrides
      };
    }
  },
};

</script>
