.c-Stats {
  @include v-spacing('padding', 20px, 50px);
  background-color: $c-light-grey;
  width: 100%;

  .c-Stats__title {
    margin-bottom: 30px;
  }

  .c-Stats__items {
    .c-Stats__item {
      @include v-spacing('padding-top', 10px, 30px);
      @include v-spacing('padding-bottom', 10px, 30px);
      border-bottom: 1px solid rgba($c-black, 0.1);

      &:first-child {
        border-top: 1px solid rgba($c-black, 0.1);
      }
    }
    .c-Stats__label {
       margin-top: 0;
        margin-bottom: 10px;
     }

    .c-Text{

    }
  }

}
