<template>
  <div v-editable="blok">
    <grid
      :class="`  ${positionHClasses()}`"
    >
      <!--${gridClasses()}-->
      <c-col
        :class="` c-Col ${colClasses()} ${colOffsetClasses()}`"
      >
        <div
          :class="` ${gridClasses()}  ${positionHClasses()} `"
        >
          <div
            class="c-Stats"
          >
            <h4
              v-if="blok.title"
              class="c-Stats__title h4 sans-serif"
            >
              {{ blok.title }}
            </h4>

            <div
              class="c-Stats__items"
            >
              <div
                v-for="(item, index) in blok.stats"
                :key="item._uid"
                class="c-Stats__item "
              >
                <h5 class="c-Stats__label sans-serif">
                  {{ prefix }} {{ index + 1 }}
                </h5>
                <c-markdown
                  :blok="{markdown: item.markdown}"
                  class="copy-small"
                />
              </div>
            </div>
          </div>
        </div>
      </c-col>
    </grid>
  </div>
</template>

<script>
import CText from '../../Atoms/Text/Text';
import CMarkdown from '../../Atoms/Markdown/Markdown';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import colOffsetClasses from '../../../mixins/sbkCssClasses';

export default {
  components:{
    Grid,
    CCol,
    CText,
    CMarkdown,
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    colOffsetClasses
  ],
  props: {
    blok: {
      required: true,
      type: Object,
    },
  },
  computed:{
    prefix() {
      return this.blok.prefix && this.blok.prefix.trim() !== '' ? this.blok.prefix : 'Stat.';
    }
  },
  mounted(){
    //console.log(1);
  }
};
</script>

<style src="./Stats.scss" lang="scss"></style>
