<template>
  <div
    v-editable="blok"
    class="c-Quote"
  >
    <grid
      v-editable="blok"
      :class="`xxx ${gridClasses()} ${positionHClasses()} `"
    >
      <c-col
        :class="`${colClasses()} ${textAlignClasses()}`"
        data-test="test"
      >
        <blockquote
          class="c-Quote__blockquote"
        >
          <c-text
            :text="blok.text"
            :class="`c-Quote__text h4 ${quoteClasses}`"
          />
        </blockquote>
      </c-col>
    </grid>
  </div>
</template>

<script>
import CText from '../../Atoms/Text/Text';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import textAlignClasses from '../../../mixins/sbkCssClasses';
export default {
  components: {
    Grid,
    CCol,
    CText
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    textAlignClasses
  ],
  props: {
    blok: {
      type: Object,
      required: true,
    }
  },
  computed: {
    quoteClasses(){
      if(this.blok.position){
        return 'align-' + this.blok.position;
      }
      return '';
    }
  }
};
</script>

<style src="./Quote.scss" lang="scss" scoped></style>
