.c-Quote {
  .c-Quote__blockquote {
    margin: 0;
    padding: 0;
    border: none;
    color: $c-black;
  }

  .c-Quote__text {
    @include v-spacing('font-size', 25px, 40px);
    font-family: $f-serif;
    // text-indent: 1.2rem;
    &:before {
      content: '\201C';
      // transform: scale(3.5) translateY(0.2rem) translateX(-0.7rem);
      display: inline-block;
      font-family: sans-serif;
    };
    &:after {
      content: '\201D';
      // transform: scale(3.5) translateY(0.25rem) translateX(-0.5rem);
      display: inline-block;
      font-family: sans-serif;
    }
  }
}
