<template>
  <div
    v-editable="blok"
    class="c-Text"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter ',
          grid_classes: '',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              markdown: {
                sbk_controls: {
                  position_h: {},
                  block_style: {
                    type: 'col_mod'
                  },
                  width: {},
                  left_gutter: {},
                  right_gutter: {},
                  remove_top_space: {},
                  remove_bottom_space: {},
                },
                col_sizes: {
                  medium: 18
                },
                col_offsets: {
                  medium: 0
                },
                col_mods:{},
              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./Text.scss" lang="scss"></style>

