<template>
  <div class="c-Map">
    <div
      v-if="projects.length > 0"
      class=" u-relative u-hidden "
    >
      <c-GoogleMap
        :blok="{projects: projects}"
      />
    </div>
  </div>
</template>
<script>
import CGoogleMap from '../../../components/Molecules/GoogleMap/GoogleMap';
import {getStoriesData} from '@/serverFunctions/sbk';

export default {
  components: {
    CGoogleMap
  },
  props: {
    blok: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      projects: []
    };
  },
  mounted(){
    //console.log(1);
    const self = this;
    let stories = this.blok.stories;
    //@TODO - move this to asyncData, sustainability/factories can't be put in here

    if(!stories || stories.length === 0){ //@TODO - needs better checks
      /*this.getS....({
        per_page: 99,
        is_startpage: false,
        starts_with: 'sustainability/factories'
      }, {}).then(function(res){
        if(res){
          self.projects = self.formatData(res);
        }
      });*/
    }
    else{
      self.projects = self.formatData(stories);
    }
  },
  created(){
    //console.log(1);
  },
  methods:{
    async setMap(){
      this.settings = this.$store.getters['sbk/settings/getSettings'];
      this.projects = this.formatData(this.settings);


      let locationsData = await getStoriesData({starts_with: 'sustainability/factories', is_startpage: false}, {}, null, true);

      console.log('locationsData');

      console.log(locationsData);


    },
    formatData(data){
      let formattedData = [];
      data.forEach(function(story){
        formattedData.push({
          id: Number(story.id),
          title: story.content.title,
          lat: Number(story.content.lat),
          lng: Number(story.content.lng),
          desc: story.content.subtitle,
          url: '/' + story.full_slug,
          img: story.content.feature_image[0] ? story.content.feature_image[0].image : '', //@TODO needs better checks than this
        });
      });
      return formattedData;
    }
  },
};
</script>

<style src="./Map.scss" lang="scss"></style>
