<template>
  <div
    v-editable="text"
    v-if="text"
    class="c-Text"
  >
    {{ text }}
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: '',
      required: true,
    }
  },
};
</script>

<style src="./Text.scss" lang="scss" scoped></style>
