<!-- @TODO - move buildBlok to mixins and use in all cnts -->
<!-- @TODO - layout needs renaming, replace conditional tpl snippets with vars -->
<!-- @TODO - remove layout conditions, use computed props for col values instead -->
<template>
  <div
    v-editable="blok"
    class="c-Split"
  >
    <div :class="` grid-wrapper ${gridWrapperClasses()} `">
      <grid
        :class="gridClasses()"
      >
        <c-col
          :blok="blok.column_1"
          :class="`${colClasses()} ${layoutClasses()} ${columnClasses(1)}`"
        />
        <c-col
          :blok="blok.column_2"
          :class="`${colClasses()} ${layoutClasses()} ${columnClasses(2)}`"
        />
      </grid>
    </div>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import Grid from '../Grid/Grid';
import CCol from '../Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import gridWrapperClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol,
  },
  mixins: [
    cName,
    gridClasses,
    gridWrapperClasses,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    layoutClasses(){
      //@TODO - locked into 20 col grid! need to remove this dep with calc functions
      if(Object.prototype.hasOwnProperty.call(this.blok, 'layout')) {
        if (typeof (this.blok.layout) === 'string') {
          if (this.blok.layout === '50/50') {
            return 'medium-' + 10;
          }
        }
        return '';
      }
    },
    columnClasses(colNum){
      let name = 'column_' + colNum + '_classes';
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, name)) {
        if (typeof (this.blok[name]) === 'string') {
          if(this.blok[name] !== ''){
            classes += this.blok[name];
          }
        }
      }
      return classes;
    },
  },
};
</script>

<style src="./Split.scss" lang="scss"></style>
