<template>
  <div
    class="c-PostBoxLayout4"
  >
    <div
      v-if="!blok.disable_links"
    >
      <nuxt-link
        v-if="blok.fields.link"
        :to="blok.fields.link"
        class="post"
      >
        <slot name="image">
          <div
            v-if="blok.fields.image.length > 0"
            class="c-PostBox__bg"
          >
            <c-image
              v-if="mediaType() === 'image'"
              :blok="imageBlok()"
            />
            <c-vimeo
              v-if="mediaType() === 'video'"
              :blok="videoBlok()"
            />
          </div>
          <div v-else>
            no image
          </div>
        </slot>

        <div class="c-PostBox__contents">
          <slot name="category">
            <span
              v-if="blok.fields.category"
              class="c-PostBox__category"
            >
              {{ blok.fields.category.name }}
            </span>
          </slot>

          <slot name="title">
            <h3
              v-if="blok.fields.title"
              class="c-PostBox__title h3 sans-serif"
              v-html="blok.fields.title"
            >
              <!-- {{ blok.fields.title }} -->
            </h3>
          </slot>


          <slot
            v-if="blok.link_text"
            name="link"
          >
            <a
              v-if="blok.fields.link"
              :href="blok.fields.link"
              class="c-Link c-Link--underline"
            >
              {{ blok.link_text }}
            </a>
          </slot>
        </div>
      </nuxt-link>
    </div>

    <div v-else>
      <slot name="image">
        <div
          v-if="blok.fields.image.length > 0"
          class="c-PostBox__bg"
        >
          <c-image
            :blok="{
              ...blok.fields.image[0],
              ...{image_sizes: blok.image_sizes},
              ...{image_size: blok.image_size}
            }"
          />
        </div>
        <div v-else>
          no image
        </div>
      </slot>

      <div class="c-PostBox__contents">
        <slot name="category">
          <span
            v-if="blok.fields.category"
            class="c-PostBox__category"
          >
            {{ blok.fields.category.name }}
          </span>
        </slot>

        <slot name="title">
          <h3
            v-if="blok.fields.title"
            class="c-PostBox__title h3 sans-serif"
          >
            {{ blok.fields.title }}
          </h3>
        </slot>


        <slot
          v-if="blok.link_text"
          name="link"
        >
          <a
            v-if="blok.fields.link"
            :href="blok.fields.link"
            class="c-Link c-Link--underline"
          >
            {{ blok.link_text }}
          </a>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CPostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';

export default {
  components: {
    CImage,
    CVimeo
  },
  extends: {
    CPostBox
  },
  mixins:[
    mediaType
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    },
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }

  },

  mounted() {
    //console.log(1);
  },
  methods:{
    imageBlok(){
      return {
        ...this.blok.fields.image[0],
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax},

      };
    },
    videoBlok(){
      return {
        ...this.blok.fields.image[0],
        ...{media_overlay: this.blok.media_overlay},
      };
    }
  }
};
</script>

<style src="./PostBoxLayout4.scss" lang="scss"></style>
