.c-PostBox {
  a {
    text-decoration: none;
  }

  .c-PostBoxLayout4 {
    //padding: 35px;
    text-align: center;
    overflow: hidden;
    position: relative;
    // height: 420px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .c-PostBox__bg {
      // position: absolute;
      //height: 100%;
      // width: 100%;
      // top: 0;
      // bottom: 0;
      // left: 0;
      // right: 0;
      img{
        z-index: 1;
      }
    }

    .c-PostBox__contents {
      position: relative;
      text-align: center;
      color: $c-white;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

    }

    .c-Link--underline {
      color: rgba($c-white, 0.8);
      border-bottom-color: rgba($c-white, 0.8);

      &:hover {
        color: $c-white;
      }
    }

    .c-PostBox__title{
      margin-bottom: 0;
      padding: 20px;
    }
  }
}
