<template>
  <div
    v-if="chapters && chapters.length > 0 && chapterDataNotEmpty(chapters[0])"
    class="FlexibleContent"
  >
    <flexible-layout
      v-for="(chapter, idx) in chapters"
      :key="idx"
      :class="[chapter.name, {'bg-transparent': isOverlay(chapter)}] "

    >
      <!--cName(chapter.component) - {{ cName(chapter.component) }} - <pre> {{ chapter }}</pre>-->
      <component
        v-if="chapter.component"
        :is="cName(chapter.component)"
        :blok="blokMerge(chapter, idx)"
      />
    </flexible-layout>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import cntBlokHasValidData from '../../../mixins/sbkDataMerge';
import cntHasBlok from '../../../mixins/sbkDataMerge';
import cntBlokDataStructureIsPresent from '../../../mixins/sbkDataMerge';
import isWrapperCnt from '../../../mixins/storyBlok';
import FlexibleLayout from '../FlexibleLayout/FlexibleLayout';
import CPlaceholder from '../Placeholders/FlexibleContentPlaceholder/FlexibleContentPlaceholder';
import { EventBus } from '@/plugins/event-bus';

export default {
  name: 'FlexibleContent',
  components: {
    FlexibleLayout,
    CPlaceholder
  },
  mixins: [
    cName,
    cntBlokHasValidData,
    cntHasBlok,
    cntBlokDataStructureIsPresent,
    isWrapperCnt
  ],
  props: {
    chapters: {
      required: true,
      type: Array,
      default: () => []
    },
    flexibleData: {
      required: false,
      type: Object,
      default: () => {}
    },
    authors: {
      required: false,
      type: Array,
      default: () => []
    },
    sectionName: {
      required: false,
      type: String,
      default: ''
    },
    sectionType: {
      required: false,
      type: String,
      default: ''
    },
    ctype: {
      required: false,
      type: String,
      default: ''
    },
    useWaypoints: {
      required: false,
      type: Boolean,
      default: false
    },
  },
  //@TODO - shouldn't be set here, use page tpls and global project settings
  data(){
    return {
      inViewport: false,
      intersectionOptions: {
        root: null,
        //rootMargin: '-100% 340px 230px 890px',
        rootMargin: '0px 0px 0px 0px',
        threshold: 0 // if you want a 25% offset!//  [0, 1] //
      }
    };
  },
  computed: {

    step(){
      let step = 1;
      if(this.cntHasBlok(this.chapters[0])){
        step = 1;
        if(this.cntBlokDataStructureIsPresent(this.chapters[0])){
          step = 2;
        }
      }
      return step;
    }
  },
  mounted() {
    //console.log(1);
    if(this.chapters && this.chapters.length > 0){
      if(this.chapterDataNotEmpty(this.chapters[0])){
        //console.log(2);
      }
    }
  },
  methods: {

    hasWaypoint(idx){
      if(this.useWaypoints){
        let wp = this.useWaypoints;
        if(typeof wp === 'boolean'){
          if(wp){
            return true;
          }
        }
        else if(typeof wp === 'object' && Array.isArray(wp)){
          if(wp.indexOf(idx) > -1 ){
            return true;
          }
        }
      }
      return false;
    },

    //@TODO - need to use dynamic function, callback
    onWaypoint ({ el, going, direction }) {

      if (direction === this.$waypointMap.DIRECTION_TOP) {
        console.log('flexibleContent - onWaypoint() -> top -> turn black');
        // console.log(el)
        //EventBus.$emit( 'localMenuSwitch', 'black' );
        EventBus.$emit( 'menuSwitch', 'black' );
      }
      if (direction === this.$waypointMap.DIRECTION_BOTTOM) {
        console.log('flexibleContent - onWaypoint() -> top -> turn white');
        // console.log(el)
        //EventBus.$emit( 'localMenuSwitch', 'white' );
        EventBus.$emit( 'menuSwitch', 'white' );
      }

      //this.$emit('waypoint-function', going);
    },

    isOverlay(chapter){
      //@TODO - check container cnt names, col, grid etc
      //@TODO - make recursive

      let story = null;
      if(Object.prototype.hasOwnProperty.call(this.$parent, 'story')) {
        story = this.$parent['story'];
      }
      else if(Object.prototype.hasOwnProperty.call(this.$parent.$parent, 'story')) {
        story = this.$parent.$parent['story'];
      }
      else if(Object.prototype.hasOwnProperty.call(this.$parent.$parent.$parent, 'story')) {
        story = this.$parent.$parent.$parent['story'];
      }
      else if(Object.prototype.hasOwnProperty.call(this.$parent.$parent.$parent.$parent, 'story')) {
        story = this.$parent.$parent.$parent.$parent['story'];
      }

      if(!Array.isArray(story && typeof (story) === 'object')){
        if(Object.prototype.hasOwnProperty.call(story, 'content')) {
          if (!Array.isArray(story['content'] && typeof (story['content']) === 'object')) {
            if(Object.prototype.hasOwnProperty.call(story['content'], 'fixed_header')){
              if(story['content']['fixed_header']){
                if (Object.prototype.hasOwnProperty.call(chapter, 'overlay')) {
                  if (chapter['overlay']) {
                    return true;
                  }
                }
              }
            }
          }

        }
      }
      return false;
    },
    chapterDataNotEmpty(blok){
      return this.cntBlokHasValidData(blok);
    },
    blokMerge(chapter, idx){
      let blok = chapter;
      if(this.ctype && this.ctype !== ''){
        blok = {...blok, ...{ctype: this.ctype}};
      }
      blok = this.mergeAuthorsWithBlokForWrappers(blok);
      blok = this.mergeFlexibleData(blok);
      return {...blok, ...{num: idx}};
    },

    //@TODO - needs to handle this nesting :-
    // map, grid > col > map, split > map, single > map
    //factory_action_buttons, grid > col > factory_action_buttons, split > factory_action_buttons, single > factory_action_buttons
    //@TODO - needs to handle wrappers, column_1, etc. merge with wrappers functions?
    //@TODO - needs to be recursive to handle unlimited nesting

    mergeFlexibleData(blok){
      let layoutCnts = ['grid', 'col', 'single', 'split'];
      //if(Object.prototype.hasOwnProperty.call(this, 'flexibleData')) {//@TODO - why doesnt this work here?
      if(typeof (this.flexibleData) === 'object'){
        if(Object.keys(this.flexibleData).length > 0){
          for(let cntName in this.flexibleData){
            if(Object.prototype.hasOwnProperty.call(this.flexibleData, cntName)){
              if(Object.prototype.hasOwnProperty.call(blok, 'component')){
                if(layoutCnts.includes(blok['component'])){
                  if(Object.prototype.hasOwnProperty.call(blok, 'elements')) {
                    if (Array.isArray(blok['elements']) && typeof (blok['elements'] === 'object')){
                      if (Object.keys(blok['elements']).length > 0) {
                        for(const key of Object.keys(blok['elements'])){
                          if(Object.prototype.hasOwnProperty.call(blok['elements'][key], 'component')){
                            if(blok['elements'][key]['component'] === 'col'){
                              if(Object.prototype.hasOwnProperty.call(blok['elements'][key], 'elements')){
                                if (Array.isArray(blok['elements']) && typeof (blok['elements'][key]['elements'] === 'object')){
                                  if (Object.keys(blok['elements'][key]['elements']).length > 0) {
                                    for(const key2 of Object.keys(blok['elements'][key]['elements'])) {
                                      if (Object.prototype.hasOwnProperty.call(blok['elements'][key]['elements'][key2], 'component')) {
                                        if (blok['elements'][key]['elements'][key2]['component'] === cntName) {
                                          blok['elements'][key]['elements'][key2] = {...blok['elements'][key]['elements'][key2], ...this.flexibleData[cntName]};
                                          return blok;
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                else if(blok['component'] === cntName){
                  blok = {...blok, ...this.flexibleData[cntName]};
                  return blok;
                }
              }
            }
          }
        }
      }
      return blok;
    },

    mergeAuthorsWithBlokForWrappers(blok){
      let self = this;
      //@TODO - change name for wrappers
      if(Object.prototype.hasOwnProperty.call(blok, 'component')) {
        //@TODO - these checks are needed, not sure why
        if (Object.prototype.hasOwnProperty.call(this, 'isWrapperCnt')) {
          if (typeof (this['isWrapperCnt']) === 'function') {
            if (this.isWrapperCnt(blok['component'])) {
              let keys = Object.keys(blok);
              let colKeys = keys.filter(function (key) {
                return key.indexOf('column_') > -1;
              });
              for (let colKey of colKeys) {
                if (Array.isArray(blok[colKey]) && typeof (blok[colKey]) === 'object') {
                  if (blok[colKey].length > 0) {
                    let i = 0;
                    for (let cnt of blok[colKey]) {
                      if (Object.prototype.hasOwnProperty.call(cnt, 'component')) {
                        if (cnt['component'] === 'authors') {//@TODO - dont do this here in the lib
                          cnt['authors'] = self.authors;
                          blok[colKey][i] = cnt;
                        }
                      }
                      i++;
                    }
                  }
                }
              }
            }
          }
        }
      }
      return blok;
    }
  }
};
</script>

<style lang="scss" scoped>
  .FlexibleContent {
      position: relative;
      z-index: 1;
      // overflow: hidden;
  }
</style>
