.c-Markdown {
  p{
    &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  a {
    color: $c-link-color;//rgba(#000000, 0.5);
    border-bottom: 1px solid $c-link-border;//rgba(#000000, 0.5);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
        color: rgba(#000000, 1);
        border-bottom: 1px solid rgba(#000000, 1);
    }
  }
  &__text-align-left {
    text-align: left;
  }
  &__text-align-center {
    text-align: center;
  }
  &__text-align-right {
    text-align: right;
  }

  ul {
    // margin-bottom: 50px;
    list-style: none;
    line-height: 32px;

    li {
      padding-left: 25px;
      margin-left: 25px;
      position: relative;


      &:before {
        content: '';
        display: inline-block;
        background-color: #000000;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: 16px;//50%;
        left: 0;
        // transform: translateY(-50%);
      }
    }
  }
}

#md-title{
  color: blue;
}

div[data-prefix]:before {
    content: attr(data-prefix);
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    max-width: 100%;

    border-bottom: 1px solid #000000;
    line-height: 3;
    vertical-align: text-bottom;

    //@include v-spacing('font-size', 10px, 12px);
    font-size: 12px;
    //font-family: $f-expanded; //@TODO - shouldn't be here
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

div[data-prefix] {
  h3, h4 {
    display: inline;
  }
}
