<template>
  <grid
    v-editable="blok"
    :class="`${blockStyleClasses()} ${widthClasses()} ${gridClasses()} ${textAlignClasses()} ${positionHClasses()} ${gutterClasses()}  ${removeSpaceClasses()} ` "
  >
    <!--${colClassesSwitch()}-->
    <c-col
      :class="` ${colClasses()} ${colOffsetClasses()} `"
    >
      <slot name="text">
        <div
          v-if="blok.prefix"
          :data-prefix="blok.prefix"
          class="c-Markdown"
          v-html="parsed"
        />
        <div
          v-else
          class="c-Markdown"
          v-html="parsed"
        />
      </slot>
    </c-col>
  </grid>
</template>

<script>

//@TODO - shouldn't use * here?
//@TODO - use dataCnt property in these cnts?
//@TODO - gridClasses/colClasses can be common to data cnts that have grid and col elements in tpl markup
//@TODO - needs common getClass('inner_col_grid') method with type checking

import * as helpers from '../../../plugins/helpers';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import textAlignClasses from '../../../mixins/sbkCssClasses';
import gutterClasses from '../../../mixins/sbkCssClasses';
import colOffsetClasses from '../../../mixins/sbkCssClasses';
import widthClasses from '../../../mixins/sbkCssClasses';
import removeSpaceClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    textAlignClasses,
    gutterClasses,
    colOffsetClasses,
    widthClasses,
    removeSpaceClasses
  ],
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    parsed () {
      return helpers.markdown(this.builtMarkdown);
    },
    builtMarkdown(){
      let str = '';
      if(this.blok.pre_tag)
        str += this.blok.pre_tag;
      str += this.blok.markdown;
      if(this.blok.post_tag)
        str += this.blok.post_tag;
      return str;
    }
  },
  mounted(){
    // console.log(1);
  }
};
</script>

<style src="./Markdown.scss" lang="scss"></style>
