.c-PostBox{
  .c-PostBox__contents{
    z-index: 2;
  }

  .c-Vimeo {
    height: 100%;
    
    video {
      display: block;
      // height: 100%;//auto;

      min-height: 100%;//100vh;
      min-width: 100%;
      max-width: none;
    }
  }

  .c-Link--underline {
    border: none;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $c-white;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 0;
        transition: max-width .3s ease-in-out;
    }
  }

  a:hover .c-Link--underline,
  .c-Link--underline:hover {
    &:before {
      max-width: 100%;
    }
  }
}