<template>
  <div
    v-editable="blok"
    :class="`c-PostBox ${blok.classes ? blok.classes : ''}`"
  >
    <div v-if="layouts.length > 0 && postBoxLayoutLoader">
      <div
        v-if="!hasBlokFields()"
      >
        <fetch-story
          :params="params"
          :story-uid="blok.post"
        >
          <div slot-scope="{ loading, story }">

            <div v-if="loading">
              <!--Loading stories...-->
              <!-- @TODO - loader component needed here, sync with sbk live preview -->
            </div>
            <div v-else>
              <component
                :is="postBoxLayoutLoader"
                :blok="getLayoutBlok(story)"
              />
            </div>
          </div>
        </fetch-story>
      </div>

      <div v-else>
        <component
          :is="postBoxLayoutLoader"
          :blok="getLayoutBlok(blok.fields)"
        />
      </div>
    </div>
  </div>
</template>
<script>

/*
@TODO - add labels
@TODO - NEEDS fallback images
@TODO - video images, with svg overlay?
@TODO - needs to use grid / col - remove foundation deps
@TODO - use a loop for fields
@TODO - use dynamic field data
@TODO - needs extendable templates with fallbacks
@TODO - dynamically name slots
@TODO - use component switching for layouts? see figure group
@TODO - use renderless components for layouts?
@TODO - needs an accompanying field definition with each layout
*/

import PostBoxLayout1 from './layouts/PostBoxLayout1/PostBoxLayout1';
import PostBoxLayout2 from './layouts/PostBoxLayout2/PostBoxLayout2';
import PostBoxLayout3 from './layouts/PostBoxLayout3/PostBoxLayout3';
import PostBoxLayout4 from './layouts/PostBoxLayout4/PostBoxLayout4';
import PostBoxLayout5 from './layouts/PostBoxLayout5/PostBoxLayout5';
import PostBoxLayout6 from './layouts/PostBoxLayout6/PostBoxLayout6';
import PostBoxLayout7 from './layouts/PostBoxLayout7/PostBoxLayout7';
import PostBoxLayout8 from './layouts/PostBoxLayout8/PostBoxLayout8';
import formatLayouts from '../../../mixins/storyBlok';
import getLayoutNumberWithId from '../../../mixins/storyBlok';
import isSbUUID from '../../../mixins/storyBlok';
import getPostBoxFields from '../../../mixins/storyBlok';
import FetchStory from '../../Functional/FetchStory/FetchStory';

export default {
  components:{
    FetchStory,
    PostBoxLayout1,
    PostBoxLayout2,
    PostBoxLayout3,
    PostBoxLayout4,
    PostBoxLayout5,
    PostBoxLayout6,
    PostBoxLayout7,
    PostBoxLayout8
  },
  mixins: [
    formatLayouts,
    getLayoutNumberWithId,
    isSbUUID,
    getPostBoxFields
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
  },
  data(){
    return {
      story: {},
      params: {}
    };
  },
  computed: {
    postBoxLayoutLoader() {

      /*console.log('postBoxLayoutLoader() - this.blok.layout:');

      console.log(this.blok.layout);
      console.log(this.layouts);
      console.log(this.layouts.map((l)=>{ return l.uuid;}));*/

      if(!this.blok.layout)
        return null;

      let layoutNum = null;

      if(!this.isSbUUID(this.blok.layout)){
        layoutNum = this.blok.layout;
      }else if(this.getLayoutNumberWithId(this.layouts, this.blok.layout)){
        layoutNum = this.getLayoutNumberWithId(this.layouts, this.blok.layout);
      }

      return layoutNum ? 'post-box-layout-' + layoutNum : 1;
    },
    labelNum(label, index) {
      return label + (index + 1);
    },
    layoutNum(){
      return this.getLayoutNumberWithId(this.layouts, this.blok.layout);
    },
    byUuids(){
      return this.blok.post;
    },
    layouts(){
      return this.$store.getters['sbk/layouts/getPostBoxLayouts'] || '';
    }
  },
  created(){
    this.buildParams();
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    getMediaOverrides(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_override')){
        if(Array.isArray(this.blok.media_override) && typeof this.blok.media_override === 'object'){
          if(this.blok.media_override.length > 0){
            if(Object.prototype.hasOwnProperty.call(this.blok.media_override[0], 'component')){
              if( this.blok.media_override[0]['component'] === 'plugin_vimeo_video') {
                if (Object.prototype.hasOwnProperty.call(this.blok.media_override[0], 'plugin_vimeo_video')) {
                  if (Object.prototype.hasOwnProperty.call(this.blok.media_override[0]['plugin_vimeo_video'], 'vimeo_raw')) {
                    if (this.blok.media_override[0]['plugin_vimeo_video']['vimeo_raw'].trim() !== '') {
                      return this.blok.media_override;
                    }
                  }
                }
              }
              else if( this.blok.media_override[0]['component'] === 'image' ){//if image
                return this.blok.media_override;
              }
            }
          }
        }
      }
      return null;
    },
    //@TODO - split into 2 functions
    getLayoutBlok(fields){
      return {
        ...this.blok,
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{fields: this.hasBlokFields() ? fields : this.getPostBoxFields(fields, this.getMediaOverrides() || null)},//@TODO - need fields here??
        ...{media_overlay: this.hasMediaOverlay()},
        ...{use_video_in_lists: this.blok.use_video_in_lists},
        ...{use_parallax: this.blok.use_parallax},
      };
    },
    hasBlokFields(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'fields')) {
        if(typeof (this.blok['fields']) === 'object'){
          if (Object.keys(this.blok['fields']).length > 0) {
            return true;
          }
        }
      }
      return false;
    },
    hasMediaOverlay(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')) {
        if (this.blok['media_overlay']) {
          return true;
        }
      }
      return false;
    },
    useVideo(){

    },
    imageBlok() {
      if(Object.prototype.hasOwnProperty.call(this.blok['fields'], 'image')) {
        if (this.blok['fields']['image'].length > 0) {
          let imgBlok = this.blok['fields']['image'][0];
          if (imgBlok) {
            return {
              ...imgBlok,
              ...{image_sizes: this.blok['image_sizes']}
            };
          }
        }
      }
      return {};
    },
    buildParams(){
      this.params = {
        per_page: 1,

        by_uuids: this.byUuids
      };
      if(typeof this.blok.is_startpage !== 'undefined' && this.blok.is_startpage){
        this.params['is_startpage'] = this.blok.is_startpage;
      }
      if(this.blok.featured){
        this.params['filter_query[featured][in]'] = this.blok.featured;
      }
      if(this.blok.get_by_id){
        this.params['by_uuids_ordered'] = this.blok.get_by_id;
      }
      if(this.blok.resolve_category){
        this.params['resolve_category'] = this.blok.resolve_category;
      }
    }
  }
};
</script>

<style src="./PostBox.scss" lang="scss"></style>
