<template>
  <header
    id="page-header"
    v-editable="blok"
    :class="`c-PageHeader c-PageHeader--light ${layoutClass} ${alignClass} ${fixedHeaderClass}`"
    :style="`background-color: ${bgColor}`"
  >
    <!-- @TODO - use post box cnt here? grid as separate for sliding post headers maybe -->
    <c-post-grid
      v-if="blok.header_type === 'featured_post'"
      :blok="featuredPostGridOpts"
    />
    <div v-else>
      <div
        v-if="blok.header_layout === 'split'"
      >
        <c-grid
          :blok="{
            grid_classes: 'c-PageHeader__grid'
          }"
          class=""
        >
          <c-col
            :blok="getSplitFirstColBlok()"
          >
            <!--, ] -->
            <div
              :class="`c-PageHeader__content left-gutter right-gutter c-PageHeader__content--${contentMode}`"
            >
              <slot name="content">
                <strong
                  v-if="blok.category"
                  class="c-PageHeader__category h6"
                >
                  {{ blok.category.name }}
                </strong>
                <span
                  v-if="blok.date && blok.show_date"
                  class="c-PageHeader__date"
                >
                  {{ blok.date | moment('D MMMM YYYY') }}
                </span>
                <div
                  ref="title"
                  class="c-PageHeader__title-section"
                >
                  <div class="c-PageHeader__title">
                    <slot name="title">
                      <span class="title-prefix">{{ blok.title_prefix }}</span>
                      <h1
                        v-html="hasTitle ? getTitle : defaultLocal.titlePlaceholder"
                      />
                    </slot>
                  </div>

                  <div v-if="! hasContentOverride()">
                    <slot name="subtitle">
                      <div class="c-PageHeader__subtitle">
                        <span
                          v-if="!getSubtitle2"
                          class="h2 serif h2--mobile"
                        >
                          {{ getSubTitle !== '' ? getSubTitle : defaultLocal.subTitlePlaceholder }}
                        </span>

                        <c-markdown
                          v-else
                          :blok="{markdown: getSubTitle}"
                          class="h2 serif h2--mobile"
                        />
                      </div>
                    </slot>

                    <span
                      v-for="(affix, index) in blok.affix"
                      :key="index"
                    >
                      <c-affix
                        :blok="affix"
                        :idx="index"
                      />
                    </span>

                    <slot
                      v-if="blok.link_affix && blok.link_affix_title"
                      name="link_affix"
                    >
                      <div class="c-PageHeader__link-affix">
                        <a
                          :href="`/${blok.link_affix.cached_url}`"
                          class="c-Link c-Link--underline"
                        >
                          {{ blok.link_affix_title }}
                        </a>
                      </div>
                    </slot>
                  </div>
                  <div
                    v-else
                  >
                    <div
                      class="c-PageHeader__content-override"
                    >
                      <c-Markdown
                        :blok="{markdown: getContentOverride()}"
                      />
                    </div>
                  </div>
                </div>
              </slot>
            </div>
          </c-col>
          <c-col
            :blok="getSplitSecondColBlok()"
          >
            <div
              v-if="blok.feature_image"
              v-waypoint="waypointSetting"
              class="c-PageHeader__bg"
            >
              <slot name="bg">
                <!-- @TODO - change name to feature_media & sbk field  -->
                <c-image
                  v-if="hasFeaturedMedia && featuredIsImage"
                  :blok="imageBlok"
                />
                <c-vimeo
                  v-else-if="hasFeaturedMedia && featuredIsVideo"
                  :blok="videoBlok"
                />
                <div v-else>
                  <c-image
                    :blok="defaultLocal.imagePlaceholder"
                  />
                </div>
              </slot>
            </div>
          </c-col>
        </c-grid>
      </div>

      <div
        v-else-if="blok.header_layout === '' || blok.header_layout === 'full'"
      >
        <c-grid
          :blok="{
            grid_wrapper_classes:'left-gutter right-gutter'
          }"
          class="xxx"
        >
          <c-col
            :blok="{
              classes: ' ',
              col_sizes: {
                medium: 20
              }
            }"
          >
            <!--:class="['c-PageHeader__content left-gutter right-gutter', {'c-PageHeader__content&#45;&#45;dark': bgColor}]"-->
            <!-- @TODO - use variables instead -->
            <div
              :class="`c-PageHeader__content left-gutter right-gutter c-PageHeader__content--${contentMode}`"
            >
              <strong
                v-if="blok.category"
                class="c-PageHeader__category h6"
                :style="{opacity: opacity}"
              >
                {{ blok.category.name }}
              </strong>
              <span
                v-if="blok.show_date && blok.date"
                class="c-PageHeader__date"
                :style="{opacity: opacity}"
              >
                {{ blok.date | moment('D MMMM YYYY') }}
              </span>

              <div
                :style="{opacity: opacity}"
                class="c-PageHeader__title-section"
              >
                <slot name="title">
                  <div class="c-PageHeader__title">
                    <span class="title-prefix">{{ blok.title_prefix }}</span>
                    <!--<div v-waypoint="{ active: false, callback: onWaypoint, options: intersectionOptions }">-->

                    <!--<h3>bgColor - {{ bgColor }}</h3>
                    <h3>contentMode - {{ contentMode }}</h3>-->
                    <h1 v-html=" hasTitle !== '' ? getTitle : getDefault('titlePlaceholder')">
                      <!-- {{ hasTitle !== '' ? getTitle : getDefault('titlePlaceholder') }} -->
                    </h1>
                    <!--</div>-->
                  </div>
                </slot>
                <slot name="subtitle">
                  <div class="c-PageHeader__subtitle">
                    <span class="h4 serif">
                      <span v-if="!getSubtitle2">
                        {{ getSubTitle !== '' ? getSubTitle : defaultLocal.subTitlePlaceholder }}
                      </span>

                      <c-markdown
                        v-else
                        :blok="{markdown: getSubTitle}"
                        class="xxxccc "
                      />

                    </span>
                  </div>
                </slot>

                <!--<slot
                  v-if="blok.link_affix && blok.link_affix_title"
                  name="link_affix"
                >
                  <div class="c-PageHeader__link-affix">
                    <a
                      v-if="!blok.affix_link_off"
                      :href="`/${blok.link_affix.cached_url}`"
                      class="c-Link c-Link&#45;&#45;underline"
                    >
                      {{ blok.link_affix_title }}
                    </a>
                    <span
                      v-else
                      class="c-PageHeader__link-affix"
                      @click="linkAffixLinkClick()"
                    >
                      <a class="c-Link c-Link&#45;&#45;underline">{{ blok.link_affix_title }}</a>

                    </span>
                  </div>
                </slot>

-->

                <!--<pre>
                  {{ blok.affix }}
                </pre>-->
                <span
                  v-for="(affix, index) in blok.affix"
                  :key="index"
                >
                  <c-affix
                    :blok="affix"
                    :idx="index"
                  />
                </span>
              </div>
            </div>

            <!--<div class="c-PageHeader__arrow">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24.814" height="13.971" viewBox="0 0 24.814 13.971"><defs><clipPath id="a"><rect width="24.814" height="13.971" fill="none"/></clipPath></defs><g clip-path="url(#a)"><g transform="translate(-948 -890.807)"><path d="M27.19,1.092,25.029,3.481s6.1,6.648,9.153,9.428v.382c-3.052,3.176-9.153,9.745-9.153,9.745l2.161,2.87L39,13.1Z" transform="translate(973.906 865.777) rotate(90)" fill="#fff"/></g></g></svg>
            </div>-->

            <div
              v-if="blok.feature_image"
              v-waypoint="waypointSetting"
              class="c-PageHeader__bg"
            >
              <slot name="bg">
                <!-- @TODO - change name to feature_media & sbk field  -->
                <c-image
                  v-if="hasFeaturedMedia && featuredIsImage"
                  :blok="imageBlok"
                />
                <c-vimeo
                  v-else-if="hasFeaturedMedia && featuredIsVideo && featuredIsVimeo"
                  :blok="videoBlok"
                />
                <c-simple-video
                  v-else-if="hasFeaturedMedia && featuredIsVideo && !featuredIsVimeo"
                  :blok="videoBlok"
                />
                <div v-else>
                  <c-image
                    :blok="defaultLocal.imagePlaceholder"
                  />
                </div>
              </slot>
            </div>
          </c-col>
        </c-grid>
      </div>
    </div>
  </header>
</template>

<script>

//@TODO - break up into separate cnts, e.g. PageHeaderSplit, PageHeaderFeaturedPost etc, use cnt switcher
//@TODO - swap post grid with post box
//@TODO - can we make this reusable? if not put it in the project
import CImage from '../../Atoms/Image/Image';
import CMarkdown from '../../Atoms/Markdown/Markdown';
import CGrid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import CPostGrid from '../PostGrid/PostGrid.vue';
import getLayoutNumberWithId from '../../../mixins/storyBlok';
import CSimpleVideo from '../../../components/Organisms/SimpleVideo/SimpleVideo';
import CVimeo from '../../../components/Atoms/Vimeo/Vimeo';
import { EventBus } from '@/plugins/event-bus';
import CAffix from '@/node_modules/six-storyblok-library/src/components/Molecules/Affix/Affix';

export default {
  name: 'PageHeader',
  components: {
    CImage,
    CGrid,
    CCol,
    CPostGrid,
    CSimpleVideo,
    CVimeo,
    CMarkdown,
    CAffix
  },
  mixins:[
    getLayoutNumberWithId
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    defaults: {
      type: Object,
      default: () => {}
    },
    label: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    textAlign:{
      type: String,
      default: () => 'left'
    },
    use_waypoint:{
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      inViewport: false,
      intersectionOptions: {
        root: null,
        //rootMargin: '-100% 340px 230px 890px',
        rootMargin: '0px 0px 0px 0px',
        threshold: 0 //  [0, 1]
      },


      //@TODO - still needed??
      headerImage: {
        width: 1920,
        height: 1200
      },
      featuredPostGridOpts: {
        num_posts: 1,
        offset: 0,
        num_cols_s: 20,
        num_cols_m: 20,
        num_cols_l: 20,
        starts_with: 'journal/',//@TODO - shouldnt have ctype here - needs passing as prop from page
        featured: true,
        per_page: 1,
        resolve_relations: 'category',//@TODO - shouldnt have category here - needs passing as prop from page
        layout: 'bba09150-e908-4d46-b8c4-77ac1d7e2054'//header lyt
        //@TODO!!! - breaking the dep rules with ctype and layout!
        //@TODO - use layout here, postbox_layout is used in flexi, header_layout naming is confusing also
      },
      defaultLocal: {
        imagePlaceholder: {
          component: 'image',
          height: '500',
          image: '//a.storyblok.com/f/85633/1920x1080/908bc12ee0/placeholder.jpg',
          smart_crop: false,
          width: '1920'
        },
        titlePlaceholder: '',
        subTitlePlaceholder: ''
      },

      opacity: 1
    };
  },
  computed: {
    //@TODO - complete checks needed
    //@TODO - move most of these into methods

    contentMode(){
      //{bgColor ? 'c-PageHeader__content--dark': 'c-PageHeader__content--light'}

      //@TODO - expand this with array of modes adjusted at the project level
      let contentMode = 'light'; //@TODO - default would be overridden by passed prop if available

      if(Object.prototype.hasOwnProperty.call(this.blok, 'header_content_mode')){
        if(typeof this.blok['header_content_mode'] !== 'undefined') {
          if (typeof this.blok['header_content_mode'] === 'string') {
            //@TODO - would check against array const here
            if(this.blok['header_content_mode'].trim() !== ''){
              contentMode = this.blok['header_content_mode'].trim();
            }
          }
        }
      }
      return contentMode;
    },
    waypointSetting(){
      if(this.use_waypoint){
        return { active: this.blok.use_waypoints, callback: this.onWaypoint, options: this.intersectionOptions };
      } else {
        return false;
      }
    },
    hasWayPoint(){
      return this.blok['use_waypoints'];
    },
    fixedHeaderClass(){
      EventBus.$emit( 'bodyClasses', 'page-header--fixed' );
      return Object.prototype.hasOwnProperty.call(this.blok, 'fixed_header') && this.blok['fixed_header'] ? ' c-PageHeader--fixed ' : '';
    },
    featuredIsImage(){
      return this.blok.feature_image[0].component === 'image';
    },
    featuredIsVideo(){
      return this.blok.feature_image[0].component === 'video_player' || this.blok.feature_image[0].component === 'simple_video' || this.blok.feature_image[0].component === 'plugin_vimeo_video';
    },
    featuredIsVimeo(){
      return this.blok.feature_image[0].component === 'plugin_vimeo_video';
    },
    hasFeaturedMedia(){
      return this.blok.feature_image && this.blok.feature_image[0];
    },
    hasTitle(){
      return this.blok.title;
    },
    getSubTitle(){
      let subtitle = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'subtitle')){
        if(typeof(this.blok['subtitle']) === 'string'){
          if(this.blok['subtitle'].trim() !== ''){
            subtitle = this.blok['subtitle'];
          }
        }
      }
      //@TODO - tmp - shouldnt do this here, needs dynamic field selection
      if(Object.prototype.hasOwnProperty.call(this.blok, 'position_name')){
        if(typeof (this.blok['position_name']) === 'string'){
          if(this.blok['position_name'].trim() !== ''){
            subtitle = this.blok['position_name'];
          }
        }
      }

      //@TODO!!!!! - tmp
      let subtitle2 = this.getSubtitle2;
      if(subtitle2){
        subtitle = subtitle2;
      }
      return subtitle;
    },

    getSubtitle2(){
      let subtitle = null;
      if(Object.prototype.hasOwnProperty.call(this.blok, 'subtitle2')){
        if(typeof(this.blok['subtitle2']) === 'string'){
          if(this.blok['subtitle2'].trim() !== ''){
            subtitle = this.blok['subtitle2'];
          }
        }
      }
      return subtitle;
    },

    getTitle(){
      let title = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'title')){
        if(typeof(this.blok['title']) === 'string'){
          if(this.blok['title'].trim() !== ''){
            title = this.blok['title'];
          }
        }
      }

      return title;
    },
    getLabel(){
      let category = this.blok.category;

      if(this.label){
        return this.label;
      } else if(category) {
        return category.name;
      } else {
        return '';
      }
    },

    imageBlok() {
      let params = {};
      let imageSize = this.imageSize();//@NOTE - hard-coded images size dependency
      if(Object.prototype.hasOwnProperty.call(this.blok, 'feature_image')) {
        if (this.blok['feature_image'].length > 0) {
          let imgBlok = this.blok['feature_image'][0];
          if (imgBlok) {
            if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')){
              params['media_overlay'] = this.blok['media_overlay'];
            }
            if(Object.prototype.hasOwnProperty.call(imgBlok, 'image_size')){
              if(imgBlok['image_size']){
                if(typeof imgBlok['image_size'] === 'string' ){
                  if(imgBlok['image_size'] !== ''){
                    imageSize = imgBlok['image_size'];
                  }
                }
              }
            }
            params['image_size'] = imageSize;
            return {
              ...imgBlok,
              ...params
            };
          }
        }
      }
      return {};
    },

    videoBlok() {
      let params = {};
      let videoBlok = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'feature_image')) {
        if (this.blok['feature_image'].length > 0) {
          if (this.blok['feature_image'][0]) {
            if(Object.prototype.hasOwnProperty.call(this.blok['feature_image'][0], 'component')){
              if(this.blok['feature_image'][0]['component'] === 'plugin_vimeo_video'){
                // videoBlok = this.buildVimeoBlok(videoBlok);
                videoBlok = this.buildVimeoBlok(this.blok['feature_image'][0]);
              }
              else if (this.blok['feature_image'][0]['component'] === 'simple_video') {
                videoBlok = this.blok['feature_image'][0];
              }
            }
            if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')){
              params['media_overlay'] = this.blok['media_overlay'];
            }
            return {
              ...videoBlok,
              ...params
            };
          }
        }
      }
      return {};
    },
    layoutClass() {
      if(this.blok.header_layout) {
        return `c-PageHeader--${this.blok.header_layout} `;
      } else {
        return '';
      }
    },
    alignClass() {
      if(this.blok.header_text_align) {
        return `c-PageHeader--${this.blok.header_text_align} `;
      } else if(this.textAlign) {
        return `c-PageHeader--${this.textAlign} `;//@TODO - fix this
      } else {
        return '';
      }
    },
    bgColor() {
      //@TODO - needs proper checks
      if(this.blok.header_background_color) {
        return this.blok.header_background_color.color;
      } else {
        return '#000';
      }
    }
    //@TODO - light and dark color values need to come from project brand scheme
    /*lightBg() {
      return this.blok.header_background_color.color === '#ffffff';
    },*/
  },
  mounted(){

    console.log('PageHeader - ' + this.blok.header_layout);

    /*EventBus.$on('localMenuSwitch', (color) => {
      //this.type = color === 'black' ? 'dark' : 'transparent';
      this.menuState = color === 'black' ? 2 : 1;
    });*/

    if(this.blok.header_layout==='split'){
      document.body.className += ' has-split-header';
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    linkAffixLinkClick(){
      //console.log('linkAffixLinkClick()');
      EventBus.$emit( 'linkAffixLinkClick');
    },
    onWaypoint ({ el, going, direction }) {
      if (direction === this.$waypointMap.DIRECTION_TOP) {
        //console.log('waypoint -> top -> turn black');
        // console.log(el)
        //EventBus.$emit( 'localMenuSwitch', 'black' );
        EventBus.$emit( 'menuSwitch', 'black' );
      }
      if (direction === this.$waypointMap.DIRECTION_BOTTOM) {
        //console.log('waypoint -> bottom -> turn white');
        // console.log(el)
        //EventBus.$emit( 'localMenuSwitch', 'white' );
        EventBus.$emit( 'menuSwitch', 'white' );
      }
    },
    handleScroll(e) {
      let scrollPercent = (window.innerHeight - (window.scrollY*2)) / window.innerHeight;
      if (scrollPercent >= 0) {
        this.opacity = scrollPercent;
      }
    },
    getSplitFirstColBlok(){
      return {
        classes: ' split-1 align-self-bottom ',
        col_sizes: {
          medium: 18,//10,
          large: 10
        }
      };
    },
    getSplitSecondColBlok(){
      return {
        classes: ' split-2 align-self-top',
        col_sizes: {
          // medium: 10,
          large: 10
        }
      };
    },
    hasContentOverride(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'content_override')){
        if(typeof (this.blok['content_override']) === 'string'){
          if(this.blok['content_override'].trim() !== ''){
            return true;
          }
        }
      }
      return false;
    },
    getContentOverride(){
      let content = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'content_override')){
        if(typeof (this.blok['content_override']) === 'string'){
          if(this.blok['content_override'].trim() !== ''){
            content = this.blok['content_override'].trim();
          }
        }
      }
      return content;
    },
    getDefault(name){
      return this.mergeDefaults()[name];
    },
    mergeDefaults(){
      let blokDefaults = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'defaults')){
        blokDefaults = this.blok['defaults'];
      }
      return {...this.defaultLocal, ...blokDefaults};
    },
    buildVimeoBlok(videoBlok){
      let vimeoBlok = null;
      if(Object.prototype.hasOwnProperty.call(videoBlok, 'component')) {
        if (videoBlok['component'] === 'plugin_vimeo_video') {
          vimeoBlok = {
            component: 'vimeo',
            elements: [
              videoBlok
            ]
          };
        }
      }
      return vimeoBlok;
    },
    imageSize(){
      let size = 'large_landscape';
      if(this.blok.header_layout === 'split'){
        size = 'large_portrait';
      }
      return size;
    }
  }
};
</script>

<style src="./PageHeader.scss" lang="scss"></style>
