.c-PageHeader {
    height: 100vh;
    position: relative;
    width: 100%;
    max-width: 100%;
    //overflow-x: hidden;
    // overflow: hidden;

    .c-PageHeader__grid.c-Grid {
        height: 100vh;
        position: relative;
    }

    &__date {
        font-size: 15px;//12px;
    }

    &__subtitle, &__content-override {
        max-width: 80%;
    }

    &__title {
        text-transform: uppercase;

        @include breakpoint(large) {
            margin-top: 20px;
        }

        h1 {
            @include breakpoint(medium only) {
                font-size: 30px;
            }
        }

        .c-PageHeader--center & {
            margin-top: 0;
        }
    }

    &__subtitle h2.h4{
        margin-bottom: 10px;
    }

    .c-PostBox {
        & > div {
            height: 100vh;
        }

        .c-Image {
            height: 100%;
        }
    }
    &__content {
        //margin-left: 30px;
    }

    &__arrow {
        position: absolute;
        top: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .c-PageHeader__category {
        margin-right: 5px;
    }
}

.c-PageHeader--dark {
    .c-PageHeader__content {
        color: $c-white;
    }
}

.c-PageHeader__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c-black, 0.4);
    transition: background-color 3000ms ease-in-out;
    z-index: 1;
}

.c-PageHeader__bg {
    position: relative;
    height: 100vh;
    z-index: 1;
    overflow: hidden; // test

    // &>div {
    //     //height: 100%;
    // }

    .c-Image {
        //opacity: 0;
        position: absolute;
        //top: 50%; // 0
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        /*transform: translateY(-50%);*/

        img {
            object-fit: cover;
            object-position: top;
            width: 100%;
            height: 100%;
        }
    }

    .c-Video,
    .c-SimpleVideo {
        height: 100vh;
        width:100%;

        &>div {
            height: 100%;
        }

        .c-VideoPlayer {
            height: 100%;
            video {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.c-PageHeader__content {
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: 2;
    width: 75%;
}

.c-PageHeader--center {
    .c-PageHeader__content {
        position: absolute;
        z-index: 6;
        width: 85%;
        text-align: center;
        top: 50%;
        left: 5%;
        bottom: auto;
        transform: translateY(-50%);
    }

    &__subtitle, &__content-override{
        //margin: auto;
        max-width: 70%;
    }
}

.c-PageHeader--full {
    .c-PageHeader__content{
        position: absolute;
    }

    .c-Link--underline {
        position: relative;
        border: none;

        &:before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $c-white;
            position: absolute;
            bottom: 0;//30px;
            left: 0;
            max-width: 0;
            transition: max-width .3s ease-in-out;
        }

        &:hover {
            &:before {
                max-width: 100%;
            }
        }
    }
}

.c-PageHeader--split {
    @include breakpoint(large) {
        overflow: hidden;
    }

    .c-Grid{
        .c-Col{
            &:first-child{
                //background: red;
            }
        }
    }
    .c-PageHeader__title-section{

    }
    .c-PageHeader__bg,
    .c-PageHeader__overlay {
        @include breakpoint(large) {
            z-index: 2;
            /*width: 50%;
            left: 50%;*/
        }
    }
    .c-PageHeader__content {
        @include breakpoint(large) {
            //width: 50%;
        }
        &--dark {
            color: $c-black;
        }
    }
}

.c-PageHeader--split.c-PageHeader--left_spaced {
    .c-Grid {
        .c-Col {
            &:first-child {
                align-self: flex-end;
                .c-PageHeader__title{
                    margin-top: 10rem;
                }
            }
        }
    }
    .c-PageHeader__content{
        .c-PageHeader__title-section{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
        }
    }
}

.c-PageHeader--fixed {
    .c-PageHeader__bg  {
        overflow: visible; // Fix for safari / ios

        .c-Image, .c-PostBox, .c-SimpleVideo, .c-Vimeo {
            position: fixed;
        }
        .c-Vimeo {
            width: 100%;
        }
    }
    .c-PageHeader__overlay {
        position: fixed;
    }
}

.c-PageHeader--center {
    .c-PageHeader__subtitle, &__content-override{
        margin: auto;
    }
}

//@TODO - shouldn't be here like this, needs better selectors, links to dynamic fields tasks (post launch)

.c-PageHeader.c-PageHeader--split.c-PageHeader--left .c-PageHeader__subtitle,
.c-PageHeader.c-PageHeader--split.c-PageHeader--left_spaced .c-PageHeader__subtitle,
.c-PageHeader.c-PageHeader--split.c-PageHeader--left_spaced .c-PageHeader__content-override{
    padding-bottom: 50px;
}

//c-PageHeader--dark c-PageHeader--split  c-PageHeader--left_spaced

.c-PageHeader__link-affix {
    @include breakpoint(large) {
        margin-bottom: 100px;
    }

    .c-PageHeader--center & {
        margin-bottom: 0;
    }
}
