<template>
  <div
    v-editable="blok"
    class="wc-Accordion"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: '',
          grid_classes: '',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              accordion_group: {
                sbk_controls: {
                  position_h : {},
                  title: {}
                },
                col_sizes: {
                  medium: 16,
                },
                col_offsets: {
                  medium: 6,
                },
              },
            },
          },
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./Accordion.scss" lang="scss"></style>

