<template v-editable="post">
  <div
    v-if="post"
    :class="`c-DynamicPostBox ${classes}`"
  >
    <!-- <pre>
       {{ this.$store }}
     </pre>-->

    <slot>
      <!-- <pre>
          {{ this.$store.state.stories[this.countPost] }}
        </pre> -->

      <div v-if="post.content && (post.content.component !== 'journal_essay')">
        <h4>{{ post.content.component }}</h4>
        <!--<h4 v-if="post.content.category">{{ post.content.category.name }}</h4>-->

        <!--<pre>
            {{ post.content.category }}
          </pre>
  -->
      </div>


      <!--<router-link
          v-if="post.content"
          :to="'/' + post.full_slug"
          class="post"
        >-->
      <!--<div v-if="post.content">
          <div
            v-if="post.content.feature_image"
            class="c-PostBox__bg"
          >
            &lt;!&ndash; Atom: Image &ndash;&gt;
            <c-image
              v-for="post in post.content.feature_image"
              :key="post._uid"
              :src="post.image"
              :blok="post"
            />
          </div>
          <div class="c-PostBox__text">
            <div class="post__inner">
              <span
                v-if="post.content.category"
                class="category"
              >{{ post.content.category.name }}</span>
              &lt;!&ndash;<span class="category">{{getCategory(blok.content.category)}}</span>&ndash;&gt;

              <h2>{{ post.content.title }}</h2>
              <h4>{{ post.content.subtitle }}</h4>
            </div>
          </div>
        </div>-->
      <!--</router-link>-->
    </slot>
  </div>
</template>

<script>
export default {
  props: {
    'classes': {
      type: String,
      'default': ''
    }
  },
  data() {
    return {
      countPost: this.$store.state.countPost,
    };
  },
  computed: {
    post: function () {
      return this.$store.state.stories[this.countPost];
    }
  },
  created() {
    this.incrementPostCount();
  },
  methods: {
    incrementPostCount() {
      this.$store.commit('increment');
    },
    mounted(){
      /*console.log('d-post-box - this.store:');
      console.log(this.store);*/
    }
  }
};
</script>

<style src="./DynamicPostBox.scss" lang="scss"></style>
