.c-DynamicPostBox {
  position: relative;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &__bg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba($c-black, 0.3);
    }
  }

  &__text {
    position: absolute;

    left: 5%;
    right: 5%;
    bottom: 5%;
    //width: 100%;
    // height: 100%;
    color: $c-white;
  }

  .c-Image {
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
      height: -webkit-fill-available;
      width: 100%;
    }
  }

}