<template>
  <div v-editable="blok">
    <div
      v-if="blok.size == 'normal'"
      class="c-Video"
    >
      <div class="grid-container">
        <div class="grid-x">
          <div class="small-20 large-16 large-offset-3 cell">
            <div
              :style="'mask-image: url('+blok.mask+'); -webkit-mask-image: url('+blok.mask+'); mask-box-image: url('+blok.mask+'); -webkit-mask-box-image: url('+blok.mask+'); -o-mask-image: url('+blok.mask+'); -moz-mask-image: url('+blok.mask+');'"
              class="c-Video__mask"
            >
              <!-- Atom: VideoPlayer -->
              <c-videoplayer
                v-for="video in blok.video"
                :key="video._uid"
                :blok="video"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="c-Video"
    >
      <div
        :style="'mask-box-image: url('+blok.mask+'); -webkit-mask-box-image: url('+blok.mask+'); mask-image: url('+blok.mask+'); -webkit-mask-image: url('+blok.mask+'); -o-mask-image: url('+blok.mask+'); -moz-mask-image: url('+blok.mask+');'"
        class="c-Video__mask"
      >
        <!-- Atom: VideoPlayer -->
        <c-videoplayer
          v-for="video in blok.video"
          :key="video._uid"
          :blok="video"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true,
    }
  },
};
</script>

<style src="./VideoMask.scss" lang="scss" scoped></style>
