.c-Video {

    video {
        object-fit: cover;
    }

}

.c-Video__mask {
    mask-size: contain;
    -webkit-mask-size: contain;

    mask-position: center;
    -webkit-mask-position: center;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    // mask-box-image-width: 50%;
    // -webkit-mask-box-image-width: 50%;
}