.c-PostBox {
  a {
    text-decoration: none;
  }

  .c-PostBoxLayout5 {
    text-align: center;
    position: relative;
    height: 500px;//100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .c-PostBox__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }


    .c-PostBox__contents {
      position: relative;
      text-align: center;
      color: $c-white;
      z-index: 2;
      // top: 50%;
      // transform: translateY(-50%);
    }
    
    .c-PostBox__title {
      font-family: $f-expanded;
      text-transform: uppercase;
    }

    .c-Image {
      height: 100%;
      // img {
      //   height: 100%;//-webkit-fill-available;
      //   width: 100%;
      //   object-fit: cover;
      //   object-position: center;
      // }
    }

    .c-Link--underline {
      color: rgba($c-white, 0.8);
      border-bottom-color: rgba($c-white, 0.8);

      &:hover {
        color: $c-white;
      }
    }
  }
}
