<template>
  <!-- HEADER layout -->
  <div
    class="c-PostBoxLayout5"
  >
    <nuxt-link
      v-if="blok.fields.link"
      :to="blok.fields.link"
      class="post"
    >
      <slot name="image">
        <div
          v-if="blok.fields.image.length > 0"
          class="c-PostBox__bg"
        >
          <image-atom
            v-for="fImage in blok.fields.image"
            :key="fImage._uid"
            :src="fImage.image"
            :blok="fImage"
            :auto-sizes="true"
          />
          <!-- :auto-sizes="false" -->
        </div>
        <div v-else>
          no image
        </div>
      </slot>

      <div class="c-PostBox__contents">
        <!-- <pre>
          {{ blok }}
        </pre> -->
        <slot name="category">
          <strong
            v-if="blok.fields.category"
            class="h6"
          >{{ blok.fields.category.name }}
          </strong>
          <span v-if="blok.fields.date"> {{ blok.fields.date | moment('D MMMM YYYY') }}</span>
        </slot>

        <slot name="title">
          <h1
            v-if="blok.fields.title"
            class="c-PostBox__title"
            v-html="blok.fields.title"
          >
            <!-- {{ blok.fields.title }} -->
          </h1>
        </slot>

        <slot name="subtitle">
          <h2
            v-if="blok.fields.subtitle"
            class="c-PostBox__subtitle h4"
          >
            {{ blok.fields.subtitle }}
          </h2>
        </slot>
        <!-- <slot
          v-if="blok.show_date"
          name="date">
          <div
            v-if="blok.fields.date"
            class="c-PostBox__date"
          >
            {{ blok.fields.date | moment('D MMMM YYYY') }}
          </div>
        </slot> -->

        <!-- <slot name="category">
          <span
            v-if="blok.fields.category"
            class="c-PostBox__category"
          >
            {{ blok.fields.category.name }}
          </span>
        </slot> -->
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import ImageAtom from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';

export default {
  components: {
    Grid,
    CCol,
    ImageAtom,
    CVimeo
  },
  extends: {
    PostBox
  },
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    },
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }
  }
};
</script>

<style src="./PostBoxLayout5.scss" lang="scss"></style>
