<template>
  <div
    v-editable="blok"
    v-if="blok"
    :class="`c-Col ${blokClasses()} ${localColClasses()} `"
  >
    <!-- @NOTE - only from sbk -->
    <slot>
      <div
        :class="`${stickyModifierClass('c-Col')} ${gutterClasses()} `"
      >
        <div
          v-for="(component, idx) in colCnts()"
          :key="idx"
        >
          <component
            v-if="component"
            :is="getCntName(component)"
            :blok="component"
          />
        </div>
      </div>
    </slot>
  </div>
  <div v-else>
    <slot />
  </div>
</template>

<script>

import cVimeo from '../../../components/Atoms/Vimeo/Vimeo';
import cName from '../../../mixins/storyBlok';
import buildColSizeClasses from '../../../mixins/foundationCss';
import buildSbkColClasses from '../../../mixins/foundationCss';
import buildColOffsetClasses from '../../../mixins/foundationCss';
import stickyModifierClass from '../../../mixins/sbkCssClasses';
import gutterClasses from '../../../mixins/sbkCssClasses';
import blokClasses from '../../../mixins/sbkCssClasses';
//import offsetClasses from '../../../mixins/sbkCssClasses';
import getColModSbkCtrlOpts from '../../../mixins/sbkControls';

export default {
  components:{
    cVimeo
  },
  mixins:[
    cName,
    buildColSizeClasses,
    buildSbkColClasses,
    buildColOffsetClasses,
    stickyModifierClass,
    gutterClasses,
    blokClasses,
    //offsetClasses,
    getColModSbkCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  mounted(){
    // console.log(1);
  },
  methods: {
    hasBlok() { //@TODO - move to mixin
      return this.blok;
    },
    hasBlokElements() { //@TODO - move to mixin
      return this.blok.components;
    },
    sbkColSizes(){
      //@TODO - global array of breakpoints needed - loop through here
      let sizes = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'small')){
        if(!isNaN(Number(this.blok['small']))){
          if(Number(this.blok['small']) > 0){
            sizes['small'] = Number(this.blok['small']);
          }
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'medium')){
        if(!isNaN(Number(this.blok['medium']))){
          if(Number(this.blok['medium']) > 0){
            sizes['medium'] = Number(this.blok['medium']);
          }
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'large')){
        if(!isNaN(Number(this.blok['large']))){
          if(Number(this.blok['large']) > 0){
            sizes['large'] = Number(this.blok['large']);
          }
        }
      }
      return sizes;
    },
    sbkColOffsets(){
      //@TODO - global array of breakpoints needed - loop through here
      let offsets = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'small_offset')){
        if(!isNaN(Number(this.blok['small_offset']))){
          if(Number(this.blok['small_offset']) > 0){
            offsets['small_offset'] = Number(this.blok['small_offset']);
          }
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'medium_offset')){
        if(!isNaN(Number(this.blok['medium_offset']))){
          if(Number(this.blok['medium_offset']) > 0){
            offsets['medium_offset'] = Number(this.blok['medium_offset']);
          }
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'large_offset')){
        if(!isNaN(Number(this.blok['large_offset']))){
          if(Number(this.blok['large_offset']) > 0){
            offsets['large_offset'] = Number(this.blok['large_offset']);
          }
        }
      }
      return offsets;
    },
    localColClasses() {//@NOTE - name change to fix a conflict with colClasses
      //@TODO - name changes needed for e.g. colClasses
      //@TODO - use default ' cell ' class here?
      //@TODO - better checks needed
      let colClasses = '';
      let colSizes = {};
      let colOffsets = {};
      let offsetClasses = '';

      /*if(this.hasSbkWidthControl()){
        //colSizes = {...colSizes, ...this.getSbkWidthControlColSizes()};
      }*/


      //@TODO - needs better checks
      if (Object.prototype.hasOwnProperty.call(this.blok, 'col_sizes')) {
        colSizes = this.blok['col_sizes'];
      }

      if (Object.prototype.hasOwnProperty.call(this.blok, 'col_offsets')) {
        colOffsets = this.blok['col_offsets'];
      }

      if(this.hasSbkColModifierOption()){
        colSizes = {...colSizes, ...this.getColSizesWithMods()};
        colOffsets = {...colSizes, ...this.getColOffsetsWithMods()};
      }

      colSizes = {...colSizes, ...this.sbkColSizes()};
      colOffsets = {...colOffsets, ...this.sbkColOffsets()};

      colClasses = this.buildColSizeClasses(colSizes);
      offsetClasses = this.buildColOffsetClasses(colOffsets);

      //@TODO!!!! - causing dupes? use merge instead of concatenation? needs to use numbers and dedupe
      return colClasses + offsetClasses;
    },
    hasSbkColModifierOption(){
      if (Object.prototype.hasOwnProperty.call(this.blok, 'components')) {
        if (typeof (this.blok['components']) !== 'undefined') {
          if (typeof (this.blok['components']) === 'object') {
            if (Object.keys(this.blok['components']).length > 0) {
              if (typeof (this.blok['components'][0]) !== 'undefined') {
                if (Object.prototype.hasOwnProperty.call(this.blok['components'][0], 'sbk_controls')) {
                  if (Object.keys(this.blok['components'][0]['sbk_controls']).length > 0) {
                    if(!Array.isArray(this.blok['components'][0]['sbk_controls']) && typeof(this.blok['components'][0]['sbk_controls']) === 'object'){
                      if(this.getColModSbkCtrlOpts(this.blok['components'][0]['sbk_controls']).length > 0){
                        return true;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      return false;
    },
    hasSbkWidthControl(){
      if (Object.prototype.hasOwnProperty.call(this.blok, 'components')) {
        if (typeof (this.blok['components']) !== 'undefined') {
          if (Array.isArray(this.blok['components']) && typeof (this.blok['components']) === 'object') {
            if (Object.keys(this.blok['components']).length > 0) {
              if(typeof(this.blok['components'][0]) !== 'undefined') {
                if (Object.prototype.hasOwnProperty.call(this.blok['components'][0], 'sbk_controls')) {
                  if (Object.keys(this.blok['components'][0]['sbk_controls']).length > 0) {


                    if (Object.prototype.hasOwnProperty.call(this.blok['components'][0]['sbk_controls'], 'width')) {
                      if (!Array.isArray(this.blok['components'][0]['sbk_controls']['width']) &&
                              typeof (this.blok['components'][0]['sbk_controls']['width']) === 'object') {
                        return true;
                      }
                    }


                  }
                }
              }
            }
          }
        }
      }
      return false;
    },
    getSbkWidthControlColSizes(){
      let classes = '';
      if (Object.prototype.hasOwnProperty.call(this.blok, 'components')) {
        if (typeof (this.blok['components']) !== 'undefined') {
          if (Array.isArray(this.blok['components']) && typeof (this.blok['components']) === 'object') {
            if (Object.keys(this.blok['components']).length > 0) {
              if(typeof(this.blok['components'][0]) !== 'undefined') {
                if(Object.prototype.hasOwnProperty.call(this.blok['components'][0], 'sbk_controls')){
                  if(Object.keys(this.blok['components'][0]['sbk_controls']).length > 0){
                    if (Object.prototype.hasOwnProperty.call(this.blok['components'][0]['sbk_controls'], 'width')){
                      if(!Array.isArray(this.blok['components'][0]['sbk_controls']['width']) &&
                              typeof (this.blok['components'][0]['sbk_controls']['width']) === 'object'){
                        if (Object.keys(this.blok['components'][0]['sbk_controls']['width']).length > 0) {
                          if (Object.prototype.hasOwnProperty.call(this.blok['components'][0], 'width')) {
                            if (typeof (this.blok['components'][0]['width']) !== 'undefined') {
                              if (typeof (this.blok['components'][0]['width']) === 'string') {
                                if (this.blok['components'][0]['width'] !== '') {
                                  if (Object.prototype.hasOwnProperty.call(this.blok['components'][0]['sbk_controls']['width'], this.blok['components'][0]['width'])) {
                                    if (!Array.isArray(this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']]) &&
                                          typeof (this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']]) === 'object') {
                                      if (Object.prototype.hasOwnProperty.call(this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']], 'col_sizes')) {
                                        if (!Array.isArray(this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']]['col_sizes']) &&
                                              typeof (this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']]['col_sizes']) === 'object') {
                                          classes = this.blok['components'][0]['sbk_controls']['width'][this.blok['components'][0]['width']]['col_sizes'];
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      return classes;
    },

    getColSizesWithMods(){
      return this.getColDataWithMods('col_sizes');
    },

    getColOffsetsWithMods(){
      return this.getColDataWithMods('col_offsets');
    },

    getColDataWithMods(key){
      if (Object.prototype.hasOwnProperty.call(this.blok, 'components')) {
        if (typeof (this.blok['components']) !== 'undefined') {
          if (Array.isArray(this.blok['components']) && typeof (this.blok['components']) === 'object') {
            if (Object.keys(this.blok['components']).length > 0) {
              //@TODO - ties col to cnt, should be one to many rel
              let cnt = this.blok['components'][0];
              if (typeof (cnt) !== 'undefined') {
                if (Object.prototype.hasOwnProperty.call(cnt, 'sbk_controls')) {
                  if (Object.keys(cnt['sbk_controls']).length > 0) {

                    let sbkCtrlOptions = this.getColModSbkCtrlOpts(cnt['sbk_controls']);

                    if (sbkCtrlOptions.length > 0) {

                      //@TODO!!! - lose block_style and loop through

                      if (Object.prototype.hasOwnProperty.call(cnt, 'block_style')) {
                        if (typeof (cnt['block_style']) !== 'undefined') {
                          if (typeof (cnt['block_style']) === 'string') {
                            if (cnt['block_style'] !== '') {
                              if (Object.prototype.hasOwnProperty.call(cnt, 'col_mods')) {
                                if (typeof (cnt['col_mods']) !== 'undefined') {
                                  if (!Array.isArray(cnt['col_mods']) && typeof (cnt['col_mods']) === 'object') {
                                    if (Object.keys(cnt['col_mods']).length > 0) {
                                      if (Object.prototype.hasOwnProperty.call(cnt['col_mods'], 'block_style')) {
                                        if (Object.prototype.hasOwnProperty.call(cnt['col_mods']['block_style'], cnt['block_style'])) {
                                          let selOpt = cnt['col_mods']['block_style'][cnt['block_style']];
                                          if (typeof (selOpt) !== 'undefined') {
                                            if (!Array.isArray(selOpt) && typeof (selOpt) === 'object') {
                                              if (Object.keys(selOpt).length > 0) {
                                                //@TODO!!! use var for col_sizes
                                                if (Object.prototype.hasOwnProperty.call(selOpt, key)) {
                                                  if (typeof (selOpt[key]) !== 'undefined') {
                                                    if (!Array.isArray(selOpt[key]) && typeof (selOpt[key]) === 'object') {
                                                      if (Object.keys(selOpt[key]).length > 0){
                                                        return selOpt[key];
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      return {};
    },

    colCnts(){
      //@TODO - needs splitting, reduce complexity system wide first
      let colCnts = this.blok;
      if(Object.prototype.hasOwnProperty.call(this.blok, 'components')){
        if(Array.isArray(this.blok['components']) && typeof (this.blok['components']) === 'object'){
          if(this.blok['components'].length > 0){
            colCnts = this.blok['components'];
          }
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'elements')){
        if(Array.isArray(this.blok['elements']) && typeof (this.blok['elements']) === 'object'){
          if(this.blok['elements'].length > 0){
            colCnts = this.blok['elements'];
          }
          else {
            colCnts = [];
          }
        }
      }
      if (Array.isArray(colCnts) && typeof (colCnts) === 'object'){
        return colCnts.length > 0 ? colCnts : [];
      }
      else {
        return [colCnts];
      }
    },


    //@TODO - is this function needed?
    getCntName(cnt){
      let name = '';
      if(Object.prototype.hasOwnProperty.call(cnt, 'component')){
        if(typeof(cnt['component']) === 'string'){
          if(cnt.component !== ''){

            name = this.cName(cnt.component);
          }
        }
      }
      else if(typeof(cnt) === 'string'){
        name = this.cName(cnt);
      }
      return name;
    }

  }
};
</script>

<style src="./Col.scss" lang="scss"></style>
