<template>
  <div
    class="c-Menu"
  >
    {{ menu.content.links }}

    <slot name="menuLinks">
      <nav
        v-if="responsive"
        class="[ c-Nav c-Nav--collapse ]"
      >
        <ul
          v-for="(item, index) in menu.content.links"
          :key="index"
        >
          <menu-link
            v-if="item.link.url"
            :key="item.uuid"
            :link="item.link.url"
            :text="item.text"
            :blok="item.image"
          />
        </ul>
      </nav>
    </slot>
  </div>
</template>

<script>
import MenuLink from '../../Molecules/MenuLink/MenuLink';

export default {
  components: {MenuLink},
  props: {
    blok: {
      type: Object,
      required: false,
      default: () => {}
    },
    menu: {
      type: Object,
      required: true,
      default: () => {}
    },
    responsive: {
      type: Boolean,
      required: false,
      default: false
    },
  },
  data() {
    return {
      links: []
    };
  },
  mounted(){

  },
};

</script>

<style src="./Menu.scss" lang="scss"></style>
