<template>
  <div
    :class="`c-FigureGroupLayout8 ${vAlign} ${reverse}`"
  >
    <slot>
      <div class="c-FigureGroup__col">
        <!-- @TODO - shouldn't really use c-Figure class here -->

        <div
          v-if="hasFigures()"
          class="c-Figure__image"
        >
          <c-figure
            v-if="isFigure(0)"
            :blok="imageBlok(0)"
            :label="figLabel()"
            :group-captions="blok.group_captions"
            :use-aspect-ratio="false"
          />
        </div>
      </div>
      <div class="c-FigureGroup__col">
        <div
          v-if="hasFigures()"
          class="c-Figure__image"
        >
          <c-figure
            v-if="isFigure(1)"
            :blok="imageBlok(1)"
            :label="figLabel()"
            :group-captions="blok.group_captions"
            :use-aspect-ratio="false"
          />
        </div>
        <div
          v-if="hasFigures()"
          class="c-FigureGroup__captions"
        >
          <div
            v-for="(image, index) in blok.figures.slice(0, 2)"
            :key="image._uid"
            :blok="image"
            class="c-Caption"
          >
            <h6 class="c-Caption__num ">
              <strong>{{ figLabel() }} {{ index+1 }}</strong>
            </h6>
            <c-text
              v-if="image.captions.length > 0 && image.captions[0].textarea"
              :text="image.captions[0].textarea"
            />
          </div>
        </div>
      </div>
    </slot>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import CGrid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';
import gridClasses from '../../../../../mixins/sbkCssClasses';
import isFigure from '../../../../../mixins/sbkFigureGroups';
import hasFigures from '../../../../../mixins/sbkFigureGroups';
import imageBlok from '../../../../../mixins/sbkFigureGroups';
import figures from '../../../../../mixins/sbkFigureGroups';
import figLabel from '../../../../../mixins/storyBlok';


export default {
  components: {
    CFigure,
    CGrid,
    CCol,
  },
  extends: {
    FigureGroup //@TODO - needed any more?
  },
  mixins: [
    gridClasses,
    figures,
    imageBlok,
    isFigure,
    hasFigures,
    figLabel
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  data(){
    return {
      defaults:{
        classes: {
          grid_classes: 'align-justify'
        },
        image_sizes: {
          0: 'large_portrait',
          1: 'square'
        }
      }
    };
  },
  computed: {
    imageSizes(){
      return this.defaults.image_sizes;
    },
    vAlign (){
      if (!this.blok.caption_position) {
        return '';
      } else {
        return 'c-FigureGroupLayout8--' + this.blok.caption_position;
      }

      // if (!this.blok.position_v || this.blok.position_v === 'top') {
      //   return '';
      // } else {
      //   return 'align-' + this.blok.position_v;
      // }
    },
    reverse () {
      if (this.blok.reverse) {
        return 'c-FigureGroupLayout8--reverse';
      } else {
        return '';
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;//@TODO - default needs to be global?
    },

    // col1Blok(){
    //   return {
    //     col_sizes: {
    //       small: 20,
    //       large: 13
    //     }
    //   };
    // },

    // col2Blok(){
    //   return {
    //     col_sizes: {
    //       small: 20,
    //       large: 5,
    //       largeOffset: 2,
    //       xxlarge: 4,
    //       xxlargeOffset: 3,
    //     },
    //     classes: 'infront'
    //   };
    // },

    // col3Blok(){
    //   return {
    //     col_sizes: {
    //       small: 20,
    //       large: 6,
    //     },
    //     classes: 'pos-bottom-center'
    //   };
    // },

    // col4Blok(){
    //   return {
    //     col_sizes: {
    //       small: 20,
    //       large: 10,
    //     },
    //     classes: 'pos-bottom-right'
    //   };
    // },
  },

  mounted(){
    //console.log(1);
  },

  methods: {
    gridClassesLocal() {
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, ['grid_classes'])){
        classes += this.gridClasses();
      }
      else{
        classes += this.defaults.classes.grid_classes;
      }

      return classes;
    }
  }
};
</script>

<style src="./FigureGroupLayout8.scss" lang="scss"></style>
