.c-FigureGroupLayout8 {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;

  .c-FigureGroup__col {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      align-content: space-between;
  }

  .c-FigureGroup__col:nth-child(1) {
    margin-right: -5%;
  }
}

.c-FigureGroupLayout8--reverse { 
  flex-direction: row-reverse;

  .c-FigureGroup__col {
      align-items: flex-start;
  }

  .c-FigureGroup__col:nth-child(1) {
    margin-right: 0;
  }

  .c-FigureGroup__col:nth-child(2) {
    margin-right: -5%;
  }
}

.c-FigureGroupLayout8--top { 
  .c-FigureGroup__col {
      flex-direction: column-reverse;
  }
}

.c-FigureGroup__captions {
  border-top: 1px solid black;
  padding-top: 20px;
  max-width: 260px;
}