<template>
  <span class="c-Affix">
    <slot
      v-if="blok.affix_link && blok.affix_title"
      name="affix_link"
    >
      <span
        v-if="!blok.affix_switch_link_off"
        :class="`c-PageHeader__link-affix idx-${idx}`"
      >
        <a
          :href="`/${blok.affix_link.cached_url}`"
          class="c-Link c-Link--underline"
        >
          {{ blok.affix_title }}
        </a>
      </span>
      <span
        v-else
        :class="`c-PageHeader__link-affix idx-${idx}`"
      >
        <a
          class="c-Link c-Link--underline"
          @click="clickAffix(idx)"
        >
          {{ blok.affix_title }}
        </a>

      </span>
    </slot>
  </span>
</template>
<script>
import { EventBus } from '@/plugins/event-bus';

export default {
  props:{
    blok: {
      default : () => {},
      type: Object
    },
    idx:{
      default: 999,
      type: Number
    }
  },
  computed:{

  },
  mounted(){
    console.log(1, this.$options.name);
  },
  created(){

  },
  methods:{
    clickAffix(idx){
      EventBus.$emit('linkAffixLinkClick', {idx: idx});
    }

  }
};
</script>

<style lang="scss" src="./Affix.scss"></style>
