<template>
  <div
    class="c-PostBoxLayout1"
  >
    <nuxt-link
      v-if="blok.fields.link"
      :to="blok.fields.link"
      class="post"
    >
      <slot name="image">
        <div
          v-if="blok.fields.image.length > 0"
          class="c-PostBox__bg"
        >
          <c-image
            v-if="mediaType() === 'image'"
            :blok="imageBlok()"
          />
          <c-vimeo
            v-else-if="mediaType() === 'video'"
            :blok="videoBlok()"
          />
        </div>
        <div v-else>
          no image
        </div>
      </slot>

      <div class="c-PostBox__contents">
        <slot name="category">
          <span
            v-if="blok.fields.category"
            class="c-PostBox__category"
          >
            {{ blok.fields.category.name }}
          </span>
        </slot>

        <slot name="title">
          <h2
            v-if="blok.fields.title"
            class="c-PostBox__title h2 sans-serif"
            v-html="blok.fields.title"
          >
            <!-- {{ blok.fields.title }} -->
          </h2>
        </slot>

        <slot name="subtitle">
          <h2
            v-if="blok.fields.subtitle"
            class="c-PostBox__subtitle h2 serif"
          >
            {{ blok.fields.subtitle }}
          </h2>
        </slot>

        <slot
          v-if="blok.link_text"
          name="link"
        >
          <a
            v-if="blok.fields.link"
            :href="blok.fields.link"
            class="c-Link c-Link--underline"
          >
            {{ blok.link_text }}
          </a>
        </slot>

        <slot
          v-if="blok.link_affix && blok.link_affix_title"
          name="link_affix"
        >
          <div class="c-PostBox__link-affix">
            <span
              class="c-Link c-Link--underline"
            >
              {{ blok.link_affix_title }}
            </span>
          </div>
        </slot>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';

export default {
  components: {
    CImage,
    CVimeo
  },
  extends: {
    PostBox
  },
  mixins: [
    mediaType
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    imageBlok(){
      return {
        ...this.getImage(),
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax},
      };
    },
    videoBlok(){
      return {
        ...this.getVideo(),
        ...{media_overlay: this.blok.media_overlay}
      };
    },
    mediaType(){
      let mediaType = 'image';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'fields')){
        if(Object.prototype.hasOwnProperty.call(this.blok['fields'], 'image')){
          if(Array.isArray(this.blok['fields']['image']) && typeof (this.blok['fields']['image'])){
            if(this.blok['fields']['image'].length > 0){
              if(this.blok['fields']['image'][0]['component']==='plugin_vimeo_video'){
                if(typeof(this.blok['use_video_in_lists']) !== 'undefined'){
                  if(this.blok['use_video_in_lists']){
                    mediaType = 'video';
                  }
                }
              }
            }
          }
        }
      }
      return mediaType;
    },
    getImage(){
      if(typeof(this.blok['fields']['image']) !== 'undefined'){
        if(typeof(this.blok['fields']['image'].find(k => k['component']==='image')) !== 'undefined'){
          return this.blok['fields']['image'].find(k => k['component']==='image');
        }
      }
    },
    getVideo(){
      //@TODO - needs better checks
      if(typeof(this.blok['fields']['image']) !== 'undefined'){
        if(typeof(this.blok['fields']['image'].find(k => k['component']==='plugin_vimeo_video')) !== 'undefined'){
          return this.blok['fields']['image'].find(k => k['component']==='plugin_vimeo_video');
        }
      }
    },
  }
};
</script>

<style src="./PostBoxLayout1.scss" lang="scss" scoped></style>
