.c-PostBox {
  a {
    text-decoration: none;
  }

  .c-PostBoxLayout1 {
    text-align: center;
    position: relative;
    // min-height: 100vw;
    height: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    @include breakpoint( large ) {
      height: 100vh;
    }

    .c-PostBox__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }

    .c-PostBox__contents {
      position: relative;
      text-align: center;
    }

    .c-PostBox__title {
      margin-bottom: 15px;
      @include v-spacing('padding-left', 40px, 100px);
      @include v-spacing('padding-right', 40px, 100px);

    }
    .c-PostBox__title,
    .c-PostBox__subtitle {
      color: #ffffff;
    }

    .c-Image {
      height: 100%;
      position: relative;

    }

    .c-SimpleVideo{
      .c-VideoPlayer{
        video{
          height: 100vh;
          object-fit: cover;
        }
      }
    }

    .c-Link--underline {
      color: rgba($c-white, 0.8);
      // border-bottom: 1px solid rgba($c-white, 0.8);

      &:hover {
        color: $c-white;
      }
    }

  }
}
