<template>
  <div
    v-editable="blok"
    class="c-VideoPlayer"
  >
    <div :class=" ` ${mediaOverlayClassSwitch} `" />

    <video
      v-if="blok.controls"
      :src="blok.asset"
      :poster="blok.poster"
      width="100%"
      controls
      muted
      class="1"
    />

    <video
      v-else-if="blok.autoplay_on_scroll"
      :src="blok.asset"
      :poster="blok.poster"
      width="100%"
      autoplay
      playsinline
      loop
      muted
      class="2"
    />

    <video
      v-else-if="blok.controls && blok.autoplay_on_scroll"
      :src="blok.asset"
      :poster="blok.poster"
      width="100%"
      controls
      autoplay
      playsinline
      muted
      class="3"
    />

    <video
      v-else
      :src="blok.asset"
      width="100%"
      muted
      loop
      class="4"
    />
  </div>
</template>

<script>

//@TODO - need to define all props here
//@TODO - add loop option in sbk

export default {
  props: {
    blok: {
      type: Object,
      required: true,
    }
  },
  computed:{
    mediaOverlayClassSwitch(){
      return this.mediaOverlayClass();
    },
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    mediaOverlayClass(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')){
        if(this.blok['media_overlay']){
          //@check video is loaded
          return 'c-VideoPlayer__overlay';
        }
      }
      return '';
    },
  }
};
</script>
<style src="./VideoPlayer.scss" lang="scss"></style>
