.c-VideoPlayer {
  height: 100%;
  video {
    object-fit: cover;
  }
}
.c-VideoPlayer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c-black, 0.3);
    transition: background-color 3000ms ease-in-out;
    z-index: 1;
}
