<template>
  <div :class="`c-Card ${classes}`">
    <div class="c-Card__header">
      <slot name="header" />
    </div>
    <div class="c-Card__content">
      <slot name="content" />
    </div>
    <div class="c-Card__footer">
      <slot name="footer" />
    </div>
  </div>
</template>
<script>
export default{
  props: {
    'classes': {
      type: String,
      'default': ''
    },
    'header': {
      type: Object,
      'default': () => {}
    },
    'content': {
      type: Object,
      'default': () => {}
    },
    'footer': {
      type: Object,
      'default': () => {}
    },
  },
  methods:{

  },
};
</script>
