.c-Author {
    margin: 20px auto;

    @include breakpoint(large){
      margin: 35px auto;
    }

    &__label::first-letter {
      text-transform: uppercase;
    }

    &__label {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 300;
      line-height: 1;
    }

    &__name {
      margin: 0 auto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
