<template>
  <div
    v-if="blok"
    v-editable="blok"
    class="c-Author"
  >
    <div
      v-if="blok.label"
      class="c-Author__label"
    >
      {{ blok.label }}
    </div>
    <h4
      v-if="blok.firstname && blok.surname "
      class="c-Author__name h6"
    >
      {{ name }}
    </h4>
  </div>
</template>

<script>

export default {
  props:{
    blok:{
      type: Object,
      default: () => {}
    }
  },
  computed:{
    name(){
      return this.blok.firstname + ' ' + this.blok.surname;
    }
  },
  mounted() {
    //console.log(1);
  }
};

</script>

<style src="./Author.scss" lang="scss" scoped></style>
