<template>
  <div :class="`c-Column ${classes}`">
    <slot v-if="column">
      <div
        v-for="element in column.elements"
        :key="element._uid"
      >
        <component
          v-if="element.component && element.component !== 'row'"
          :is="cName(element.component)"
          :classes="element.classes"
          :blok="element"
        />
        <row
          v-if="element.component === 'row'"
          :row="element"
        />
      </div>
    </slot>
    <slot v-else />
  </div>
</template>

<script>

import cName from '../../../mixins/storyBlok';

export default {
  mixins:[
    cName
  ],
  props: {
    column: {
      type: Object,
      required: true,
    },
    small: {
      type: String,
      required: true,
    },
    medium: {
      type: String,
      required: true,
    },
    large: {
      type: String,
      required: true,
    },
  },
  data () {
    return {
      classes: '',
    };
  },
  created () {
    if(this.small){
      this.classes += `small-${this.small} `;
    }
    if(this.medium){
      this.classes += `medium-${this.medium} `;
    }
    if(this.large){
      this.classes += `large-${this.large} `;
    }
    this.classes += 'cell';
  },
};
</script>
