<template>
  <div
    v-if="layout.elements"
    class="c-Layout grid-container"
  >
    <slot>
      <row
        v-for="row in layout.elements"
        :key="row._uid"
        :row="row"
      />
    </slot>
  </div>
  <div
    v-else
    class="c-Layout grid-container"
  />
</template>

<script>
import Row from './Row';
export default {
  components:{
    Row
  },
  props: {
    layout: {
      type: Object,
      default: () => {
        return {
          elements: {
            type: Object
          }
        };
      }
    }
  }
};
</script>
