<template>
  <div class="c-Row grid-x">
    <slot v-if="row">
      <column
        v-for="column in row.elements"
        :key="column._uid"
        :column="column"
        :small="column.small"
        :medium="column.medium"
        :large="column.large"
      />
    </slot>
    <slot v-else />
  </div>
</template>

<script>
import Column from './Column';
export default {
  components:{
    Column
  },
  props: {
    row: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
