<template>
  <div
    v-editable="blok"
    class="c-Vimeo"
    v-if="buildVimeoUrlTest()"
  >
    <div :class="` ${mediaOverlayClassSwitch} `" />

    <!-- <video
      muted
      autoplay
      loop
    >
      <source
        :src="buildVimeoUrl()"
        type="video/mp4"
      >
    </video> -->

    <!-- `377867896` instead `vimeo.com/377867896` -->
    <!-- Test -->
    <video
      :src="buildVimeoUrlTest()"
      muted
      autoplay
      playsinline
      loop
    />
    <!--<div v-html="oEmbedHtml" />-->
  </div>
</template>

<script>

/*import Vue from 'vue';
import { vueVimeoPlayer } from 'vue-vimeo-player';
Vue.use(vueVimeoPlayer);*/

export default {
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      height: 500,
      options: {},
      playerReady: false
    };
  },
  computed:{
    mediaOverlayClassSwitch(){
      return this.mediaOverlayClass();
    },
    videoId(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'plugin_vimeo_video')){
        if(Object.keys(this.blok['plugin_vimeo_video']).length > 0){
          if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video'], 'vimeo_oembed')){
            if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']).length > 0){
              if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed'], 'response')){
                if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']['response']).length > 0){
                  if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed']['response'], 'video_id')) {
                    return this.blok['plugin_vimeo_video']['vimeo_oembed']['response']['video_id'];
                  }
                }
              }
            }
          }
        }
      }
      return null;
    },
    oEmbedHtml(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'plugin_vimeo_video')){
        if(Object.keys(this.blok['plugin_vimeo_video']).length > 0){
          if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video'], 'vimeo_oembed')){
            if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']).length > 0){
              if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed'], 'response')){
                if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']['response']).length > 0){
                  if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed']['response'], 'html')) {
                    return this.blok['plugin_vimeo_video']['vimeo_oembed']['response']['html'];
                  }
                }
              }
            }
          }
        }
      }
      return null;
    },
    buildOEmbedIframeHtml(){

      return '';
      /*
"<iframe
src="https://player.vimeo.com/video/377841194?app_id=122963"
width="426"
height="240"
frameborder="0"
allow="autoplay; fullscreen"
allowfullscreen
title="15-jamaica-extra"
        />"
 */
    },
    getOEmbedHtml(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'plugin_vimeo_video')){
        if(Object.keys(this.blok['plugin_vimeo_video']).length > 0){
          if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video'], 'vimeo_oembed')){
            if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']).length > 0){
              if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed'], 'response')){
                if(Object.keys(this.blok['plugin_vimeo_video']['vimeo_oembed']['response']).length > 0){
                  if(Object.prototype.hasOwnProperty.call(this.blok['plugin_vimeo_video']['vimeo_oembed']['response'], 'html')) {

                    return this.blok['plugin_vimeo_video']['vimeo_oembed']['response']['html'];

                  }
                }
              }
            }
          }
        }
      }
      return null;
    }
  },
  mounted(){
    // console.log(1);
  },
  methods:{
    onReady() {
      this.playerReady = true;
    },
    play () {
      this.$refs.player.play();
    },
    pause () {
      this.$refs.player.pause();
    },
    mediaOverlayClass(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')){
        if(this.blok['media_overlay']){
          //@check video is loaded
          return 'c-Vimeo__overlay';
        }
      }
      return '';
    },
    buildVimeoUrl(){
      //@TODO - url not working so can use video html5 element
      return `https://player.vimeo.com/external/${this.videoId}.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=175`;
      /*
      https://player.vimeo.com/external/377845397.hd.mp4?s=8962dcd3ff1b185714027bde2d51519307654bdc&profile_id=175

      https://player.vimeo.com/external/377866595.sd.mp4?s=c8d329f8eec4ce23a27e89f1970099136d657f66&profile_id=165

      https://player.vimeo.com/external/377846998.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=175

      https://player.vimeo.com/external/377846998.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=174
      */
    },
    buildVimeoUrlTest(){
      // return `https://player.vimeo.com/video/${this.blok.elements[0].plugin_vimeo_video.vimeo_raw}`;

      //return `https://player.vimeo.com/external/${this.blok.elements[0].plugin_vimeo_video.vimeo_raw}.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=175`;

      //@TODO - needs much better checks
      if(Object.prototype.hasOwnProperty.call(this.blok, 'elements')){
        if(typeof(this.blok['elements']) !== 'undefined'){
          if(Array.isArray(this.blok['elements']) && typeof (this.blok['elements'] === 'object')){
            if(this.blok['elements'].length > 0){
              if(typeof (this.blok['elements'][0]) !== 'undefined'){
                if(typeof this.blok.elements[0]['plugin_vimeo_video'] !== 'undefined'){
                  if(this.blok.elements[0]['plugin_vimeo_video']){
                    if(typeof this.blok.elements[0]['plugin_vimeo_video']['vimeo_raw'] !== 'undefined'){
                      if(this.blok.elements[0]['plugin_vimeo_video']['vimeo_raw']){
                        //videoUrl = `https://player.vimeo.com/external/${this.blok.elements[0].plugin_vimeo_video.vimeo_raw}.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=175`;
                        return this.blok.elements[0]['plugin_vimeo_video']['vimeo_raw'];

                      }
                    }
                  }

                }
              }
            }
          }
        }
      }

      //videoUrl = `https://player.vimeo.com/external/${this.blok['plugin_vimeo_video']['vimeo_raw']}.hd.mp4?s=a24d9518febea8a23d8c435bf7db2fb204d9dc8e&profile_id=175`;

      if(this.blok['plugin_vimeo_video'] && this.blok['plugin_vimeo_video']['vimeo_raw']){
        return this.blok['plugin_vimeo_video']['vimeo_raw'];
      }
      else {
        return null;
      }
    }
  }
};
</script>
<style src="./Vimeo.scss" lang="scss"></style>
