.c-Vimeo{
  video{
    min-height: 100vh;
    min-width: 100%;
    max-width: none;
    object-fit: cover;
    object-position: center;
    // max-width: fit-content;


  }
}
.c-Vimeo{
  iframe{
    /*height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: fit-content;*/

    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-Vimeo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.3);
  transition: background-color 3000ms ease-in-out;
  z-index: 1;
}
