<template>
  <div
    v-editable="blok"
    class="c-IntroCreditText"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import Split from '../../../components/Templates/Split/Split.vue';
import getMergedData from '../../../mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        //@NOTE - empty components, flexible content iteration needs component
        // ...name, components fetch data for own use
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 5
            },
            components: {
              authors: {
                options: {}
              },
              social_links: {
                options: {}
              }
            }
          },
          column_2: {
            classes: '',
            col_sizes: {
              medium: 15
            },
            components: {
              qa: {
                sbk_controls: {
                  position_h: {}
                },
                col_sizes: {
                  medium: 14
                },
              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);//@TODO - causes error when numCnts param doesnt match cnts
        }
      }
      return {};
    }
  },
};
</script>

<style src="./CreditQA.scss" lang="scss"></style>
