<template>
  <div class="c-SocialLinks">
    <slot
      v-if="blok.prefix"
      name="prefix"
    >
      <span class="prefix">{{ blok.prefix }}</span>
    </slot>
    <ul>
      <li
        v-for="socialLink in socialLinks"
        :key="socialLink.uuid"
      >
        <social-link
          :url="socialLink.url.url"
          :alt="socialLink.alt"
          :title="socialLink.title"
          :name="socialLink.name"
          :blok="socialLink.image"
        />
      </li>
    </ul>
  </div>
</template>

<script>
import SocialLink from '../../Atoms/SocialLink/SocialLink';
import getSetting from '../../../mixins/storyBlok';

export default{
  components: {
    SocialLink
  },
  mixins:[
    getSetting
  ],
  props:{
    blok:{
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      authors: [],
      socialLinks: []
    };
  },
  mounted() {
    this.setSocialLinks();
  },
  methods:{
    setSocialLinks(){
      const self = this;
      this.getSetting('social_links').then(function (socialLinks) {
        self.socialLinks = socialLinks;
      });
    }
  }
};

</script>
<style src="./SocialLinks.scss" lang="scss" scoped></style>
