.c-SocialLinks {
    margin-top: 50px;
    
    ul {
        margin-top: 50px;
        padding: 0;
        list-style: none;
        margin-left: 0;
    }

    li {
        display: inline-block;
    }
    .prefix{
        font-size: 15px;
    }
}
