.c-IntroImage {
  h2{
    // display: inline;
  }
  .c-Figure {
    .c-Figure__image {
      .c-Image.image-size-portrait {

      }
    }
  }
  .c-Split {
    .c-Grid {
      .c-Col {
        &.column {
          &:nth-child(1){
            /*padding-right: 0;*/
          }
          &:nth-child(2){
            /*padding-left: 0;*/
          }
        }
      }
    }
  }
}
