<template>
  <div
    v-editable="blok"
    class="c-IntroImage"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import Split from '../../../../src/components/Templates/Split/Split.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 9
            },
            components: {
              textarea: {
                prefix: 'Essay',
                pre_tag: '<h3>',
                post_tag: '</h3>',
              },
            }
          },
          column_2: {
            classes: '',
            col_sizes: {
              medium: 9
            },
            components: {
              figure: {
                sbk_controls: {
                  image_size: {},
                },
                grid_classes: '',
                col_classes: '',
                show_captions: false,
                col_sizes: {
                  medium: 20,
                  large: 20
                },
                group_captions: false,
                image_classes: {
                  portrait: ' break-out-right ',
                },
                image_position_sizes:{
                  portrait: 'right',
                  landscape: 'right',
                },
              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./IntroImage.scss" lang="scss"></style>
