.c-PostBox {

  .c-PostBoxLayout3 {
    @include v-spacing('margin-bottom', 20px, 70px);
    position: relative;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    
    

    // &:hover,
    // &:focus {
    //   opacity: 0.7;
    // }

    .c-PostBox__bg {
      margin-bottom: 20px;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

      }
    }

    .c-PostBox__contents {
      margin-bottom: 20px;
      padding-bottom: 32px;
      color: $c-black;
    }

    .c-PostBox__date {
      margin-bottom: 30px;
    }

    .c-PostBox__subtitle {
      margin-bottom: 15px;
    }

    .c-PostBox__title {
      margin-bottom: 10px;
    }

    .c-PostBox--horizontal {
      margin-top: 100px;
      margin-bottom: 0;

      .c-PostBox__contents {
        padding-bottom: 40px;
      }

    }



    .c-Image {
      height: 100%;

      img {
        object-fit: cover;
        object-position: center;
        /* height: -webkit-fill-available;*/
        width: 100%;
      }
    }

    a {
      text-decoration: none;
    }


    .c-Link {
      border: none;
      // color: $c-black;
      position: relative;

      &:before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $c-black;
          position: absolute;
          bottom: 0;//30px;
          left: 0;
          max-width: 0;
          transition: max-width .3s ease-in-out;
      }
    }
  }

  &:hover,
  &:focus {
    .c-PostBoxLayout3 {
      .c-Link {
        border: none;
        // border-color: transparent;
        color: $c-black;

        &:before {
            max-width: 100%;
        }
      }
    }
  }
}
