<template>
  <nuxt-link
    v-if="blok.fields.link"
    :to="blok.fields.link"
  >
    <grid
      class="c-PostBoxLayout3 grid-x align-bottom left-gutter right-gutter"
    >
      <c-col
        :blok="{
          classes: 'right-gutter',
          col_sizes: {
            medium: 10
          },
        }"
      >
        <slot name="image">
          <div
            v-if="blok.fields.image.length > 0"
            class="c-PostBox__bg"
          >
            <c-image
              v-if="mediaType() === 'image'"
              :blok="imageBlok()"
            />
            <c-vimeo
              v-if="mediaType() === 'video'"
              :blok="videoBlok()"
            />
          </div>
          <div v-else>
            no image
          </div>
        </slot>
      </c-col>

      <c-col
        :blok="{
          classes: 'medium-offset-1 ',
          col_sizes: {
            medium: 8
          },
        }"
      >
        <div class="c-PostBox__contents u-border--bottom">
          <slot
            v-if="blok.show_date"
            name="date"
          >
            <div
              v-if="blok.fields.date"
              class="c-PostBox__date"
            >
              {{ blok.fields.date | moment('D MMMM YYYY, h:mm:ss a') }}
            </div>
          </slot>

          <slot name="category">
            <span
              v-if="blok.fields.category"
              class="c-PostBox__category"
            >
              {{ blok.fields.category.name }}
            </span>
          </slot>

          <slot name="title">
            <h2
              v-if="blok.fields.title"
              class="c-PostBox__title h2 serif"
              v-html="blok.fields.title"
            >
              <!-- {{ blok.fields.title }} -->
            </h2>
          </slot>

          <slot name="subtitle">
            <div
              v-if="blok.fields.subtitle && blok.show_subtitle"
              class="c-PostBox__subtitle"
            >
              {{ blok.fields.subtitle }}
            </div>
          </slot>

          <slot
            v-if="blok.link_text"
            name="link"
          >
            <div class="link">
              <span
                v-if="blok.fields.link"
                :href="blok.fields.link"
                class="c-Link c-Link--underline"
              >
                {{ blok.link_text }}
              </span>
            </div>
          </slot>
        </div>
      </c-col>
    </grid>
  </nuxt-link>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';

import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';

export default {
  components: {
    Grid,
    CCol,
    CImage,
    CVimeo
  },
  extends: {
    PostBox
  },
  mixins: [
    mediaType
  ],
  props: {

    blok: {
      required: true,
      type: Object,
      default: () => {},
    },
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    imageBlok(){
      return {
        ...this.blok.fields.image[0],
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax},
      };
    },
    videoBlok(){
      return {
        ...this.blok.fields.image[0],
        ...{media_overlay: this.blok.media_overlay}
      };
    },
  },
};
</script>

<style src="./PostBoxLayout3.scss" lang="scss"></style>
