<!-- @TODO - move buildBlok to mixins and use in all cnts -->
<!-- @TODO - layout needs renaming, replace conditional tpl snippets with vars -->
<!-- @TODO - remove layout conditions, use computed props for col values instead -->
<template>
  <div
    v-editable="blok"
    class="c-Single"
  >
    <div :class="` grid-wrapper ${gridWrapperClasses()} `">
      <grid
        :class="gridClasses()"
      >
        <c-col
          :blok="blok.column_1"
        />
      </grid>
    </div>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import Grid from '../Grid/Grid';
import CCol from '../Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import gridWrapperClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol,
  },
  mixins: [
    cName,
    gridClasses,
    gridWrapperClasses,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    splitClasses(){
      return '';
    }
  },
  mounted(){
    //console.log(1);
  },

};
</script>

<style src="./Single.scss" lang="scss"></style>
