.c-Tabs {

}


.c-Tabs__nav {
    margin-bottom: 30px;

    ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;

        button {
            text-transform: uppercase;
            text-decoration: none;
            color: $c-black;//rgba($c-black, 0.5);
            outline: none;
            font-weight: 500;
            letter-spacing: 0.1em;
            // font-family: $f-expanded;
            font-size: 10px;
            outline: none;

            &:hover {
                color: $c-black;
                outline: none;
            }
        }

        li {
            display: inline-block;
            margin-right: 25px;

            &:last-child {
            	margin-right: 0;
            }

            @include breakpoint(small down) {
            	margin-right: 10px;
            }

            @include breakpoint(320px down) {
            	margin-right: 3px;
            }

            &:not(:last-child):after {
                content: "";
                display: inline-block;
                margin-left: 25px;
                position: relative;
                top: 5px;
                width: 1px;
                height: 18px;
                background-color: rgba($c-black, 0.2);

                @include breakpoint(small down) {
	            	margin-left: 10px;
	            	height: 13px;
	            	top: 3px;
	            }

	            @include breakpoint(320px down) {
	            	margin-left: 3px;
	            	background-color: transparent;
	            }
            }

            &.is-active {
                button {
                    padding: 5px 0;
                    color: $c-black;
                    border-bottom: 1px solid $c-black;
                    outline: none;

                    @include breakpoint(small down) {
		            	padding: 2px 0;
		            }

		            @include breakpoint(320px down) {
		            	padding: 0;
		            }
                }
            }
        }    
    }
}

.c-Tabs__content {
    font-size: 14px;
    font-weight: 300;

    p {
        font-weight: 300;
    }   

    & > div {
    	position: absolute;
    	opacity: 0;

    	&.active {
    		position: relative;
    		opacity: 1;
    	}
    }
}