<template>
  <div class="c-Tabs">
    <div class="c-Tabs__nav">
      <ul>
        <li
          v-for="tab in tabs"
          :class="{ 'is-active': tab.isActive }"
        >
          <button
            @click.prevent="selectTab(tab)"
          >{{ tab.name }}</button>
        </li>
      </ul>
    </div>

    <div class="c-Tabs__content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: []
    };
  },
  created() {
    this.tabs = this.$children;
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name === selectedTab.name);
      });
    }
  }
};
</script>

<style src="./Tabs.scss" lang="scss"></style>