<template>
  <div
    v-editable="blok"
    class="c-PostCarouselWrapper"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  //@TODO - add pluginOptions for swiper overrides
  data() {
    return {
      overrides: {
        options: {
          plugin_options:{

          },
          grid_wrapper_classes: '',
          grid_classes: 'grid-container',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              post_carousel: {///??????
                //@TODO empty sbkControls or those without matching snk cnt corrupts the data (see blokMerge() on library wrapper cnt)
                /*sbk_controls: {
                },*/
                col_sizes: {
                  medium: 20
                },
                classes: '',
                layout: 'dcef735a-962e-4511-af67-e0c7acddfc75',//@TODO cant do this here
                order_by: 'first_published_date_asc',
                starts_with: '',
                show_subtitle: true,

              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./PostCarouselWrapper.scss" lang="scss"></style>

