<template>
  <a
    v-if="url"
    :href="url"
    target="_blank"
    class="c-SocialLink"
  >
    <img
      :src="blok"
      :alt="alt"
    >
  </a>
</template>
<script>
export default {
  props:{
    url: {
      type: String,
      default: ''
    },
    blok: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    }
  }
};
</script>
