<template>
  <div class="c-Section">
    <c-grid
      v-if="blok.align === 'left'"
    >
      <c-col
        :blok="{
          classes: '',
          col_sizes: {
            small: 20,
            large: 15,
          },
        }"
      >
        <component
          v-for="component in blok.content"
          :is="cName(component.component)"
          :key="component._uid"
          :blok="component"
        />
      </c-col>
    </c-grid>

    <c-grid
      v-else-if="blok.align === 'right'"
    >
      <c-col
        :blok="{
          classes: ' large-offset-3 ',
          col_sizes: {
            small: 20,
            large: 15,
          },
        }"
      >
        <component
          v-for="component in blok.content"
          :is="cName(component.component)"
          :key="component._uid"
          :blok="component"
        />
      </c-col>
    </c-grid>

    <div v-else>
      <component
        v-for="component in blok.content"
        :is="cName(component.component)"
        :key="component._uid"
        :blok="component"
      />
    </div>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import CCol from '../Col/Col';
import CGrid from '../Grid/Grid';

export default {
  name: 'Section',
  components:{
    CCol,
    CGrid
  },
  mixins: [
    cName
  ],
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
};
</script>

<style lang="scss" scoped>
  .c-Section {
    .c-Figure {
      margin-bottom: 80px;
    }
  }
</style>
