<template>
  <div>
    <h1>Oops, looks like something went wrong!</h1>
    <a :href="link">
      <button>Back to form</button>
    </a>
  </div>
</template>

<script>
export default {

  props: {
    'link': {
      required: false,
      type: String,
      default: '/'
    }
  },
};
</script>
