<template>
  <div class="c-ShareIcons">
    <ul>
      <li
        v-if="blok.prefix"
        class="c-ShareIcons__label"
      >
        {{ blok.prefix }}
      </li>
      <!-- Twitter -->
      <li>
        <a
          :href="twitterShareLink"
          target="_blank"
          class="c-SocialLink"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32.082"
            height="32.082"
            viewBox="0 0 32.082 32.082"><g transform="translate(-133.479 -19724.371)"><g
              transform="translate(133.479 19724.371)"
              fill="none"
              stroke="#000"
              stroke-width="1"/><g transform="translate(142 19733.611)"><g transform="translate(0 0)"><path
                d="M318.807,218.749a6.685,6.685,0,0,1-1.647.471c.266-.045.657-.525.813-.719a3.036,3.036,0,0,0,.549-1c.014-.029.025-.065,0-.086a.093.093,0,0,0-.087.007,8.406,8.406,0,0,1-1.957.749.13.13,0,0,1-.135-.036,1.583,1.583,0,0,0-.171-.175,3.463,3.463,0,0,0-.948-.581,3.3,3.3,0,0,0-1.454-.234,3.475,3.475,0,0,0-1.379.39,3.555,3.555,0,0,0-1.113.909,3.422,3.422,0,0,0-.665,1.331,3.6,3.6,0,0,0-.035,1.405c.01.078,0,.089-.068.078a10.451,10.451,0,0,1-6.725-3.423c-.078-.089-.121-.089-.186.007a3.411,3.411,0,0,0,.581,4.029c.132.125.267.25.413.364a3.416,3.416,0,0,1-1.3-.364c-.078-.05-.118-.021-.125.068a2.033,2.033,0,0,0,.021.386,3.448,3.448,0,0,0,2.125,2.749,2,2,0,0,0,.431.132,3.84,3.84,0,0,1-1.273.039c-.093-.018-.128.029-.093.118a3.58,3.58,0,0,0,2.674,2.239c.121.021.243.021.364.05-.008.011-.015.011-.022.022a4.242,4.242,0,0,1-1.826.968A6.542,6.542,0,0,1,302.8,229c-.149-.022-.18-.021-.221,0s-.005.061.043.1c.189.125.381.236.577.342a9.175,9.175,0,0,0,1.854.742,9.876,9.876,0,0,0,9.587-2.242,10.062,10.062,0,0,0,2.653-7.339c0-.106.125-.164.2-.219a6.459,6.459,0,0,0,1.3-1.357.4.4,0,0,0,.081-.26v-.014C318.869,218.706,318.874,218.719,318.807,218.749Z"
                transform="translate(-302.559 -217.139)"
                fill="#333033"/></g><g transform="translate(4.844 13.377)"><path
                  d="M312.006,243.228Z"
                  transform="translate(-312.006 -243.228)"
                  fill="#333033"
                  fill-rule="evenodd"/></g><g transform="translate(4.719 13.377)"><path
                    d="M311.888,243.228c-.022,0-.269,0,0,0Z"
                    transform="translate(-311.763 -243.228)"
                    fill="#333033"
                    fill-rule="evenodd"/></g><g transform="translate(5.393 13.379)"><path
                      d="M313.077,243.245c0-.027.289,0,0,0C313.077,243.23,313.112,243.245,313.077,243.245Z"
                      transform="translate(-313.077 -243.232)"
                      fill="#333033"
                      fill-rule="evenodd"/></g><g transform="translate(11.094 0.02)"><path
                        d="M324.264,217.177a.058.058,0,0,1-.067,0Z"
                        transform="translate(-324.197 -217.177)"
                        fill="#333033"
                        fill-rule="evenodd"/></g></g></g></svg>
        </a>
      </li>

      <!-- Facebook -->
      <li>
        <a
          :href="facebookShareLink"
          target="_blank"
          class="c-SocialLink"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32.082"
            height="32.082"
            viewBox="0 0 32.082 32.082"><g transform="translate(-183.479 -19724.371)"><g
              transform="translate(183.479 19724.371)"
              fill="none"
              stroke="#000"
              stroke-width="1"/><g transform="translate(195.268 19731.943)"><path
                d="M394.189,222.335v8.11a.211.211,0,0,0,.211.211h3.012a.211.211,0,0,0,.211-.211V222.2h2.184a.211.211,0,0,0,.21-.193l.21-2.484a.212.212,0,0,0-.211-.229h-2.393v-1.762a.748.748,0,0,1,.748-.748h1.683a.211.211,0,0,0,.211-.211v-2.483a.211.211,0,0,0-.211-.211h-2.844a3.021,3.021,0,0,0-3.021,3.022V219.3h-1.506a.211.211,0,0,0-.211.211v2.484a.211.211,0,0,0,.211.211h1.506Z"
                transform="translate(-392.472 -213.881)"
                fill="#333033"
                fill-rule="evenodd"/></g></g></svg>
        </a>
      </li>

      <!-- Pinterest -->
      <li>
        <a
          :href="pinterestShareLink"
          target="_blank"
          class="c-SocialLink"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32.082"
            height="32.082"
            viewBox="0 0 32.082 32.082"><g transform="translate(-233.479 -19724.371)"><g
              transform="translate(233.479 19724.371)"
              fill="none"
              stroke="#000"
              stroke-width="1"/><g transform="translate(243.518 19732.688)"><g transform="translate(0 0)"><path
                d="M395.1,357.735a4.473,4.473,0,0,1-2.2-1.049,11.025,11.025,0,0,1-1.736,4.81.494.494,0,0,1-.879-.277c-.147-2.919.861-5.236,1.356-7.68-.941-1.583.113-4.77,2.1-3.985,2.442.965-2.114,5.887.944,6.5,3.193.641,4.5-5.541,2.516-7.551-2.861-2.9-8.328-.066-7.655,4.09.127.79.79,1.152.706,1.933a.7.7,0,0,1-.994.558c-1.267-.592-1.659-1.889-1.6-3.539a6.162,6.162,0,0,1,5.558-5.664c3.449-.386,6.685,1.266,7.131,4.51.5,3.661-1.557,7.626-5.243,7.341Z"
                transform="translate(-387.648 -345.828)"
                fill="#333033"/></g></g></g></svg>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props:{
    blok:{
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      currentURL: '',
      pageTitle: '',
      pageDesc: '',
      pageImg: '',
    };
  },
  computed: {
    twitterShareLink() {
      return `https://twitter.com/intent/tweet?text=${this.pageTitle}`;
    },
    facebookShareLink() {
      return `https://www.facebook.com/sharer/sharer.php?u=${this.currentURL}`;
    },
    pinterestShareLink() {
      return `https://pinterest.com/pin/create/button/?url=${this.currentURL}&media=${this.pageImg}&description=${this.pageDesc}`;
    }
  },
  mounted(){
    this.currentURL = window.location.origin + this.$route.fullPath;
    this.pageTitle = this.$store.state.pageTitle;//getters['getPageTitle'];
    this.pageDesc = this.$store.state.pageDesc;//getters['getPageDesc'];
    this.pageImg = this.$store.state.pageImg;//getters['getPageImg'];

  }
};
</script>

<style src="./ShareIcons.scss" lang="scss" scoped></style>
