.c-ShareIcons {
    display: inline-block;
    
    ul {
        margin: 50px 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        line-height: initial;
    }

    li {
        display: inline-block;

        a {
            display: inline-block;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }

        // svg path {
        //     fill: $c-white;
        // }
    }
}

.c-ShareIcons__label {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1em;
}