.c-GoogleMap {

    // Google Map Style
    .gm-style {
        // InfoWindow
        .gm-style-iw-t {
            &:after {
                display: none;
            }

            .gm-style-iw {
                padding: 0;
                box-shadow: none;
                border-radius: 0;

                .gm-style-iw-d {
                    overflow: hidden!important;
                }

                button {
                    top: 0!important;
                    right: 0!important;
                }
            }
        }
    }

}

.c-InfoWindow {
    img {
        width: 100%;
    }
    a {
        font-size: 15px;
        color: #666666;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #000000;
        }
    }

    .c-InfoWindow__content {
        padding: 20px;
    }

    .c-InfoWindow__title {
        margin-bottom: 20px;
    }

    .c-InfoWindow__desc {
        font-size: 15px;
        line-height: 25px;
    }
}
