<template>
  <div class="c-GoogleMap">
    <GmapMap
      ref="example"
      :center="center"
      :zoom="10"
      :options="{
        styles: styles,
        streetViewControl: false,
        mapTypeControl: false,
        fullscreenControl: false
      }"
      style="width:100%;  height: 100vh;"
    >
      <gmap-info-window
        :options="{maxWidth: 300}"
        :position="infoWindow.position"
        :opened="infoWindow.open"
        @closeclick="infoWindow.open=false"
      >
        <div
          class="c-InfoWindow"
          v-html="infoWindow.template"
        />
      </gmap-info-window>
    </GmapMap>
  </div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus';
import getImage from '../../../mixins/transformImage';

export default {
  name: 'GoogleMap',
  components: {

  },
  mixins: [
    getImage
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      infoWindow: {
        position: {lat: 0, lng: 0},
        open: false,
        template: ''
      },
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      bounds: null,
      styles: [
        {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#e9e9e9'
            },
            {
              'lightness': 17
            }
          ]
        },
        {
          'featureType': 'landscape',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#f5f5f5'
            },
            {
              'lightness': 20
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry.fill',
          'stylers': [
            {
              'color': '#ffffff'
            },
            {
              'lightness': 17
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#ffffff'
            },
            {
              'lightness': 29
            },
            {
              'weight': 0.2
            }
          ]
        },
        {
          'featureType': 'road.arterial',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#ffffff'
            },
            {
              'lightness': 18
            }
          ]
        },
        {
          'featureType': 'road.local',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#ffffff'
            },
            {
              'lightness': 16
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#f5f5f5'
            },
            {
              'lightness': 21
            }
          ]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#dedede'
            },
            {
              'lightness': 21
            }
          ]
        },
        {
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
              'visibility': 'on'
            },
            {
              'color': '#ffffff'
            },
            {
              'lightness': 16
            }
          ]
        },
        {
          'elementType': 'labels.text.fill',
          'stylers': [
            {
              'saturation': 36
            },
            {
              'color': '#333333'
            },
            {
              'lightness': 40
            }
          ]
        },
        {
          'elementType': 'labels.icon',
          'stylers': [
            {
              'visibility': 'off'
            }
          ]
        },
        {
          'featureType': 'transit',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#f2f2f2'
            },
            {
              'lightness': 19
            }
          ]
        },
        {
          'featureType': 'administrative',
          'elementType': 'geometry.fill',
          'stylers': [
            {
              'color': '#fefefe'
            },
            {
              'lightness': 20
            }
          ]
        },
        {
          'featureType': 'administrative',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
              'color': '#fefefe'
            },
            {
              'lightness': 17
            },
            {
              'weight': 1.2
            }
          ]
        }
      ]
    };
  },
  mounted() {
    this.initMap();
  },
  created(){
    const self = this;

    EventBus.$on('moveMarker', markerRef => {
      self.$refs.example.$mapObject.panTo(markerRef);
      // let eleId = this.buildProjectEleID(markerRef);
      // this.scrollToProject(eleId);
    });
  },
  methods: {
    initMap(){
      this.$gmapApiPromiseLazy().then(() => {
        this.bounds = new google.maps.LatLngBounds();
        this.setMarkers();
        this.$refs.example.$mapObject.fitBounds(this.bounds);
      });
    },
    setMarkers() {
      const self = this;
      //@TODO - needs proper checks here, much better checks needed, especially for lat/lng
      this.blok.projects.forEach(function(marker) {
        if(!isNaN(marker['lat']) && marker['lat'] !== 0 && !isNaN(marker['lng']) && marker['lng'] !== 0){
          self.setMarker(marker);
        }
      });
    },
    setMarker(coords) {
      const image = {
        anchor: new google.maps.Point(12.9955, 36.636),
        size: new google.maps.Size(25.991, 36.636),
        url: '/assets/img/icons/marker.svg'
      };
      const marker = new google.maps.Marker({
        position: {
          id: coords.id,
          lat: coords.lat,
          lng: coords.lng,
          title: coords.title
        },
        map: this.$refs.example.$mapObject,
        icon: image,
        title: coords.title,
        opacity: .5
      });

      this.bounds.extend(coords);
      this.addMarkerClickEvent(marker, coords);
      this.markers.push(marker);
    },
    addMarkerClickEvent(marker, info){
      const self = this;

      marker.addListener('click', function() {
        self.openInfoWindowTemplate(info);
      });
    },
    openInfoWindowTemplate (item) {
      this.infoWindow.template = `
        <img src="${this.getImage(item.img, '600x400')}" alt="" width="100%" />
        <div class="c-InfoWindow__content">
          <h5 class="c-InfoWindow__title">${item.title}</h5>
          <p class="c-InfoWindow__desc">${item.desc}</p>
          <a href="${item.url}">Explore Factory</a>
        </div>
      `;/*<a href="${item.url}">Explore Factory</a>*/
      this.infoWindow.position = {
        id: item.id,
        lat: item.lat,
        lng: item.lng,
        title: item.title
      };
      this.infoWindow.open = true;
    }
  }
};
</script>

<style src="./GoogleMap.scss" lang="scss"></style>
