<template>
  <div
    class="c-FigureGroupLayout5"
  >

    <grid
      v-if="blok.figures.length > 0"
      :classes="`${vAlign}`">
      <c-col
        v-if="blok.figures[0]"
        :blok="{
          small: 20,
          medium: 9,
          large: 9
        }"
      >
        <div
          v-if="blok.group_captions === 'grouped'"
          class="c-FigureGroup__captions"
        >
          <div
            v-for="(image, index) in blok.figures.slice(0, 2)"
            :key="image._uid"
            :blok="image"
            class="c-Caption"
          >
            <h6 class="c-Caption__num ">
              <strong>{{ blok.label }} {{ index+1 }}</strong>
            </h6>
            <c-text
              v-if="image.captions[0].textarea"
              :text="image.captions[0].textarea"
            />
          </div>
        </div>
        <!-- @TODO - group-captions in blok -->
        <c-figure
          :blok="blok.figures[0]"
          :label="blok.label"
          :group-captions="blok.group_captions"
        />
      </c-col>

      <c-col
        v-if="blok.figures[1]"
        :blok="{
          small: 20,
          medium: 10,
          mediumOffset: 1,
          large: 9,
          largeOffset: 2
        }"
      >
        <c-figure
          :blok="blok.figures[1]"
          :label="blok.label"
          :group-captions="blok.group_captions"
        />
      </c-col>
    </grid>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import cFigure from '../../../../Molecules/Figure/Figure';
import Container from '../../../../Templates/Container/Container';
import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';

export default {
  components: {
    cFigure,
    Container,
    Grid,
    CCol
  },
  extends: {
    FigureGroup
  },
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
  },
};
</script>

<style src="./FigureGroupLayout5.scss" lang="scss"></style>
