<template>
  <grid
    v-editable="blok"
    :class="` ${gridClasses()} ${positionHClassesSwitch()} ${removeSpaceClasses()}`"
  >
    <c-col
      :class="` c-Col ${colClasses()} ${colOffsetClasses()} ${imageSizeColClasses()}  `"
    >
      <div :class="`c-Figure ${imageClassesSwitch()} ${captionPositionClasses()} `">
        <slot
          v-if="blok && blok.captions && blok.captions.length > 0 && showCaptions()"
          name="caption"
        >
          <div
            class="c-Figure__caption"
          >
            <h6 class="c-Figure__caption__label">
              {{ label }}
            </h6>
            <div
              v-for="caption in blok.captions"
              :key="caption._uid"
              class="c-Figure__caption__text"
            >
              <div v-if="caption.textarea">
                {{ caption.textarea }}
              </div>
            </div>
          </div>
        </slot>

        <slot
          v-if="blok && blok.images"
          name="image"
        >
          <div
            class="c-Figure__image"
          >
            <c-image
              :class="` ${imageSizeNameClasses()}`"
              :blok="imageBlok"
              :auto-sizes="false"
              :use-aspect-ratio="useAspectRatio"
            />
          </div>
        </slot>
      </div>
    </c-col>
  </grid>
</template>

<script>
//@TODO - needs a Caption component
//@TODO - check markup for this, doesnt look right
//@TODO - is auto-sizes needed any more?
//@TODO - needs image_align classes
//@TODO - move some computed values into methods
//@TODO - move common functions into mixins

import CImage from '../../Atoms/Image/Image';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import getCalculatedImageSize from '../../../mixins/imageSizes';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import textAlignClasses from '../../../mixins/sbkCssClasses';
import imageSizeWrapperColClasses from '../../../mixins/sbkCssClasses';
import imageSizeColClasses from '../../../mixins/sbkCssClasses';
import hasImagePositionControl from '../../../mixins/sbkCssClasses';
import hasImagePositionSizes from '../../../mixins/sbkCssClasses';
import imageSize from '../../../mixins/sbkCssClasses';
import imageSizeNameClasses from '../../../mixins/sbkCssClasses';
import imageClassesForSize from '../../../mixins/sbkCssClasses';
import removeSpaceClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    CImage,
    Grid,
    CCol
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    textAlignClasses,
    getCalculatedImageSize,
    imageSizeWrapperColClasses,
    imageSizeColClasses,
    hasImagePositionControl,
    hasImagePositionSizes,
    imageSize,
    imageSizeNameClasses,
    imageClassesForSize,
    removeSpaceClasses,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    label: {
      type: String,
      default: 'Fig. '
    },
    useAspectRatio: {
      type: Boolean,
      default: true
    },
  },

  //@TODO - move these into mixins

  computed: {
    focalPointX(){
      return this.blok.focal_point_x || null;
    },
    focalPointY(){
      return this.blok.focal_point_y || null;
    },
    imageClasses(){
      //@TODO - move this level of type checking into mixin
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'image_classes')){
        if(typeof( this.blok['image_classes'] ) === 'string' ){
          classes += this.blok['image_classes'];
        }
        else if (typeof(this.blok['image_classes'] ) === 'object'){
          classes += this.imageClassesForSize(this.imageSize());
        }
      }
      return classes;
    },

    positionWrapClasses(){
      //@TODO - move this level of type checking into mixin
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'position_wrap_classes')){
        if(typeof( this.blok['position_wrap_classes'] ) === 'string' ){
          classes += this.blok['position_wrap_classes'];
        }
      }
      return classes;
    },

    /*calculatedImageSize(){  //@TODO - move this into images mixin
      let calcSize = null;
      if(typeof(this.imageSize()) === 'string') {
        if(this.imageSize() !== ''){
          calcSize = this.getCalculatedImageSize(this.imageSize());
        }
      }
      return calcSize;
    },*/

    imageBlok(){//@TODO - checks needed
      //return  {...this.blok.images[0], ...this.calculatedImageSize};
      return  {
        ...this.blok.images[0],
        ...{image_size: this.blok.image_size},
        ...{focal_point_x: this.blok.focal_point_x},
        ...{focal_point_y: this.blok.focal_point_y}
      };
    },

    imageColSizes(){
      let imageColSizes = {};
      if(Object.prototype.hasOwnProperty.call(this.blok, 'image_col_sizes')) {
        if (!Array.isArray(this.blok['image_col_sizes']) && typeof (this.blok['image_col_sizes']) === 'object') {
          if (Object.keys(this.blok['image_col_sizes']).length > 0) {
            imageColSizes = this.blok['image_col_sizes']; //@TODO - needs deeper check here
          }
        }
      }
      return imageColSizes;
    },
  },
  mounted() {
    console.log(1);
  },
  methods: {
    //@TODO!!! - NEEDS fixing !!!
    positionHClassesSwitch(){
      if(this.hasImagePositionControl(this.imageSize()) || this.hasImagePositionSizes(this.imageSize())){
        return this.positionHClasses();
      }
      return ' ';
    },
    imageClassesSwitch(){
      if(this.imageClassesForSize(this.imageSize())){
        return this.imageClasses;
      }
      return '';
    },
    showCaptions(){
      //@TODO - need a common, type safe option getter function (in mixin)
      let showCaptions = false;
      if (Object.prototype.hasOwnProperty.call(this.blok, 'show_captions')) {
        if(typeof (this.blok['show_captions']) === 'boolean') {
          if(this.blok['show_captions']){
            showCaptions = this.blok['show_captions'];
          }
        }
      }
      return showCaptions;
    },
    captionPositionClasses(){
      let capPosClasses = '';
      if (Object.prototype.hasOwnProperty.call(this.blok, 'caption_position')) {
        if(typeof (this.blok['caption_position']) === 'string') {
          capPosClasses = this.blok['caption_position'] === 'bottom' ? ' c-Figure--reverse ' : '';
        }
      }
      return capPosClasses;
    }
  },
};
</script>

<style src="./Figure.scss" lang="scss"></style>
