.c-Figure {
   .row.align-right{
       .column{
           .c-Figure__image.row.align-right{
               text-align: right;
           }
       }
   }
}

.c-Figure--reverse {

        display: flex;
        flex-direction: column-reverse;

}

.c-Figure__caption {

    margin-top: 20px;
    margin-bottom: 20px;
    @include rem(1.4);
    @include v-spacing('line-height', 16px, 22px);
    /*

    padding-top: 20px;
    border-top: 1px solid #000;*/
    max-width: 100%;

    .c-Caption__num,
    &__label,
    &__text{
        display: inline;
    }

    &__text{
        font-size: 15px;
        font-weight: 300;
    }

    &--bottom {
        margin-top: 20px;

        .c-Caption {
            clear: both;

            .c-Caption__num {
                float: left;
                margin-right: 10px;
                line-height: 2;
            }
        }
    }
}
