.c-PostBox {
  a {
    text-decoration: none;
  }

  .c-PostBoxLayout6 {
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .c-PostBox__subtitle{
      margin-bottom: 25px;
    }

    .c-PostBox__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
    }

    .c-PostBox__contents {
      position: relative;
      text-align: center;
      color: $c-white;
    }

    .c-Image {
      height: 100%;
      position: relative;
    }

    .c-SimpleVideo{
      .c-VideoPlayer{
        video{
          height: 100vh;
          object-fit: cover;
        }
      }
    }

    .c-Vimeo {
      height: 100%;
      object-fit: cover;
    }

    .c-Link--underline {
      color: rgba($c-white, 0.8);
      // border-bottom: 1px solid rgba($c-white, 0.8);

      &:hover {
        color: $c-white;
      }
    }
  }

}
