<template>
  <div
    class="c-PostBoxLayout6"
  >
    <nuxt-link
      v-if="blok.fields.link"
      :to="blok.fields.link"
      class="post"
    >
      <slot name="image">
        <div
          v-if="blok.fields.image.length > 0"
          class="c-PostBox__bg"
        >
          <c-image
            v-if="mediaType() === 'image'"
            :blok="imageBlok()"
          />
          <c-vimeo
            v-if="mediaType() === 'video'"
            :blok="videoBlok()"
          />
        </div>
      </slot>

      <div class="c-PostBox__contents">
        <slot name="title">
          <h1
            v-if="blok.fields.title"
            class="c-PostBox__title h1"
            v-html="blok.fields.title"
          >
            <!-- {{ blok.fields.title }} -->
          </h1>
        </slot>

        <slot name="subtitle">
          <h4
            v-if="blok.fields.subtitle"
            class="c-PostBox__subtitle"
          >
            {{ blok.fields.subtitle }}
          </h4>
        </slot>

        <slot
          v-if="blok.link_text"
          name="link"
        >
          <div class="link-wrap">
            <a
              v-if="blok.fields.link"
              :href="blok.fields.link"
              class="c-Link c-Link--underline"
            >
              {{ blok.link_text }}
            </a>
          </div>
        </slot>

        <slot
          v-if="blok.link_affix && blok.link_affix_title"
          name="link_affix"
        >
          <div class="c-PostBox__link-affix">
            <a
              :href="`/${blok.link_affix.cached_url}`"
              class="c-Link c-Link--underline"
            >
              {{ blok.link_affix_title }}
            </a>
          </div>
        </slot>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';

export default {
  components: {
    CImage,
    CVimeo
  },
  extends: {
    PostBox
  },
  mixins: [
    mediaType
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },

  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    findVideo(){

      let selVideo = {};
      if(this.blok.fields.image.length > 0){
        selVideo = this.blok.fields.image.filter(function(obj){
          return obj.component === 'plugin_vimeo_video';
        });
      }

      if(Object.keys(selVideo).length > 0){
        return selVideo[0];
      }

      return null;
    },

    //@TODO - need to pass a priority prop (image/video)??
    imageBlok(){
      return {
        ...this.blok.fields.image[0],
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax},

      };
    },
    videoBlok(){
      return {
        ...this.findVideo(),
        ...{media_overlay: this.blok.media_overlay},
      };
    }
  }

};
</script>

<style src="./PostBoxLayout6.scss" lang="scss"></style>
