<template>
  <div
    v-if="blok.elements"
    class="c-Container grid-container"
  >
    <slot>
      <grid
        v-for="grid in blok.elements"
        :key="grid._uid"
        :blok="grid"
      />
    </slot>
  </div>
  <div
    v-else
    class="c-Container grid-container"
  />
</template>

<script>
//@NOTE - this is a non sbk-ready component, it uses seperate props
//@TODO - this should have props seperate, not blok
import Grid from '../Grid/Grid';

export default {
  components:{
    Grid
  },
  props: {
    blok: {
      type: Object,
      default: () => {
        return {
          elements: {
            type: Object
          }
        };
      }
    }
  }
};
</script>

<style src="./Container.scss" lang="scss"></style>
