<template>
  <div
    v-editable="blok"
    class="c-Links"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import addFakeGrpSbkDataWrapper from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle,
  },
  mixins:[
    getMergedData,
    addFakeGrpSbkDataWrapper
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter ', ////@TODO!!!!! - project wrapper not overiding properly
          grid_classes: '',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              link_group: {
                sbk_controls: {
                  position_h : {},
                  title: {},
                },
                col_sizes: {
                  medium: 7
                },
              },
            },
          },
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      let mergedBlok = this.blok;
      mergedBlok = this.addFakeGrpSbkDataWrapper(mergedBlok, 'link_group', 'links');
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(mergedBlok).length > 0) {
          mergedBlok = this.getMergedData(mergedBlok, 1);
        }
      }
      return mergedBlok;
    }
  },
};

</script>

<style src="./Links.scss" lang="scss"></style>

