.c-QA {
    @include v-spacing('font-size', 12px, 18px);
    line-height: 36px;
    &__question {
        p, .c-Markdown{
            @include v-spacing('margin-bottom', 10px, 20px);
            padding-bottom: 0;
        }
    }

    &__question {
        &, p, .c-Markdown{
            font-weight: 400;
        }
    }

    &__answer {
        @include v-spacing('margin-bottom', 30px, 100px);
        font-weight: 300;
    }
}
