<template>
  <div
    v-editable="blok"
    class="c-QA"
  >
    <grid
      v-editable="blok"
      :class="` ${gridClasses()} ${positionHClasses()} `"
    >
      <c-col
        :class="`${colClasses()} ${textAlignClasses()}`"
      >
        <markdown
          v-if="blok.question && blok.question.length > 0"
          :blok="{ markdown: `Q | ${blok['question'][0].markdown}` }"
          class="c-QA__question"
        />
        <markdown
          v-if="blok.answer && blok.answer[0]"
          :blok="{ markdown: `${blok['answer'][0].markdown}` }"
          class="c-QA__answer"
        />
      </c-col>
    </grid>
  </div>
</template>

<script>
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import Markdown from '../../Atoms/Markdown/Markdown';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import textAlignClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol,
    Markdown
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    textAlignClasses
  ],
  props: {
    blok:{
      type:Object,
      default: () => {}
    }
  },
  mounted(){
    //console.log(1);
  },
};
</script>

<style src="./QA.scss" lang="scss"></style>
