<template>
  <div
    v-editable="blok"
    class="c-ImageStats"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import Split from '../../../../src/components/Templates/Split/Split.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: '',
          grid_classes: ' ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 9,
              large: 9
            },
            components: {
              figure: {
                sbk_controls: {
                  image_size: {},
                },
                caption_position: 'bottom',
                show_captions: true,
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 20,
                  large: 20
                },
                group_captions: false,
                image_col_sizes: {
                  square: {
                    medium: 12,
                    large: 12,
                  },
                  landscape: {
                    medium: 19,
                    large: 19,
                  },
                  portrait: {
                    medium: 14,
                    large: 14,
                  }
                },
                image_classes: {
                  landscape: '',
                  square: '',
                  portrait: '',
                },
                image_position_sizes:{
                  square: 'left',
                  landscape: 'left',
                },
              },
            }
          },
          column_2: {
            classes: ' ',
            col_sizes: {
              medium: 9,
              large: 9
            },
            components: {
              stats: {
                sbk_controls: {
                  title: {}
                },
                position_h: 'left',
                col_sizes: {
                  medium: 20,
                  large: 20
                },
              },
            },
          }
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./ImageStats.scss" lang="scss"></style>
