<template>
  <div
    v-editable="blok"
    :class="`c-ImageSection ${classes}`"
  >
    <div class="c-ImageSection__bg">
      <c-image
        v-for="image in blok.background"
        :key="image._uid"
        :blok="image"
      />
    </div>

    <div class="c-ImageSection__inner">
      <c-image
        v-for="image in blok.images"
        :is="cName(image.component)"
        :key="image._uid"
        :src="image.image"
        :blok="image"
        :auto-sizes="false"
      />
    </div>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import CImage from '../../Atoms/Image/Image';

export default {
  components:{
    CImage
  },
  mixins: [
    cName
  ],
  props: {
    blok: {
      type: Object,
      required: true,
    }
  },
  computed: {
    classes() {
      if(this.blok.sticky){
        return 'c-ImageSection--sticky';
      } else {
        return 'c-ImageSection--default';
      }
    },
  },
};
</script>

<style src="./ImageSection.scss" lang="scss"></style>
