.c-ImageSection {
    position: relative;
    min-height: 100vh;
}

.c-ImageSection__bg {
    //position: relative;

    .c-Image {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}


.c-ImageSection__inner {
    //@include v-spacing('padding-top', 30px, 100px);
    //@include v-spacing('padding-bottom', 30px, 100px);
    margin: 100px auto;
    color: #fff;
    position: relative;
    //z-index: 1;

    .cell {
        &>div {
            margin: 100px auto;
        }
    }
}

.c-ImageSection--default {
    overflow: hidden;

    .c-ImageSection__bg {
        .c-Image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
    
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.c-ImageSection--sticky {
    text-align: center;

    .c-ImageSection__bg {
        position: sticky;
        top: 0;
    }

    .c-ImageSection__inner {
        &>div {
            // @include v-spacing('padding-bottom', 30px, 100px);
            padding-bottom: 50vh;
        }
        // &>div:last-child {
        //     @include v-spacing('padding-bottom', 50px, 300px);
        // }
    }
}