<template>
  <div class="feature util__flex-eq">
    <img
      :src="image"
      class="feature__icon"
    >
    <h1>{{ name }}</h1>
    <div class="feature_description">
      {{ description }}
    </div>
  </div>
</template>

<script>
export default {

  props: {
    image: {
      required: true,
      type: String,
      /*default: function () {
          return "media/img1.jpg";
        }*/
    },
    description: {
      required: false,
      type: String,
      default: function () {
        return '';
      }
    },
    name: {
      required: false,
      type: String,
      default: function () {
        return '';
      }
    }
  },
};
</script>

<style src="./Feature.scss" lang="scss" scoped></style>
