<template>
  <div
    v-editable="blok"
    class="c-ImageGroup3"
  >
    <grid
      class="right-gutter"
    >
      <c-col
        :blok="{
          large: 20,
        }"
      >
        <figure-group
          :blok="blokMerge()"
        />
      </c-col>
    </grid>
  </div>
</template>
<script>
import FigureGroup from '../../../../src/components/Organisms/FigureGroup/FigureGroup.vue';
import Grid from '../../../../src/components/Templates/Grid/Grid';
import CCol from '../../../../src/components/Templates/Col/Col';

export default {
  components: {
    FigureGroup,
    Grid,
    CCol
  },
  props: {
    blok: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      overrides: {
        //@NOTE - override components
        //components{[],[]}
        //@TODO - add fixed / sbk_variable under options?

        sbk_options: {
          caption_position: this.blok.caption_position,
        },

        options: { //@NOTE - FigureGroup options
          group_captions: 'grouped',
          layout: 1,
          //caption_position: 'top', //dont set here if it has a sbk control
          label: 'Fig.',
          elements: { //@NOTE - add all potential sbk eles here
            figures:[
              {
                images: [ //@NOTE - must be array
                  {
                    width: 1329,
                    height: 1600
                  },
                ],
              },
              {
                images: [
                  {
                    width: 535,
                    height: 535,
                    smart_crop: true,
                  },
                ]
              },
              {
                images: [
                  {
                    width: 987,
                    height: 797,
                    smart_crop: true,
                  },
                ]
              }
            ]
          }
        }
      }
    };
  },

  mounted(){

  },
  methods: {
    blokMerge() {
      return {
        ...this.blok,
        ...this.overrides
      };
    }
  },
};

</script>
