.c-ImagesGroup {
    .flickity-slider {
        img {
            width: 100%; /* full width */
        }

        .progressive-image {
            max-width: 100% !important;
            width: 100%;
            display: block;
        }
    }

    .flickity-slider>div {
        width: 100%; /* full width */
        height: 200px; /* height of carousel */
        margin-right: 10px;

        /*@include breakpoint(medium) {
            height: 300px;
        }

        @include breakpoint(large) {
            height: 500px;
        }*/
    }
}
