<template>
  <div
    v-editable="blok"
    class="c-ImagesGroup"
  >
    <c-image
      v-for="blok in blok.images"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>

<script>
import CImage from '../../Atoms/Image/Image';

export default {
  // extends: Image,
  // name: 'ImagesGroup',
  components:{
    CImage
  },
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {}
    }
  },
  methods: {

  }
};
</script>

<style src="./ImagesGroup.scss" lang="scss" scoped></style>
