<template>
  <div
    :class="`c-FigureGroupLayout8 ${vAlign} ${reverse}`"
  >
    <div class="c-FigureGroup__col">
      <!-- @TODO - shouldn't really use c-Figure class here -->

      <div
        v-if="blok.figures.length > 0"
        class="c-Figure__image"
      >
        <c-figure
          v-if="blok.figures[0]"
          :blok="blok.figures[0]"
          :label="figLabel()"
          :group-captions="blok.group_captions"
        />
      </div>
    </div>
    <div class="c-FigureGroup__col">
      <div
        v-if="blok.figures.length > 0"
        class="c-Figure__image"
      >
        <c-figure
          v-if="blok.figures[1]"
          :blok="blok.figures[1]"
          :label="figLabel()"
          :group-captions="blok.group_captions"
        />
      </div>
      <div
        v-if="blok.figures.length > 0"
        class="c-FigureGroup__captions"
      >
        <div
          v-for="(image, index) in blok.figures.slice(0, 2)"
          :key="image._uid"
          :blok="image"
          class="c-Caption"
        >
          <h6 class="c-Caption__num ">
            <strong>{{ figLabel() }} {{ index+1 }}</strong>
          </h6>
          <c-text
            v-if="image.captions.length > 0 && image.captions[0].textarea"
            :text="image.captions[0].textarea"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import figLabel from '../../../../../mixins/storyBlok';
import CText from '../../../../Atoms/Text/Text';

//@TODO - having problems inheriting functionality in mixins

export default {
  components: {
    CFigure,
    CText
  },
  extends: {
    FigureGroup
  },
  mixins: [
    figLabel
  ],
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  computed: {
    vAlign () {
      if (!this.blok.caption_position) {
        return '';
      } else {
        return 'c-FigureGroupLayout8--' + this.blok.caption_position;
      }
    },
    reverse () {
      if (this.blok.reverse) {
        return 'c-FigureGroupLayout8--reverse';
      } else {
        return '';
      }
    },
  }
};
</script>

<style src="./FigureGroupLayout8.scss" lang="scss" scoped></style>
