<template>
  <div
    v-editable="blok"
    v-if="blok && cols()"
    :class="`c-Grid ${gridClasses()} ${removeSpaceClasses()}`"
  >
    <slot>
      <c-col
        v-for="(column, index) in cols()"
        :key="index"
        :blok="column"
      />
    </slot>
  </div>
  <!--  ${removeSpaceClasses()} -->
  <div
    v-else
    :class="`c-Grid ${gridClasses()} `"
  >
    <slot />
  </div>
</template>

<script>
//@TODO - merge classes into blok? why are they separate?
import CCol from '../Col/Col';
import removeSpaceClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    CCol
  },
  mixins:[
    removeSpaceClasses
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    classes: {
      type: String,
      default: ''
    }
  },
  mounted(){
    // console.log(1);
  },
  methods: {
    gridClasses() {
      let classes = ' grid-x ';
      if (typeof (this.blok) !== 'undefined') { //@NOTE - for situations with no data blok
        if (this.blok.grid_classes) {
          classes += this.blok.grid_classes;
        }
        if (this.blok.container) {
          classes += ' grid-container ';
        }
      }
      return classes;
    },
    cols() {
      let blok = this.blok;
      let cols = [];
      let cnts = [];
      if (Object.prototype.hasOwnProperty.call(blok, 'elements')) {
        if (Array.isArray(blok.elements) && typeof (blok.elements) === 'object') {
          if (blok.elements.length > 0) {
            if (Object.prototype.hasOwnProperty.call(blok.elements[0], 'elements')) {
              if (Array.isArray(blok.elements[0].elements) && typeof (blok.elements[0].elements) === 'object') {
                if (blok.elements[0].elements.length > 0) {
                  cols = blok.elements[0].elements;
                  /*cnts = blok.elements[0].elements;
                  cols = blok.elements;

                  cols = {...cols, ...{components: cnts}};*/
                }
              }
            }
          }
        }
      }

      //Overridden

      let done = false;
      let blokColumns = {};
      //let blokCnts = null;
      if (Object.prototype.hasOwnProperty.call(blok, 'elements')) {
        //blokColumns = blok.elements;


        /*let a = null;
        for( let b of Object.entries(blokColumns)){
          blokCnts = blok.elements;
        }*/

        //blokCnts = blok.elements;
        blok['columns'] = blok.elements['columns'];
        //delete blok.elements;
        cols = blok['elements'];
        done = true;
      }

      if (!done && Object.prototype.hasOwnProperty.call(blok, 'columns')) {
        if (Array.isArray(blok.columns) && typeof (blok.columns) === 'object') {
          if (blok.columns.length > 0) {
            cols = blok.columns;
          }
        }
      }

      //return [];
      return cols;
    }
  }
};
</script>

<style src="./Grid.scss" lang="scss"></style>
