<template>
  <div
    v-editable="blok"
    class="c-ImageFull"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: '',
          grid_classes: '',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              figure: {
                show_captions: true,
                caption_position: 'bottom',
                image_size: 'full_width_landscape',
                caption_label: 'test label x: ',
                focal_point_x: 1000,
                focal_point_y: 0
              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./ImageFull.scss" lang="scss" ></style>
