.radio-component {
  > input {
    opacity: 0;
    position: absolute;

    + label .input-box {
      display: inline-block;
      border: 1px solid #000;
      border-radius: 50%;
      margin: 0;
      padding: 0;
      width: 1em;
      height: 1em;
      background: #fff;
      overflow: hidden;
      vertical-align: -5%;
      user-select: none;

      > .input-box-circle {
        display: block;
        margin: 50%;
        width: 0%;
        height: 0%;
        background: #000;
        border-radius: 50%;
        opacity: 0;
        transition: width 0.15s ease-in, height 0.15s ease-in, margin 0.15s ease-in;
      }
    }

    &:checked + label .input-box > .input-box-circle {
      opacity: 1;
      margin: 22%;
      width: 56%;
      height: 56%;
    }

    &:focus + label > .input-box {
      box-shadow: 0 0 2px 3px #73b9ff;
    }

    &:disabled + label {
      opacity: 0.7;
    }
  }
}

