<template>
  <div class="radio-component">
    <input
      :id="id"
      :ref="`checkedOptions${name}`"
      :name="name"
      :value="value"
      :class="classes"
      :required="required"
      :disabled="disabled"
      :checked="checked || state"
      type="radio"

      @change="onChange(name)"
    ><!--:checked="state"-->
    <label :for="id">
      <slot name="input-box">
        <span class="input-box">
          <span class="input-box-circle" />
        </span>
      </slot>
      <slot name="after" />
    </label>
  </div>
</template>

<script>

export default {

  model: {
    prop: 'modelValue',
    event: 'input'
  },
  props: {
    id: {
      type: String,
      default: function () {
        return 'radio-id-' + this._uid;
      },
    },
    name: {
      type: String,
      default: null,
    },
    value: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: undefined,
    },
    classes: {
      type: String,
      default: null,
    },
    checked: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    model: {
      type: Object,
      default: () => {}
    },
    refName: {
      type: String,
      default: '',
    },
    change: {
      type: Function,
      default: () => {},
    },
  },
  computed: {
    state() {
      if (this.modelValue === undefined) {
        return this.checked;
      }
      return this.modelValue === this.value;
    }
  },
  watch: {
    checked(newValue) {
      if (newValue !== this.state) {
        this.toggle();
      }
    }
  },
  mounted() {
    //@TODO - think about namespacing and scope

    if (this.checked && !this.state) {
      this.toggle();
    }
  },
  methods: {
    onChange(name) {
      this.toggle();
      this.$parent.onChange(name);//@TODO - check exists - Use event bus instead
    },
    toggle() {
      this.$emit('input', this.state ? '' : this.value);
    }
  },
};
</script>

<style src="./Radio.scss" lang="scss"></style>
