<template>
  <div
    v-editable="blok"
    class="c-PostCarousel"
  >
    <grid
      v-editable="blok"
      :class="` ${gridClasses()} `"
    >
      <c-col
        :class="`c-Col ${colClasses()}`"
      >
        <client-only>
          <swiper :options="plugin_options">
            <swiper-slide
              v-for="(story, index) in mergedBlok.stories"
              :key="index"
            >
              <slot name="`post-box${index}`">
                <post-box
                  :blok="getPostBoxBlok(story)"
                />
              </slot>
            </swiper-slide>

            <!-- Optional controls -->
            <div
              v-if="blok.pagination"
              slot="pagination"
              class="swiper-pagination"
            />
            <div
              v-if="blok.buttons"
              slot="button-prev"
              class="swiper-button-prev"
            />
            <div
              v-if="blok.buttons"
              slot="button-next"
              class="swiper-button-next"
            />
            <!-- <div class="swiper-scrollbar"   slot="scrollbar"> -->
          </swiper>
        </client-only>
      </c-col>
    </grid>
  </div>
</template>

<script>
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import PostBox from '../../Molecules/PostBox/PostBox';
import getCurrentStoryId from '../../../mixins/storyBlok';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';

// import Grid from '../../Templates/Grid/Grid';
// import CCol from '../../Templates/Col/Col';

export default {
  components: {
    Grid,
    CCol,
    PostBox,
  },
  mixins: [
    getCurrentStoryId,
    colClasses,
    gridClasses,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    layout: {
      type: String,
      default: () => ''
    },
  },
  data () {
    return {
      postLoad: 'lazyload', // paginate or lazyload
      page: 1,
      stories: [],
      postBoxFields: {},
      params: {},
      plugin_options: {
        //slidesPerView: 2,
        //spaceBetween: 0,
        // centeredSlides: true,
        // slidesPerGroup: 3,
        // loop: true,
        // loopFillGroupWithBlank: true,
        grabCursor: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        /*breakpoints: {
          1024: {
            slidesPerView: 2,
            spaceBetween: 50
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 50
          },
          640: {
            slidesPerView: 1,
            spaceBetween: 30
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }*/
      },
    };
  },
  computed: {
    mergedBlok(){
      return {...this.blok, ...{stories: this.stories}};
    }
  },
  created(){
    const self = this;

    if(Object.prototype.hasOwnProperty.call(this.blok, 'per_page')){
      if(typeof (this.blok['per_page']) !== 'undefined') {
        if (typeof (this.blok['per_page']) === 'number') {
          if (!isNaN(Number(this.blok['per_page']))) {
            if (this.blok['per_page'] > 0) {
              this.params['per_page'] = this.blok['per_page'] || 10;
            }
          }
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'is_startpage')){
      if(typeof (this.blok['is_startpage']) !== 'undefined'){
        if(typeof (this.blok['is_startpage']) === 'boolean') {
          this.params['is_startpage'] = this.blok['is_startpage'];
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'starts_with')){
      if(typeof (this.blok['starts_with']) !== 'undefined'){
        if(typeof (this.blok['starts_with']) === 'string') {
          this.params['starts_with'] = this.blok['starts_with'] || '/';
        }
      }
    }

    if(this.blok.featured){
      this.params['filter_query[featured][in]'] = this.blok.featured;
    }
    if(this.blok.get_by_id){
      this.params['by_uuids_ordered'] = this.blok.get_by_id;
    }
    if(this.blok.excluding_ids){
      this.params['excluding_ids'] = this.blok.excluding_ids;
    }
    if(this.blok.categories){
      if(Array.isArray(this.blok.categories)){
        if(this.blok.categories.length > 0){
          let catStr = '';
          this.blok.categories.forEach(function(cat){
            catStr += cat + ',';
          });
          this.params['filter_query[category][in]'] = catStr.substr(0, catStr.length-1);
        }
      }
    }

    if(this.blok.order_by){
      if(typeof this.blok.order_by === 'string'){
        if(this.blok.order_by !== '') {
          switch(this.blok.order_by){
          case 'first_published_date_asc':
            this.params.sort_by = 'first_published_at:asc';
            break;
          case 'first_published_date_desc':
            this.params.sort_by = 'first_published_at:desc';
            break;
          case 'published_date_asc':
            this.params.sort_by = 'published_at:asc';
            break;
          case 'published_date_desc':
            this.params.sort_by = 'published_at:desc';
            break;
          }
        }
      }
    }

    let params = this.addParams();

    /*params.then(function(id){
      self.getS.....( self.params, {})
        .then(function(stories){
          self.stories = stories;
          //self.mergedBlok = self.mergedBlok;
        });
    });*/
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    getPostBoxBlok(story){
      return {
        fields: this.getPostBoxFields(story),
        link_text: this.mergedBlok.link_text,
        show_date: this.mergedBlok.show_date,
        layout: this.mergedBlok.layout,
        image_size: this.mergedBlok.image_size,
      };
    },
    getPostBoxFields(story){
      //@TODO - all needs proper checks
      if(!Array.isArray(story) && typeof (story) === 'object'){
        if(Object.keys(story).length > 1){
          return {
            title: story.content.title ? story.content.title : '',
            date: story.published_at ? story.published_at : '',
            category: story.content.category ? story.content.category.name : '',
            subtitle: story.content.subtitle ? story.content.subtitle : '',
            image: story.content.feature_image ? story.content.feature_image : '',
            link: story.full_slug ? `/${story.full_slug}` : ''
          };
        }
      }
      return {};
    },
    async addParams(){
      let self = this;
      let currentId = null;
      if(this.blok['exclude_current_page']) {
        if (typeof (this.blok['exclude_current_page']) === 'boolean') {
          if(this.blok['exclude_current_page'] === true){
            currentId = await this.getCurrentStoryId();
            self.params['excluding_ids'] = currentId;
            return currentId;
          }
        }
      }
    }
  }
};

</script>

<style src="./PostCarousel.scss" lang="scss"></style>
