<template>
  <div
    v-editable="blok"
    class="c-PostCarousel"
  >
    <fetch-stories
      :params="params"
    >
      <div slot-scope="{ loading, stories }">

        <div v-if="loading">
          <!--Loading stories...-->
          <!-- @TODO - loader component needed here, sync with sbk live preview -->
        </div>

        <grid
          v-else
          :class="` ${gridClasses()} `"
        >
          <c-col
            :class="`c-Col ${colClasses()}`"
          >
            <vue-glide
              v-if="stories.length"
              :options="getMergedGlideOptions()"
            >
              <vue-glide-slide
                v-for="(story, index) in stories"
                :key="index"
              >
                <post-box
                  :blok="getPostBoxBlok(story)"
                />
              </vue-glide-slide>
            </vue-glide>
          </c-col>
        </grid>
      </div>

    </fetch-stories>
  </div>
</template>

<script>
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import PostBox from '../../Molecules/PostBox/PostBox';
import getCurrentStoryId from '../../../mixins/storyBlok';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import FetchStories from '../../Functional/FetchStories/FetchStories';

//@TODO - this should use carousel component, so libs can be changed in one place

export default {
  components: {
    Grid,
    CCol,
    PostBox,
    FetchStories
  },
  mixins: [
    getCurrentStoryId,
    colClasses,
    gridClasses,
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    layout: {
      type: String,
      default: () => ''
    },
  },
  data () {
    return {
      // https://antonreshetov.github.io/vue-glide/props/
      options: {},
      glideOptions: {
        type: 'carousel',
        perView: 2,
        gap: 200,
        // bound: true, // false
        // rewind: true, // false
        breakpoints: {
          1024: {
            perView: 2,
            gap: 50
          },
          768: {
            perView: 2,
            gap: 50
          },
          640: {
            perView: 1,
            gap: 30
          },
          320: {
            perView: 1,
            gap: 10
          }
        }
      },
      postLoad: 'lazyload', // paginate or lazyload
      page: 1,
      stories: {},
      postBoxFields: {},
      params: {},
    };
  },
  computed:{
    mergedBlok(){
      return {
        ...this.blok,
        ...{stories: this.stories}
      };
    },
  },
  created(){
    if(Object.prototype.hasOwnProperty.call(this.blok, 'options')){
      if(typeof (this.blok['options']) !== 'undefined') {
        if (typeof (this.blok['options']) === 'object') {
          if (Object.keys(this.blok['options']).length > 0 ) {
            this.options = this.blok['options'];
          }
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'image_size')){
      if(typeof (this.blok['image_size']) !== 'undefined'){
        if(typeof (this.blok['image_size']) === 'string') {
          this.blok['image_size'] = this.blok['image_size'];
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'image_sizes')){
      if(typeof (this.blok['image_sizes']) !== 'undefined') {
        if (typeof (this.blok['image_sizes']) === 'object') {
          if (Object.keys(this.blok['image_sizes']).length > 0 ) {
            this.image_sizes = this.blok['image_sizes'];
          }
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'per_page')){
      if(typeof (this.blok['per_page']) !== 'undefined') {
        if (typeof (this.blok['per_page']) === 'number') {
          if (!isNaN(Number(this.blok['per_page']))) {
            if (this.blok['per_page'] > 0) {
              this.params['per_page'] = this.blok['per_page'] || 10;
            }
          }
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'is_startpage')){
      if(typeof (this.blok['is_startpage']) !== 'undefined'){
        if(typeof (this.blok['is_startpage']) === 'boolean') {
          this.params['is_startpage'] = this.blok['is_startpage'];
        }
      }
    }

    if(Object.prototype.hasOwnProperty.call(this.blok, 'starts_with')){
      if(typeof (this.blok['starts_with']) !== 'undefined'){
        if(typeof (this.blok['starts_with']) === 'string') {
          this.params['starts_with'] = this.blok['starts_with'] || '/';
        }
      }
    }

    if(this.blok.featured){
      this.params['filter_query[featured][in]'] = this.blok.featured;
    }
    if(this.blok.get_by_id){
      this.params['by_uuids_ordered'] = this.blok.get_by_id;
    }
    if(this.blok.excluding_ids){
      this.params['excluding_ids'] = this.blok.excluding_ids;
    }
    if(this.blok.categories){
      if(Array.isArray(this.blok.categories)){
        if(this.blok.categories.length > 0){
          let catStr = '';
          this.blok.categories.forEach(function(cat){
            catStr += cat + ',';
          });
          this.params['filter_query[category][in]'] = catStr.substr(0, catStr.length-1);
        }
      }
    }

    if(this.blok.order_by){
      if(typeof this.blok.order_by === 'string'){
        if(this.blok.order_by !== '') {
          switch(this.blok.order_by){
          case 'first_published_date_asc':
            this.params.sort_by = 'first_published_at:asc';
            break;
          case 'first_published_date_desc':
            this.params.sort_by = 'first_published_at:desc';
            break;
          case 'published_date_asc':
            this.params.sort_by = 'published_at:asc';
            break;
          case 'published_date_desc':
            this.params.sort_by = 'published_at:desc';
            break;
          }
        }
      }
    }

    let currentId = null;
    if(this.blok['exclude_current_page']) {
      if (typeof (this.blok['exclude_current_page']) === 'boolean') {
        if(this.blok['exclude_current_page'] === true){
          currentId = this.$store.getters['sbk/sbkStore/getId'];
          this.params['excluding_ids'] = currentId;
        }
      }
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    getMergedGlideOptions(){
      return {...this.glideOptions, ...this.options};
    },
    getPostBoxBlok(story){
      return {
        fields: this.getPostBoxFields(story),
        link_text: this.mergedBlok.link_text,
        show_date: this.mergedBlok.show_date,
        show_subtitle: this.mergedBlok.show_subtitle,
        layout: this.mergedBlok.layout,
        image_size: this.mergedBlok.image_size,
        image_sizes: this.mergedBlok.image_sizes,
        disable_links: true
      };
    },
    getPostBoxFields(story){
      //@TODO - all needs proper checks
      if(!Array.isArray(story) && typeof (story) === 'object'){
        if(Object.keys(story).length > 1){
          return {
            title: story.content.title ? story.content.title : '',
            date: story.published_at ? story.published_at : '',
            category: story.content.category ? story.content.category.name : '',
            subtitle: story.content.subtitle ? story.content.subtitle : '',
            image: story.content.feature_image ? story.content.feature_image : '',
            link: story.full_slug ? `/${story.full_slug}` : ''
          };
        }
      }
      return {};
    },
  }
};

</script>

<style src="./PostCarousel.scss" lang="scss"></style>
