.c-PostCarousel {
    overflow-x: hidden;
    .swiper-container {
        overflow: visible;
        .swiper-wrapper{
            .swiper-slide{
                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }

    .glide {
        .glide__slides, .glide__track {
            overflow: visible;
        }
    }
}
