<template>
  <div
    v-editable="blok"
    class="c-IntroStats"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import Split from '../../../../src/components/Templates/Split/Split.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 10,
              large: 10
            },
            components: {
              textarea: {
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 19,
                  large: 18
                },
                prefix: 'Test Prefix',
                pre_tag: '<h3>',
                post_tag: '</h3>',
              },
            },
          },
          column_2: {
            classes: ' ',
            col_sizes: {
              medium: 9,
              large: 9
            },
            components: {
              stats: {
                sbk_controls: {
                  title: {}
                },
                position_h: 'left',
                col_sizes: {
                  medium: 20,
                  large: 20
                },
              },
            },
          }
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);
        }
      }
      return {};
    }
  },
};


</script>

<style src="./IntroStats.scss" lang="scss"></style>

