<template>
  <grid
    v-editable="blok"
    :class="`${gridClasses()} ${textAlignClasses()} ${positionHClasses()} ${removeSpaceClasses()}` "
  >
    <c-col
      v-waypoint="{ active: hasWayPoint, callback: onWaypoint, options: intersectionOptions }"
      :class="`${colClasses()} ${colOffsetClasses()}`"
      :style="{opacity: opacity}"
    >
      <!--<div ref="textareaXX">-->
      <div>
        <div
          v-if="blok.prefix"
          :data-prefix="blok.prefix"
          class="c-Textarea"
          v-html="builtTextarea"
        />
        <div
          v-else
          class="c-Textarea"
          v-html="builtTextarea"
        />
      </div>
    </c-col>
  </grid>
</template>

<script>
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';
import textAlignClasses from '../../../mixins/sbkCssClasses';
import colOffsetClasses from '../../../mixins/sbkCssClasses';
import removeSpaceClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol
  },
  mixins:[
    gridClasses,
    colClasses,
    positionHClasses,
    textAlignClasses,
    colOffsetClasses,
    removeSpaceClasses,
  ],
  props: {
    blok: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      intersectionOptions: {
        root: null,
        rootMargin: '100px 0px 0px 0px',
        threshold: [0, 1] // [0.25, 0.75] if you want a 25% offset!
      },
      opacity: 1,
      inViewport: false,
      el: null
    };
  },
  computed: {
    builtTextarea(){
      let str = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'pre_tag')){
        if(this.blok['pre_tag'].trim() !== ''){
          str += this.blok['pre_tag'];
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'textarea')){
        if(this.blok['textarea'].trim() !== ''){
          str += this.blok['textarea'];
        }
      }
      if(Object.prototype.hasOwnProperty.call(this.blok, 'post_tag')){
        if(this.blok['post_tag'].trim() !== ''){
          str += this.blok['post_tag'];
        }
      }
      return str;
    },
    hasWayPoint(){
      return this.blok['use_waypoints'];
    },
  },
  mounted(){
    //console.log(1);
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {

    onWaypoint ({ el, going, direction }) {
      this.el = el;
      if (going === this.$waypointMap.GOING_IN) {
        this.inViewport = true;
      }
      if (going === this.$waypointMap.GOING_OUT) {
        this.inViewport = false;
      }
    },
    handleScroll(e) {
      if (this.inViewport && this.el) {
        let scrollPercent = this.el.getBoundingClientRect().top / ( window.innerHeight / 3 );
        if (scrollPercent >= 0) {
          this.opacity = scrollPercent;
        }
      }
    }
  }
};
</script>

<style src="./Textarea.scss" lang="scss" scoped></style>
