.c-ButtonGroup {
  //@include v-spacing('margin-top', 20px, 50px);
  width: 100%;

  &__title {
    @include v-spacing('padding-bottom', 20px, 50px);
    @include v-spacing('margin-bottom', 20px, 50px);
  }

  &__items {
    .c-Link {
      @include v-spacing('font-size', 14px, 18px);
      display: inline-block;
      margin-bottom: 30px;
      padding-bottom: 5px;
      font-family: $f-body;
      font-weight: 300;
      color: rgba($c-black, 0.5);
      border-bottom: 1px solid rgba($c-black, 0.5);
      text-decoration: none;
      text-transform: initial;
      letter-spacing: initial;
      cursor: pointer;
      transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

      &:hover {
          color: rgba($c-black, 1);
          border-bottom: 1px solid rgba($c-black, 1);
      }
    }

    &:only-child {
      a{
        margin-bottom: 0;
      }
     }
  }
}
