<template>
  <div v-editable="blok">
    <grid
      :class="` ${gridClasses()} ${textAlignClasses()} ${positionHClasses()} ` "
    >
      <c-col
        :class="`c-Col ${colClasses()} ${colOffsetClasses()} `"
      >
        <div class="c-ButtonGroup">
          <h6
            v-if="blok.title"
            class="c-ButtonGroup__title u-border--bottom"
          >
            {{ blok.title }}
          </h6>
          <div class="c-ButtonGroup__items">
            <div
              v-for="(item, idx) in blok.items"
              :key="idx"
              class="c-ButtonGroup__item"
            >
              <c-button
                :blok="item"
              />
            </div>
          </div>
        </div>
      </c-col>
    </grid>
  </div>
</template>

<script>
import CButton from '../../Atoms/Button/Button';
import cName from '../../../mixins/storyBlok';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';

export default {
  name: 'ButtonGroup',
  components: {
    Grid,
    CCol,
    CButton
  },
  mixins: [
    cName,
    gridClasses,
    colClasses,
    positionHClasses
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  mounted(){
    //console.log(1);
  }
};
</script>

<style src="./ButtonGroup.scss" lang="scss"></style>
