<template>
  <div
    class="c-FigureGroupLayout6"
  >
    <grid
      v-if="blok.figures.length > 0"
      :classes="`${vAlign}`"
    >
      <c-col
        v-if="blok.figures[0]"
        :blok="{
          small: 20,
          large: 13,
        }"
      >
        <c-figure
          :blok="blok.figures[0]"
          :label="figLabel()"
          :group-captions="blok.group_captions"
        />
      </c-col>

      <c-col
        :blok="{
          small: 20,
          large: 5,
          largeOffset: 2,
          xxlarge: 4,
          xxlargeOffset: 3,
          classes: 'infront'
        }"
      >
        <div
          v-if="blok.group_captions === 'grouped'"
          class="c-FigureGroup__captions"
        >
          <div
            v-for="(image, index) in blok.figures.slice(0, 2)"
            :key="image._uid"
            :blok="image"
            class="c-Caption"
          >
            <h6 class="c-Caption__num ">
              <strong>{{ figLabel() }} {{ index+1 }}</strong>
            </h6>
            <c-text
              v-if="image.captions[0].textarea"
              :text="image.captions[0].textarea"
            />
          </div>
        </div>
      </c-col>

      <c-col
        v-if="blok.figures[1]"
        :blok="{
          small: 20,
          large: 9,
          classes: 'pos-bottom-right'
        }"
      >

        <c-figure
          :blok="blok.figures[1]"
          :label="figLabel()"
          :group-captions="blok.group_captions"
        />
      </c-col>
    </grid>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import cFigure from '../../../../Molecules/Figure/Figure';
import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';
import figLabel from '../../../../../mixins/storyBlok';

//@TODO - having problems inheriting functionality in mixins

export default {
  components: {
    cFigure,
    Grid,
    CCol
  },
  extends: {
    FigureGroup
  },
  mixins: [
    figLabel
  ],
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
  },
};
</script>

<style src="./FigureGroupLayout6.scss" lang="scss"></style>
