<template>
  <div
    v-editable="blok"
    class="c-CreditImage"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>

<script>
//@TODO - Add notes & instructions to these project files
//@TODO - move wrapper classes to schema
//@TODO - add notes & instructions to these project files
//@TODO - sbk_ctrl_options should be column specific?
//@TODO - the end data cnts all get these reactive values, this will break very soon
//@TODO - need a fallback in case value is empty?
//@TODO - grid_classes inside cnts assume one level of inner nesting, this will break

import Split from '../../../../src/components/Templates/Split/Split.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        //@NOTE - empty components, flexible content iteration needs component
        // ...name, components fetch data for own use
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              large: 7
            },
            components: {
              authors: {
                options: {}
              },
              share_icons: {
                options: {}
              }
              // social_links: {
              //   options: {}
              // }
            }
          },
          column_2: {
            classes: '',
            col_sizes: {
              large: 13
            },
            components: {
              figure: {
                sbk_controls: {
                  image_size: {},
                  position_h: {}
                },
                show_captions: true,
                caption_position: 'bottom',
                image_col_sizes: {
                  square: {
                    medium: 20,
                    large: 20,
                  },
                  landscape: {
                    medium: 20,
                    large: 20,
                  },
                  small_landscape: {
                    medium: 17,
                    large: 17,
                  },
                  portrait: {
                    medium: 20,
                    large: 20,
                  },
                },
                image_position_control: { //@TODO put in sbk_controls
                  square: true,
                  small_landscape: true,
                  landscape: true,
                  portrait: true,
                },
                image_classes: {
                  landscape: '',
                  square: '',
                  portrait: '',
                },
                image_position_sizes:{
                  square: 'right',
                  landscape: 'right',
                },
              },
            },
          },
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);//@TODO - causes error when numCnts param doesnt match cnts
        }
      }
      return {};
    }
  },
};

</script>

<style src="./CreditImage.scss" lang="scss"></style>
