.c-CreditImage{
    /*.c-Figure {
        .c-Grid{
            &.align-right{
                margin-right: (-1 *  map_get($grid-margin-gutters, 'large'));
            }
        }
    }*/
  .c-ShareIcons {
    ul {
      @include breakpoint(small down) {
          margin: 20px 0 40px;
      }
    }
  }
}

.c-CreditImage {
     .c-Figure {
       .c-Figure__image {
         /*.c-Image.image-size-square, .c-Image.image-size-landscape {
               margin-right: (-1 *  map_get($grid-margin-gutters, 'large'));
           }*/
       }
       &:not(.c-Figure--reverse){
         .c-Figure__caption{
             margin-top: 0;
         }

         &.c-Figure--reverse {
           margin-top: (-1 *  map_get($grid-margin-gutters, 'large'));
         }
       }
     }
 }


