<template>
  <div
    v-editable="blok"
    class="c-ExpandedText"
  >
    <c-grid class="grid-x">
      <c-col
        v-if="blok.width === '50'"
        :blok="{
          classes: ' large-offset-3 ',
          col_sizes: {
            small: 20,
            large: 14,
          },
        }"
      >
        <c-markdown
          v-for="text in blok.text"
          :key="text._uid"
          :blok="{...text, ...{text_align: blok.text_align}}"
        />
      </c-col>
      <c-col
        v-else
        :blok="{
          classes: '',
          col_sizes: {
            small: 20,
            large: 18,
          },
        }"
      >
        <c-markdown
          v-for="text in blok.text"
          :key="text._uid"
          :blok="{...text, ...{text_align: blok.text_align}}"
        />
      </c-col>
    </c-grid>
  </div>
</template>

<script>
import CGrid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import CMarkdown from '../../Atoms/Markdown/Markdown';

export default {
  components: {
    CGrid,
    CCol,
    CMarkdown
  },
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
};
</script>

<style src="./ExpandedText.scss" lang="scss" scoped></style>
