<template>
  <div
    v-editable="blok"
    class="teaser"
  >
    <component
      v-if="slide"
      :is="slide.component"
      :blok="slide"
    />
    <div class="teaser__pag">
      <button
        v-for="(blok, index) in blok.body"
        :key="index"
        :class="{'teaser__pag-dot--current': index === currentSlide}"
        class="teaser__pag-dot"
        @click="handleDotClick(index)"
      >
        Next
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  },

  data () {
    return {
      currentSlide: 0
    };
  },

  computed: {
    slide () {
      let slides = this.blok.body.filter((slide, index) => {
        return this.currentSlide === index;
      });
      if (slides.length) {
        return slides[0];
      }
      return null;
    }
  },

  methods: {
    handleDotClick (index) {
      this.currentSlide = index;
    }
  }
};
</script>

<style lang="scss">
  .teaser__pag {
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }

  .teaser__pag-dot {
    text-indent: -9999px;
    border: 0;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 0;
    margin: 5px 6px;
    background-color: #ccc;
    -webkit-appearance: none;
    cursor: pointer;
  }

  /*&--current {
      background-color: #000;
    }*/
</style>
