<template>
  <!-- <div v-show="isActive"> -->
  <div :class="[isActive ? 'active' : 'notActive']">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    name: { required: true },
    selected: { default: false}
  },
  data() {
    return {
      isActive: false
    };
  },
  computed: {
    href() {
      return '#' + this.name.toLowerCase().replace(/ /g, '-');
    }
  },
  mounted() {
    this.isActive = this.selected;
  }
};
</script>

<style src="./Tab.scss" lang="scss"></style>
