<template>
  <li
    v-if="link"
  >
    <!--:class="`c-MenuLink ${classes}`"-->

    <nuxt-link
      v-if="link"
      :to="link"
      class="c-Nav__item"
    >
      <span
        v-if="image"
        class="c-MenuLink__bg"
      >
        <atom-image
          v-for="blok in image"
          :key="blok._uid"
          :src="blok.image"
          :blok="blok"
        />
      </span>
      <span
        v-if="text && !image"
        class="c-MenuLink__text"
      >
        <span class="post__inner">
          <span
            v-if="text"
            class="link-text"
          >{{ text }}</span>
        </span>
      </span>
    </nuxt-link>
  </li>
</template>

<script>

//@TODO - needs classes and states
export default {
  props: {
    blok: {
      required: false,
      type: Object,
      default: () => {}
    },
    'link': {
      required: true,
      type: String,
      default: ''
    },
    'text': {
      required: false,
      type: String,
      default: ''
    },
    'image': {
      required: false,
      type: String,
      default: ''
    },
  },
};
</script>

<style src="./MenuLink.scss" lang="scss"></style>
