<template>
  <div v-editable="blok">
    <a
      :href="blok.file_link || blok.url.url"
      :class="`c-Button ${classes}`"
      :target="target"
    >
      <slot>
        {{ blok.text }}
      </slot>

      <slot
        v-if="blok.icon"
        name="icon"
      >
        <span class="c-Button__icon">
          <img
            :src="blok.icon"
            alt="icon"
          >
        </span>
      </slot>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  computed: {
    classes() {
      if(this.blok.type === 'large' ){
        return 'c-Button--large';
      } else {
        return '';
      }
    },
    target(){
      return this.blok.new_tab === true ? '_blank' : '_self';
    }
  },
  mounted(){
    //console.log(1);
  }
};
</script>

<style src="./Button.scss" lang="scss" scoped></style>
