.c-Button {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}


.c-Button--large {
    padding: 40px 35px;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: $c-light-grey;
    width: 100%;
    max-width: 100%;
    border: none;

    &:hover {
        opacity: 0.5;
    }
}

.c-Button__icon {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}
