.c-StickyNav {
  position: sticky;
  top: 0;

  @include breakpoint( large ) {
    top: 100px;
  }

  &__item{
    display: block;
    @include v-spacing('font-size', 14px, 18px);
    @include v-spacing('line-height', 28px, 36px);
    text-decoration: none;
    color: $c-link-color;//rgba($c-black, 0.5);
    transition: color 0.2s ease-in-out;

    &:focus,
    &:active {
      color: $c-link-color;
    }

    &.is-active {
      color: $c-black;
    }
  }
}
