<template>
  <div class="c-StickyNav">
    <scrollactive
      :offset="100"
      class="c-StickyNav__nav">
      <a
        v-for="(item, index) in blok.links"
        :key="item._uid"
        :href="item.link.url"
        class="c-StickyNav__item scrollactive-item"
      >
        <span class="link-text-wrap">
          {{ item.text }}
        </span>

      </a>
    </scrollactive>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style src="./StickyNav.scss" lang="scss"></style>
