.c-AccordionGroup {
  // @include v-spacing('padding', 20px, 50px);
  //margin-bottom: 50px;
  margin-bottom: 0;
  width: 100%;

  &__items{
    width: 100%;
  }

  &__title{

  }

  .c-Accordion {
    width: 100%;

  }
}
