<template>
  <div
    v-editable="blok"
    class="c-AccordionGroup"
  >
    <grid
      :class="` ${gridClasses()} ${positionHClasses()} `"
    >
      <c-col
        :class="` c-Col ${colClasses()} ${colOffsetClasses()} `"
      >
        <div
          :class="` ${gridClasses()} ${positionHClasses()} `"
        >
          <slot name="title">
            <div class="c-AccordionGroup__title h3">
              {{ blok.title }}
            </div>
          </slot>

          <div
            class="c-AccordionGroup__items"
          >
            <c-accordion
              v-for="(item, index) in blok.accordion"
              :key="index"
              :blok="item"
            />
          </div>
        </div>
      </c-col>
    </grid>
  </div>
</template>

<script>
import CAccordion from '../Accordion/Accordion';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import colOffsetClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    CAccordion,
    Grid,
    CCol,
  },
  mixins: [
    gridClasses,
    colClasses,
    positionHClasses,
    colOffsetClasses
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    },
  },
  mounted(){
    //console.log(1);
  },
};
</script>

<style src="./AccordionGroup.scss" lang="scss"></style>
