<template>
  <div
    v-editable="blok"
    class="c-ImageSingle"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter ',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              figure: {
                sbk_controls: {
                  position_h: {},
                  image_size: {},
                  remove_top_space: {},
                  remove_bottom_space: {},
                },
                caption_position: 'bottom',
                show_captions: true,
                group_captions: false,//default?
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 19
                },
              },
            }
          },
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./ImageSingle.scss" lang="scss"></style>
