<template>
  <div
    v-editable="blok"
    class="c-ImageGroup2"
  >
    <!-- <grid
      :blok="{
        grid_classes: 'left-gutter right-gutter'
      }"
    > -->
    <grid>
      <c-col
        :blok="{
          large: 20,
        }"
      >
        <figure-group
          :blok="blokMerge"
        />
      </c-col>
    </grid>
  </div>
</template>
<script>
import FigureGroup from '../../../../src/components/Organisms/FigureGroup/FigureGroup.vue';
import Grid from '../../../../src/components/Templates/Grid/Grid';
import CCol from '../../../../src/components/Templates/Col/Col';

export default {
  components:{
    FigureGroup,
    Grid,
    CCol
  },
  props:{
    blok:{
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      overrides: {
        //@NOTE - override components
        //components{[],[]}

        options: { //@NOTE - FigureGroup options
          group_captions: 'grouped',
          layout: 8,
          caption_position: 'top',
          vertical_align: 'top',
          label: 'Fig.',
          image_sizes: 'large',

          elements: { //@NOTE - add all potential sbk eles here
            figures:[
              {
                //@TODO - needs to handle image size differentiation
                images: [ //@NOTE - must be array
                  {
                    width: 820,
                    height: 785
                  },
                ],
              },
              {
                images: [
                  {
                    width: 540,
                    height: 385,
                    smart_crop: true,
                  },
                ]
              }
            ]
          }
        }
      }
    };
  },
  /*computed: {
    blokMerge() {

      let bl = this.blok;

      if(bl.figures.length > 0){
        if(bl.image_sizes === 'large'){
          // Large size
          if(bl.figures[0].images.length > 0) {
            bl.figures[0].images[0].width = 1329;
            bl.figures[0].images[0].height = 1600;
          }

          if(bl.figures[1].images.length > 0) {
            bl.figures[1].images[0].width = 857;
            bl.figures[1].images[0].height = 857;
          }
        } else {
          // Default size
          if(bl.figures[0].images.length > 0) {
            bl.figures[0].images[0].width = 1229;
            bl.figures[0].images[0].height = 908;
          }

          if(bl.figures[1].images.length > 0) {
            bl.figures[1].images[0].width = 857;
            bl.figures[1].images[0].height = 575;
          }
        }
      }

      return {...bl, ...this.overrides};
    }
  }*/
};

</script>
