<template>
  <div
    v-editable="blok"
    class="c-ImageDouble"
  >
    <split
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import Split from '../../../../src/components/Templates/Split/Split.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';
import buildSbkCntCtrlOpts from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    Split
  },
  mixins:[
    getMergedData,
    buildSbkCntCtrlOpts
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter',
          grid_classes: ' align-justify ',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 10
            },
            components: {
              figure: {
                sbk_controls: {
                  image_size: {}
                },
                caption_position: 'bottom',
                show_captions: true,
                group_captions: false,//default?
                image_size: 'square',
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 19
                },
              },
            }
          },
          column_2: {
            classes: ' y ',
            col_sizes: {
              medium: 10
            },
            components: {
              figure: {
                sbk_controls: {
                  image_size: {}
                },
                caption_position: 'bottom',
                show_captions: true,
                image_size: 'square',
                group_captions: false,//default?
                grid_classes: ' align-right ',
                col_classes: '',
                col_sizes: {
                  medium: 19
                },
              },
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 2);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./ImageDouble.scss" lang="scss"></style>
