<template>
  <div
    v-editable="blok"
    class="c-Carousel"
  >
    <grid
      v-editable="blok"
      :class="` ${gridClasses()} `"
    >
      <c-col
        :class="`c-Col ${colClasses()}`"
      >

        <vue-glide
          v-if="blok.images.length"
          :options="glideOptions">
          <vue-glide-slide
            v-for="(figure, index) in blok.images"
            :key="figure._uid"
          >
            <c-figure
              :blok="figureBlok(figure)"
              :label="blok.caption_label + ' ' + (index+1)"
            />
          </vue-glide-slide>
        </vue-glide>

        <!-- <client-only> -->
        <!-- <swiper :options="swiperOption" ref="mySwiper">
            <swiper-slide
              v-for="(figure, index) in blok.images"
              :key="figure._uid"
            >
              <c-figure
                :blok="figureBlok(figure)"
                :label="blok.caption_label + ' ' + (index+1)"
              />
            </swiper-slide> -->

        <!-- Optional controls -->
        <!-- <div
              v-if="blok.pagination"
              slot="pagination"
              class="swiper-pagination"
            />
            <div
              v-if="blok.buttons"
              slot="button-prev"
              class="swiper-button-prev"
            />
            <div
              v-if="blok.buttons"
              slot="button-next"
              class="swiper-button-next"
            /> -->
        <!-- <div class="swiper-scrollbar"   slot="scrollbar"> -->
        <!-- </swiper> -->
        <!-- </client-only> -->
      </c-col>
    </grid>
  </div>
</template>

<script>

//@NOTE - assumes all images get the same options

import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    Grid,
    CCol
  },
  mixins: [
    colClasses,
    gridClasses,
  ],
  props: {
    blok: {
      //required: true,
      type: Object,
      default: function () {
        return {
          'images': {
            required: true,
            type: Object,
            default: () => []
          },
        };
      }
    }
  },
  //@TODO - put these options in the wrapper schema
  //@TODO - need to add image_col_sizes?

  data() {
    return {
      // https://antonreshetov.github.io/vue-glide/props/
      glideOptions: {
        perView: 2,
        gap: 200,
        bound: true, // false
        rewind: true, // false
        breakpoints: {
          1024: {
            perView: 2,
            gap: 50
          },
          768: {
            perView: 2,
            gap: 50
          },
          640: {
            perView: 1,
            gap: 30
          },
          320: {
            perView: 1,
            gap: 10
          }
        }
      },
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 200,
        // centeredSlides: true,
        // slidesPerGroup: 3,
        // loop: true,
        // loopFillGroupWithBlank: true,
        // freeMode: true,
        // cssMode: true,
        grabCursor: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        //@TODO - sync with global breakpoints?
        //@TODO - options not working??
        breakpoints: {
          1024: {
            slidesPerView: 3,
            spaceBetween: 100
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 50
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 30
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      },
      imageOptions:[
        'buttons',
        'caption_label',
        'caption_position',
        'show_captions',
        'pagination',
        'image_size'
      ]
    };
  },
  // computed: {
  //   swiper() {

  //     return this.$refs.mySwiper.swiper
  //   }
  // },
  mounted(){
    //console.log(1);
    // console.log('this.$refs.mySwiper.swiper');
    // console.log(this.$refs.mySwiper.swiper);
    // this.$refs.mySwiper.swiper.destroy(false, false);
    // this.$refs.mySwiper.swiper.init();
  },
  methods: {
    figureBlok(img){
      let opts = {};
      for(const name of this.imageOptions){
        if(Object.hasOwnProperty.call(this.blok, name)){//@TODO - type checking here, it could be any type
          opts[name] = this.blok[name];
        }
      }
      let merged = {...img, ...opts};
      return merged;
    }
  },
};
</script>


<style src="./Carousel.scss" lang="scss"></style>
