.c-Carousel {
    // min-height: 500px;
    overflow: hidden;

    .glide {
        .glide__slides, .glide__track {
            overflow: visible;
        }
    }

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        // max-width: 40%;
        // margin-left: 100px;
    }


    .flickity-slider {
        // display: flex;
        // align-items: center;

        & > figure {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 70%;
            min-height: 50vh;
            height: 200px; /* height of carousel */
            /*@include v-spacing('margin-right', 30px, 200px);*/

            @include breakpoint( small down ) {
                margin: 0 10px;
            }

            // @include breakpoint(medium) {
            //     width: 50%;
            //     height: 500px;
            //     padding: 0 10px;
            // }

            // @include breakpoint(large) {
            //     width: 30%;
            //     height: 700px;
            //     padding: 0 20px;

            // }
        }

        img {
            width: 100%;

            @include breakpoint( small down ) {
                min-height: 500px;
                /* height: 516px; */
                width: fit-content;
                min-width: fit-content;
                max-width: 100%;

            }

        }

    }
}

