.c-SimpleVideo {

    video {
        object-fit: cover;
    }

    &__caption {

    }

    video {
        position: absolute;
        z-index: 0;
        background-size: 100% 100%;
        top: 0;
        left: 0; /* fixed to left. Replace it by right if you want.*/
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }

}
