<template>
  <div v-editable="blok">
    <div
      v-if="blok.size === 'normal'"
      class="c-SimpleVideo"
    >

      <grid>
        <c-col
          :blok="{
            small: 20,
            large: 16,
            largeOffset: 3,
          }"
        >
          <c-video-player
            v-for="video in blok.video"
            :key="video._uid"
            :blok="videoBlok(video)"
          />
          <div class="c-SimpleVideo__caption">
            <c-text
              v-for="caption in blok.caption"
              :key="caption._uid"
              :text="caption"
            />
          </div>
        </c-col>
      </grid>
    </div>
    <div
      v-else
      class="c-SimpleVideo"
    >
      <c-video-player
        v-for="video in blok.video"
        :key="video._uid"
        :blok="videoBlok(video)"
      />

      <div class="c-SimpleVideo__caption">
        <c-text
          v-for="caption in blok.caption"
          :key="caption._uid"
          :text="caption"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import CVideoPlayer from '../../Atoms/VideoPlayer/VideoPlayer';

export default {
  components: {
    Grid,
    CCol,
    CVideoPlayer
  },
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {
        return {
          caption: {
            type: String,
            default: ''
          },
          video: {
            type: Object,
            default: () => {}
          },
          size: {
            type: String,
            default: ''
          }
        };
      }
    }
  },
  mounted(){
    //console.log(1);
  },

  methods: {
    videoBlok(video){

      return {
        ...video,
        ...{media_overlay: this.blok.media_overlay
        }
      };

    }
  }
};
</script>

<style src="./SimpleVideo.scss" lang="scss" scoped></style>
