/*
.wc-buttons{
  .c-ButtonGroup__items(first-child){

  }
}
*/

.c-Button.c-Button--large {
  padding: 40px 35px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: $c-light-grey;
  width: 100%;
  max-width: 100%;
  border: none;

  @include breakpoint(large) {
    margin-bottom: 50px;
  }

  &:hover {
    opacity: 0.5;
  }
}
