.c-ImageText {
  .c-Split {
    .c-Grid {
      /*.c-Col {
        &.column {
          &:nth-child(1){
            padding-right: 0;
          }
          &:nth-child(2){
            padding-left: 0;
          }
        }
      }*/
    }
  }
}
