<template>
  <div v-editable="blok">
    <grid
      :class="`${gridClasses()} ${positionHClasses()}`"
    >
      <c-col
        :class="`c-Col ${colClasses()}`"
      >
        <div class="c-LinkGroup">
          <h6
            v-if="blok.title"
            class="c-LinkGroup__title"
          >
            {{ blok.title }}
          </h6>
          <div class="c-LinkGroup__items">
            <div
              v-for="(item, idx) in items"
              :key="idx"
              class="c-LinkGroup__item"
            >
              <c-link
                :blok="item"
              />
            </div>
          </div>
        </div>
      </c-col>
    </grid>
  </div>
</template>

<script>
import cName from '../../../mixins/storyBlok';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import CLink from '../../Atoms/Link/Link';
import gridClasses from '../../../mixins/sbkCssClasses';
import colClasses from '../../../mixins/sbkCssClasses';
import positionHClasses from '../../../mixins/sbkCssClasses';

export default {
  name: 'LinkGroup',
  components: {
    Grid,
    CCol,
    CLink
  },
  mixins: [
    cName,
    gridClasses,
    colClasses,
    positionHClasses
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    items(){
      if(this.blok.items){
        return this.blok.items;
      }
      if(this.blok.links){
        return this.blok.links;
      }
      return [];
    }
  },
  mounted(){
    //console.log(1);
  },
};
</script>

<style src="./LinkGroup.scss" lang="scss"></style>
