.c-LinkGroup{
  //@include v-spacing('margin-top', 20px, 50px);
  max-width: 800px;
  width: 100%;

  &__title {
    @include v-spacing('padding-bottom', 20px, 50px);
    @include v-spacing('margin-bottom', 20px, 50px);
  }

  &__items {
    .c-LinkGroup__item {//@TODO - use shorthand
      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }

    .c-Link {
      display: inline-block;
      margin-bottom: 30px;
      padding-bottom: 5px;
      color: $c-link-color;//rgba($c-black, 0.5);
      border-bottom: 1px solid $c-link-border;//rgba($c-black, 0.5);
      text-decoration: none;
      text-transform: initial;
      letter-spacing: initial;
      cursor: pointer;
      transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

      &:hover {
        color: rgba($c-black, 1);
        border-bottom: 1px solid rgba($c-black, 1);
      }
    }

  }
}
