<template>
  <grid v-editable="blok">
    <c-col
      :blok="mergedBlok"
    >
      <c-markdown
        v-for="text in blok.text"
        :key="text._uid"
        :blok="text"
      />
    </c-col>
  </grid>
</template>

<script>
//@TODO - further dev needed for position_override feature

import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';

export default {
  components: {
    Grid,
    CCol
  },
  props: {
    blok: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  computed: {
    mergedBlok(){
      let grid = 20;
      let baseOpts = {};
      let pos = '';

      if( this.blok.position_override ){
        pos = this.blok.position_override;
      }
      else{
        pos = this.blok.align;
      }

      if(pos === 'left'){
        baseOpts = {
          small: 20,
          large: 9
        };
      }
      else if(pos === 'center'){
        baseOpts = {
          small: 20,
          medium: 10,
          large: 11,
          largeOffset: 7,
          xlarge: 9,
        };
      }
      else if(pos === 'right'){
        baseOpts = {
          small: 20,
          large: 9,
          largeOffset: this.blok.grid_override.large ? grid - this.blok.grid_override.large : 11,
        };
      }
      return {...baseOpts, ...this.blok.grid_override};
    }
  }
};
</script>

<style src="./SimpleText.scss" lang="scss" scoped></style>
