.c-FigureGroup {
    position: relative;

    .c-Image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .pos-bottom-center {
        @include breakpoint(large) {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    .pos-bottom-left {
        @include breakpoint(large) {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    .pos-bottom-right {
        position: absolute;
        @include breakpoint(large) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .infront {
        @include breakpoint(large) {
            position: relative;
            z-index: 100;
        }
    }
}

.c-Caption__num {
    margin: 0 auto 15px;

    @include breakpoint(small down){
        margin: 0 auto;
    }
}

.c-FigureGroup__captions {
    padding-top: 20px;
    border-top: 1px solid $c-black;

    .c-Caption {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
