<template>
  <div
    v-editable="blok"
    class="c-FigureGroup left-gutter right-gutter"
  >
    <slot v-if="layouts.length > 0">
      <client-only v-if="figureGroupLayoutLoader === 'figure-group-layout-7' && isIE()">
        <component
          :is="`figure-group-layout-2`"
          :blok="blok"
        />
      </client-only>
      <client-only v-else>
        <component
          :is="figureGroupLayoutLoader"
          :blok="blok"
        />
      </client-only>

    </slot>
  </div>
</template>

<script>
//@TODO - make imports dynamic
import FigureGroupLayout1 from './layouts/FigureGroupLayout1/FigureGroupLayout1.vue';
//import FigureGroupLayout1 from '~/components/Organisms/FigureGroupLayout1Ext/FigureGroupLayout1Ext.vue';
import FigureGroupLayout2 from './layouts/FigureGroupLayout2/FigureGroupLayout2.vue';
import FigureGroupLayout3 from './layouts/FigureGroupLayout3/FigureGroupLayout3.vue';
import FigureGroupLayout4 from './layouts/FigureGroupLayout4/FigureGroupLayout4.vue';
import FigureGroupLayout5 from './layouts/FigureGroupLayout5/FigureGroupLayout5.vue';
import FigureGroupLayout6 from './layouts/FigureGroupLayout6/FigureGroupLayout6.vue';
import FigureGroupLayout7 from './layouts/FigureGroupLayout7/FigureGroupLayout7.vue';
import FigureGroupLayout8 from './layouts/FigureGroupLayout8/FigureGroupLayout8.vue';
import figLabel from '../../../mixins/storyBlok';
import formatLayouts from '../../../mixins/storyBlok';
import getLayoutNumberWithId  from '../../../mixins/storyBlok';

export default {
  components: {
    FigureGroupLayout1,
    FigureGroupLayout2,
    FigureGroupLayout3,
    FigureGroupLayout4,
    FigureGroupLayout5,
    FigureGroupLayout6,
    FigureGroupLayout7,
    FigureGroupLayout8
  },
  mixins: [
    figLabel,
    formatLayouts,
    getLayoutNumberWithId
  ],
  props: {
    blok: {
      required: true,
      type: Object
    },
    defaultLabel: {
      type: String,
      default: 'dgs-dg - '
    }
  },
  computed: {
    figureGroupLayoutLoader() {
      let self = this;
      let layoutNum = null;

      if(Object.prototype.hasOwnProperty.call(this.blok, 'layout')){
        if(!isNaN(this.blok['layout'])){//@TODO - use uuid check here instead of NaN
          layoutNum = this.blok['layout'];
        }
        else{
          layoutNum = self.getLayoutNumberWithId(this.layouts, this.blok['layout']);
        }
      }

      return layoutNum ? 'figure-group-layout-' + layoutNum : 'figure-group-layout-1';
    },
    labelNum(label, index) {
      return label + (index + 1);
    },
    layouts(){
      return this.$store.getters['sbk/layouts/getFigureGroupLayouts'];
    }
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    isIE() {
      return this.$ua.browser() === 'Internet Explorer';
    }
  }
};
</script>

<style src="./FigureGroup.scss" lang="scss"></style>
