// .swiper-slide {
//   max-width: 60%;
//   padding: 0 10px;

//   @include breakpoint(medium down) {
//     width: 60%!important;
//   }

//   @include breakpoint(large) {
//     max-width: 31%;
//     padding: 0 50px;
//   }
// }
