<template>
  <div
    v-editable="blok"
    class="c-Carousel"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
//@TODO - need to add image_col_sizes?

import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components:{
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' test-grid-wrapper-class ',
          grid_classes: ' test-grid-class',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              carousel: {
                sbk_controls: {
                  image_size: {}
                },
                // image_size: 'square',
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 20
                },
                //@TODO - need to add swiper lib options here, it will need a merge function
                buttons: false,
                caption_position: 'bottom',
                show_captions: true,
                pagination: false,
                caption_label: 'test label : ',
              },
            },
          },
        },
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    },
  },
};

</script>


<style src="./Carousel.scss" lang="scss" ></style>
