.c-PostGrid--has-title {
    @include v-spacing(margin-top, 100px, 300px);

    @include breakpoint(small down) {
        padding-top: 100px;
    }

    &.press {
        @include breakpoint(small down) {
            padding-top: 120px;
        }

        .c-StickyText h1 {
            @include breakpoint(small down) {
                font-size: 20px;
            }
        }
    }

    .c-Grid {
        @include v-spacing(margin-top, 100px, 300px);
    }

    .c-StickyText {
        z-index: 1;//-1;
        
        .c-Link {
            margin-top: 20px;

            @include breakpoint(large) {
                margin-top: 50px;
            }
        }
    }
}

.c-PostGrid--masonry {
    .c-PostGrid--has-title & {
        @include v-spacing(margin-top, 40px, 110px);
    }

    .c-PostBox {
        margin-bottom: 40px;

        @include breakpoint( medium ) {
            margin-bottom: 50px;
        }

        @include breakpoint(large) {
            margin-bottom: 150px;
        }
    }

    .c-Col__left {
        .c-PostBox {    
            @include breakpoint(medium only) {
                padding-right: 10px;
            }
                
            @include breakpoint(xmedium only) {
                padding-right: 10px;
            }

            &:nth-child(1n) {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 20%;
                }
            }
    
            &:nth-child(2n) {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 0%;
                }
            }
    
            &:nth-child(3n) {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 20%;
                }
            }            
        }
    }

    .c-Col__right {
        @include breakpoint(medium only) {
            padding-left: 10px;
        }
            
        @include breakpoint(xmedium only) {
            padding-left: 10px;
        }

        @include breakpoint(medium) {
            margin-top: 125px;
        }

       .c-PostBox {
            &:nth-child(1n) {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 30%;
                }
            }

            &:nth-child(2n) {
                @include breakpoint(large) {
                    margin-left: 10%;
                    width: 70%;
                }
            }

            &:nth-child(3n) {
                @include breakpoint(large) {
                    margin-left: 30%;
                    width: 70%;
                }
            }
       }
    }
}


.c-MasonryGrid {
    margin-top: 250px;
    // display: flex;
    // flex-flow: column wrap;
    // max-height: 4000px;

    columns: 2;
    column-gap: 20px;


    .c-MasonryItem {
        display: inline-block;
        width: 40%;

        .c-PostBox {
            margin-bottom: 50px;

            @include breakpoint(large) {
                // margin-top: 150px;
                margin-bottom: 150px;
            }
        }

        &:nth-child(odd) {
            .c-PostBox {
                @include breakpoint(medium only) {
                    margin-right: 10px;
                }

                @include breakpoint(xmedium only) {
                    margin-right: 10px;
                }

                // @include breakpoint(large) {
                //     margin-top: -125px;
                // }
            }
        }

        &:nth-child(even) {
            .c-PostBox {
                @include breakpoint(medium only) {
                    margin-left: 10px;
                }

                @include breakpoint(xmedium only) {
                    margin-left: 10px;
                }
            }
        }

        &:nth-child(1n) {
            .c-PostBox {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 20%;
                }
            }
        }

        &:nth-child(2n) {
            .c-PostBox {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 30%;
                }
            }
        }

        &:nth-child(3n) {
            .c-PostBox {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 0%;
                }
            }
        }

        &:nth-child(4n) {
            .c-PostBox {
                @include breakpoint(large) {
                    margin-left: 10%;
                    width: 70%;
                }
            }
        }

        &:nth-child(5n) {
            .c-PostBox {
                @include breakpoint(large) {
                    width: 70%;
                    margin-left: 20%;
                }
            }
        }

        &:nth-child(6n) {
            .c-PostBox {
                @include breakpoint(large) {
                    margin-left: 30%;
                    width: 70%;
                }
            }
        }
    }

}

// .c-PostGrid--columns {
//     .grid-x {
//         // @extend .grid-padding-x;
//     }
// }



