<!-- v-if="!isFetching"-->
<template>
  <div
    v-editable="blok"
    :class="['c-PostGrid', blok.classes, {'c-PostGrid--has-title': blok.header_text} ]"
  >
    <!-- @TODO - this should be in the project -->
    <div
      v-if="blok.header_text"
      class="c-StickyText u-sticky u-sticky--half"
    >
      <slot name="header">
        <h1 class="u-uppercase">
          {{ blok.header_text }}
        </h1>
      </slot>
    </div>
    <fetch-stories
      :params="params"
    >
      <div slot-scope="{ loading, stories }">
        <div v-if="loading">
          <!--Loading stories...-->
          <!-- @TODO - loader component needed here, sync with sbk live preview -->
        </div>

        <div v-else-if="blok.masonry_grid || masonry_grid">
          <grid :class="`c-PostGrid--masonry ${gridClasses()} ${gridPaddingClass()}` ">
            <c-col
              :blok="{
                col_sizes: {
                  medium: 10
                },
              }"
              class="c-Col__left"
            >
              <client-only
                v-for="(story, index) in stories"
                :key="index"
              >
                <slot name="`post-box${index}`">
                  <post-box
                    v-if="(index % 2 === 0) || (index === 0)"
                    :blok="postBoxBlok(story, index)"
                    :class="` `"
                  />
                </slot>
              </client-only>
            </c-col>
            <c-col
              :blok="{
                col_sizes: {
                  medium: 10
                },
              }"
              class="c-Col__right"
            >
              <client-only
                v-for="(story, index) in stories"
                :key="index"
              >
                <slot name="`post-box${index}`">
                  <post-box
                    v-if="index % 2 !== 0"
                    :blok="postBoxBlok(story, index)"
                    class="even"
                  />
                </slot>
              </client-only>
            </c-col>
          </grid>
        </div>
        <div v-else>
          <grid :class="`${gridClasses()} ${gridPaddingClass()}` ">
            <c-col
              v-for="(story, index) in stories"
              :key="index"
              :class="`c-Col-${index+1}`"
              :blok="colBlok()"
            >
              <slot name="`post-box${index}`">
                <post-box
                  :blok="postBoxBlok(story, index)"
                />
              </slot>
            </c-col>
          </grid>
        </div>
      </div>
    </fetch-stories>
  </div>
</template>

<script>
import FetchStories from '../../Functional/FetchStories/FetchStories';
import PostBox from '../../Molecules/PostBox/PostBox';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';
import getPostBoxFields from '../../../mixins/storyBlok';
import gridClasses from '../../../mixins/sbkCssClasses';

export default {
  components: {
    PostBox,
    Grid,
    CCol,
    FetchStories
  },
  mixins: [
    getPostBoxFields,
    gridClasses
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    },
    layout: {
      type: String,
      default: () => ''
    }
  },
  data () {
    return {
      postLoad: 'lazyload', // paginate or lazyload
      page: 1,
      //stories: [],
      postBoxFields: {},
      image_sizes: {
        //@TODO - needs to be flexible with defaults and project overrides
        //@TODO - how to override, make list sbk field for sizes fields in grid cnt
        portrait: 'portrait',
        landscape: 'small_landscape',
        square: 'square'
      },
      stories: {},
      masonry_grid: false
    };
  },
  created(){
    //@TODO - needs a params mixin to check and set defaults
    //@TODO - Universal param builder function set is needed with simple getters

    this.params = {
      per_page: this.blok.per_page ? this.blok.per_page : 10,
      is_startpage: typeof this.blok.is_startpage !== 'undefined' ? this.blok.is_startpage : false,
      starts_with: this.blok.starts_with !== '' ? this.blok.starts_with : '/'
    };
    if(this.blok.featured){
      this.params['filter_query[featured][in]'] = this.blok.featured;
    }
    if(this.blok.get_by_id){
      this.params['by_uuids_ordered'] = this.blok.get_by_id;
    }
    if(this.blok.categories) {
      if (Array.isArray(this.blok.categories)) {
        if (this.blok.categories.length > 0) {
          let catStr = '';
          this.blok.categories.forEach(function (cat) {
            catStr += cat + ',';
          });
          this.params['filter_query[category][in]'] = catStr.substr(0, catStr.length - 1);
        }
      }
    }
    if(Object.prototype.hasOwnProperty.call(this.blok, 'resolve_relations')) {
      if (this.blok.resolve_relations !== '') {
        this.params.resolve_relations = 'category';
      }
    }

    if(this.blok['exclude_current_page']) {
      if (typeof (this.blok['exclude_current_page']) === 'boolean') {
        if(this.blok['exclude_current_page'] === true){
          //@TODO!!! - is this the correct way to get the id? maybe use slug instead
          this.params['excluding_ids'] = this.getCurrentStoryId();
        }
      }
    }

    this.setOrderParams();

    //@TODO - tmp - must move and fix ASAP

    if(this.$route.fullPath.includes('press')){
      this.masonry_grid = true;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    setOrderParams(){

      let sortBy = null;
      let dir = 'asc';

      if(this.blok.order_by_field){
        if(typeof this.blok.order_by_field === 'string') {
          if (this.blok.order_by_field.trim() !== '') {
            let s = this.blok.order_by_field.split(':');
            if(s.length > 0){
              if(s[1] === 'desc'){
                dir = 'desc';
              }
              sortBy = `content.${s[0]}:${dir}`;
            }
          }
        }
      }

      if(!sortBy && this.blok.order_by){
        if(typeof this.blok.order_by === 'string'){
          if(this.blok.order_by.trim() !== '') {
            switch(this.blok.order_by){
            case 'position_asc':
              sortBy = 'position:asc';
              break;
            case 'first_published_date_asc':
              sortBy = 'first_published_at:asc';
              break;
            case 'first_published_date_desc':
              sortBy = 'first_published_at:desc';
              break;
            case 'published_date_asc':
              sortBy = 'published_at:asc';
              break;
            case 'published_date_desc':
              sortBy = 'published_at:desc';
              break;
            }
          }
        }
      }
      this.params.sort_by = sortBy;
    },
    getCurrentStoryId(){
      let storyId = null;//@TODO not being used, fix this
      if(Object.prototype.hasOwnProperty.call(this.blok, 'current_page_id')){
        if(typeof this.blok['current_page_id'] !== 'undefined'){
          if(!isNaN(Number(this.blok['current_page_id']))){
            if(this.blok['current_page_id'] > 0 ){
              storyId = this.blok['current_page_id'];
            }
          }
        }
      }
      if(!storyId){
        storyId = this.$nuxt.$route.query['_storyblok'];//@TODO needs better checks
      }
      return storyId;
    },
    colBlok(){
      return {
        small: this.blok['num_cols_s'],
        medium: this.blok['num_cols_m'],
        large: this.blok['num_cols_l'],
        smallOffset: this.blok['small_offset'],
        mediumOffset: this.blok['medium_offset'],
        largeOffset: this.blok['large_offset'],
        classes: this.blok['col_classes'],
      };
    },
    getProductClasses(idx){///@TODO - remove this
      return  this.blok['classes'] + ' product-' + idx;
    },
    postBoxBlok(story, idx){
      return {
        fields: this.getPostBoxFields(story),
        link_text: this.blok['link_text'],
        show_date: this.blok['show_date'],
        show_subtitle: this.blok['show_subtitle'],
        layout: this.blok['layout'],
        image_sizes: this.blok['image_sizes'] || this.image_sizes,
        image_size: this.blok['image_size'] || this.image_size,
        disable_links: this.blok['disable_links'],
        classes: this.getProductClasses(idx),///@TODO - should not be here
        media_overlay: this.hasMediaOverlay(),
        use_video_in_lists: story['content']['use_video_in_lists'],
        use_parallax: this.blok['use_parallax'],
      };
    },
    hasMediaOverlay(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'media_overlay')) {
        if (this.blok['media_overlay']) {
          return true;
        }
      }
      return false;
    },
    gridPaddingClass(){
      if(Object.prototype.hasOwnProperty.call(this.blok, 'grid_padding')){
        if( typeof (this.blok['grid_padding']) === 'boolean'){
          if(this.blok.grid_padding === true ){
            return 'grid-padding-x';
          }
        }
      }
      return '';
    }
  },
};

</script>

<style src="./PostGrid.scss" lang="scss"></style>
