<template>
  <div v-editable="blok">
    <!--<pre>
      {{ blok }}
    </pre>-->
    <a
      :href="linkUrl"
      class="c-Link"
    >
      <slot>
        {{ blok.link_text }}
      </slot>
    </a>
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  computed:{
    linkUrl(){
      //@TODO - safe to use cached_url here??
      return this.blok.url.linktype === 'story' ? this.blok.url.cached_url : this.blok.url.url;
    }
  },
};
</script>

