.c-FigureGroupLayout7 {
  
  @include breakpoint(large) {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
  }

  .c-FigureGroup__col:first-child {
    @include breakpoint(xmedium down) {
      margin-bottom: 30px;
    }
  }
  
  .c-FigureGroup__col {
    @include breakpoint(small down) {
      margin-bottom: 20px;
    }

    @include breakpoint(large) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      align-content: space-between;
    }

      &:first-child {
        @include breakpoint(large) {
            width: 45%;
        }
      }

      &:last-child {
        @include breakpoint(large) {
            width: 30%;
        }

        @include breakpoint(xmedium down) {
          margin-bottom: 0;
        }
    
        .c-Caption:last-child {
          @include breakpoint(xmedium down) {
            margin-bottom: 0;
          }
        }
      }
  }
}

.c-FigureGroupLayout7--reverse {
  flex-direction: row-reverse;

  .c-FigureGroup__col {
      align-items: flex-start;
  }
}

.c-FigureGroupLayout7--top {
  .c-FigureGroup__col {
      flex-direction: column-reverse;
  }
}

.c-FigureGroupLayout7--bottom {
  .c-FigureGroup__captions {
      margin-top: 30px;
  }
}



.c-FigureGroup__captions {
  border-top: 1px solid black;
  padding-top: 20px;
  max-width: 260px;

  @include breakpoint(xmedium down) {
    margin-top: 30px;
  }
}
