<template>
  <div
    :class="`c-FigureGroupLayout7 ${vAlign} ${reverse}`"
  >
    <c-grid
      v-if="hasFigures()"
      :blok="{grid_classes:`${vAlign} ${gridClassesLocal()}`}"
    >
      <c-col
        v-if="isFigure(0)"
        :blok="col1Blok"
      >
        <c-figure
          :blok="imageBlok(0)"
        />


        <div
          v-if="blok.group_captions && blok.show_captions"
          class="c-FigureGroup__captions"
        >
          <div
            v-for="(image, index) in blok.figures.slice(0, 2)"
            :key="image._uid"
            :blok="image"
            class="c-Caption"
          >
            <h6 class="c-Caption__num ">
              <strong>{{ blok.label }} {{ index+1 }}</strong>
            </h6>

            <c-text
              v-if="image.captions[0].textarea"
              :text="image.captions[0].textarea"
            />
          </div>
        </div>
      </c-col>

      <c-col
        v-if="isFigure(1)"
        :blok="col2Blok"
      >
        <c-figure
          :blok="imageBlok(1)"
        />
      </c-col>
    </c-grid>

  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import figLabel from '../../../../../mixins/storyBlok';
import CText from '../../../../Atoms/Text/Text';
import gridClasses from '../../../../../mixins/sbkCssClasses';
import isFigure from '../../../../../mixins/sbkFigureGroups';
import hasFigures from '../../../../../mixins/sbkFigureGroups';
import imageBlok from '../../../../../mixins/sbkFigureGroups';
import figures from '../../../../../mixins/sbkFigureGroups';
//@TODO - having problems inheriting functionality in mixins

export default {
  components: {
    CFigure,
    CText
  },
  extends: {
    FigureGroup
  },
  mixins: [
    figLabel,
    gridClasses,
    figures,
    imageBlok,
    isFigure,
    hasFigures
  ],
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  data(){
    return {
      defaults:{
        classes: {
          grid_classes: 'align-justify'
        }
      }
    };
  },
  computed: {
    vAlign () {
      if (!this.blok['position_v']) {
        return '';
      } else {
        return 'c-FigureGroupLayout7--' + this.blok['position_v'];
      }
    },
    reverse () {
      if (this.blok.reverse) {
        return 'c-FigureGroupLayout7--reverse';
      } else {
        return '';
      }
    },
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    gridClassesLocal() {
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, ['grid_classes'])){
        classes += this.gridClasses();
      }
      else{
        classes += this.defaults.classes.grid_classes;
      }

      return classes;
    }
  },

};
</script>

<style src="./FigureGroupLayout7.scss" lang="scss" scoped></style>
