<template>
  <div
    :class="`c-FigureGroupLayout7 ${vAlign} ${reverse}`"
  >
    <!-- FigureGroupLayout7 - -->

    <!--    <pre>
      {{ blok }}
    </pre>-->

    <div class="c-FigureGroup__col">
      <div
        v-if="hasFigures()"
        class="c-Figure__image"
      >
        <c-figure
          v-if="isFigure(0)"
          :blok="imageBlok(0)"
          :label="figLabel()"
          :group-captions="blok.group_captions"
          :use-aspect-ratio="false"
        />
      </div>
    </div>
    <div class="c-FigureGroup__col">
      <div
        v-if="hasFigures()"
        class="c-Figure__image"
      >
        <c-figure
          v-if="isFigure(1)"
          :blok="imageBlok(1)"
          :label="figLabel()"
          :group-captions="blok.group_captions"
          :use-aspect-ratio="false"
        />
      </div>
      <div
        v-if="blok.figures.length > 0"
        class="c-FigureGroup__captions"
      >
        <!-- @TODO - shouldn't really use c-Caption class here as its not a cnt (yet) -->
        <client-only
          v-for="(image, index) in blok.figures.slice(0, 2)"
          :key="image._uid"
        >
          <div
            v-if="image.captions[0] && image.captions[0].textarea"
            class="c-Caption"
          >
            <div v-if="image.captions.length > 0 && image.captions[0] && image.captions[0].textarea">
              <h6 class="c-Caption__num ">
                <strong>{{ figLabel() }} {{ index+1 }}</strong>
              </h6>
              <c-text
                :text="image.captions[0].textarea"
              />
            </div>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import figLabel from '../../../../../mixins/storyBlok';
import CText from '../../../../Atoms/Text/Text';
import gridClasses from '../../../../../mixins/sbkCssClasses';
import isFigure from '../../../../../mixins/sbkFigureGroups';
import hasFigures from '../../../../../mixins/sbkFigureGroups';
import imageBlok from '../../../../../mixins/sbkFigureGroups';
import figures from '../../../../../mixins/sbkFigureGroups';
//@TODO - having problems inheriting functionality in mixins

export default {
  components: {
    CFigure,
    CText
  },
  extends: {
    FigureGroup
  },
  mixins: [
    figLabel,
    gridClasses,
    figures,
    imageBlok,
    isFigure,
    hasFigures
  ],
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  data(){
    return {
      defaults:{
        classes: {
          grid_classes: 'align-justify'
        },
        image_sizes: {
          0: 'square',
          1: 'small_landscape'
        }
      }
    };
  },
  computed: {
    imageSizes(){
      return this.defaults.image_sizes;
    },
    vAlign () {
      if (!this.blok['position_v']) {
        return '';
      } else {
        return 'c-FigureGroupLayout7--' + this.blok['position_v'];
      }
    },
    reverse () {
      if (this.blok.reverse) {
        return 'c-FigureGroupLayout7--reverse';
      } else {
        return '';
      }
    },
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    gridClassesLocal() {
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, ['grid_classes'])){
        classes += this.gridClasses();
      }
      else{
        classes += this.defaults.classes.grid_classes;
      }

      return classes;
    }
  },

};
</script>

<style src="./FigureGroupLayout7.scss" lang="scss" scoped></style>
