<template>
  <div
    class="c-FigureGroupLayout2"
  >
    <c-grid
      v-if="hasFigures()"
      :blok="{grid_classes:`${vAlign} ${gridClassesLocal()} ${reverse}`}"
    >
      <c-col
        v-if="isFigure(0)"
        :blok="col1Blok"
      >
        <c-figure
          :blok="imageBlok(0)"
          class="c-FigureGroup__image first"
        />

        <div
          v-if="blok.group_captions && blok.show_captions"
          class="c-FigureGroup__captions"
        >
          <div
            v-for="(image, index) in blok.figures.slice(0, 2)"
            :key="image._uid"
            class="c-Caption"
          >
            <h6 class="c-Caption__num ">
              <strong>{{ blok.label }} {{ index+1 }}</strong>
            </h6>

            <c-text
              v-if="image.captions[0].textarea"
              :text="image.captions[0].textarea"
              class="copy-small"
            />
          </div>
        </div>
      </c-col>

      <c-col
        v-if="isFigure(1)"
        :blok="col2Blok"
      >
        <c-figure
          :blok="imageBlok(1)"
          class="c-FigureGroup__image second"
        />
      </c-col>
    </c-grid>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import cFigure from '../../../../Molecules/Figure/Figure';
import CGrid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';
import CText from '../../../../Atoms/Text/Text';
import gridClasses from '../../../../../mixins/sbkCssClasses';
import isFigure from '../../../../../mixins/sbkFigureGroups';
import hasFigures from '../../../../../mixins/sbkFigureGroups';
import imageBlok from '../../../../../mixins/sbkFigureGroups';
import figures from '../../../../../mixins/sbkFigureGroups';

export default {
  components: {
    cFigure,
    CGrid,
    CCol,
    CText
  },
  extends: {
    FigureGroup
  },
  mixins: [
    gridClasses,
    figures,
    imageBlok,
    isFigure,
    hasFigures
  ],
  props:{
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  data(){
    return {
      defaults:{
        classes: {
          grid_classes: 'align-justify'
        },
        image_sizes: {
          0: 'square',
          1: 'square',
        }
      },
    };
  },
  computed: {
    imageSizes(){
      return this.defaults.image_sizes;
    },
    vAlign () {
      if (!this.blok['position_v']) {
        return '';
      } else {
        return 'c-FigureGroupLayout2--' + this.blok['position_v'];
      }
    },
    reverse () {
      if (this.blok.reverse) {
        return 'c-FigureGroupLayout2--reverse';
      } else {
        return '';
      }
    },
    col1Blok(){
      return {
        col_sizes: {
          small: 20,
          // medium: 9,
          large: 6
        },
        classes: ' c-FigureGroup__col '
      };
    },

    col2Blok(){
      return {
        col_sizes: {
          small: 20,
          // medium: 9,
          large: 9,
        },
        col_offsets: {
          // medium: 1,
          large: 5
        },
        classes: 'xxinfront'
      };
    },
  },

  mounted(){
    //console.log(1);
  },

  methods: {
    gridClassesLocal() {
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, 'grid_classes')){
        if(this.blok['grid_classes'].trim() !== ''){
          classes += this.gridClasses() + ' ' + this.defaults.classes.grid_classes;
        }
      }
      else{
        classes += this.defaults.classes.grid_classes;
      }
      return classes;
    }
  }
};
</script>

<style src="./FigureGroupLayout2.scss" lang="scss"></style>
