.c-FigureGroupLayout2{

  > .c-Grid {
    width: 100%;
  }

  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;

  .c-FigureGroup__col {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
  }

  // Fix flexbox - padding-bottom
  .c-FigureGroup__image {
    width: 100%;
    &.second{
      //margin-top: 80px;
      @include v-spacing('margin-top', 80px, 250px);

    }
  }

  .c-FigureGroup__captions {
    margin-top: 50px;
    // margin-right: 50px;
    padding-top: 20px;
    border-top: 1px solid $c-black;
    max-width: 290px;
    margin-left: 0;
    margin-right: 0;

    @include breakpoint(small down) {
      margin-top: 30px;
    }

    @include breakpoint(large) {
      margin-left: 0;
      margin-right: 0;
    }

    .c-Caption {
      margin-bottom: 20px;

      .c-Caption__num{
        display: inline-block;
        margin: 0 auto 12px;
      }
      .c-Text{
        margin-left: 0;
      }
    }
  }



}
