<template>
  <div
    class="c-FigureGroupLayout1"
  >
    <slot>
      <c-grid
        v-if="hasFigures()"
        :blok="{grid_classes:`${vAlign} ${gridClassesLocal()}`}"
      >
        <c-col
          v-if="isFigure(0)"
          :blok="col1Blok"
        >
          <c-figure
            :blok="imageBlok(0)"
          />
        </c-col>

        <c-col
          v-if="blok.group_captions && blok.show_captions"
          :blok="col2Blok"
        >
          <div
            class="c-FigureGroup__captions"
          >
            <div
              v-for="(item, idx) in figures()"
              :key="idx"
              class="c-Caption"
            >
              <h6 class="c-Caption__num ">
                <strong>{{ label }} {{ idx + 1 }}</strong>
              </h6>
              <c-text
                v-if="item.captions.length > 0 && item.captions[0].textarea"
                :text="item.captions[0].textarea"
              />
            </div>
          </div>
        </c-col>
        <c-col
          v-if="isFigure(1)"
          :blok="col3Blok"
        >
          <c-figure
            :blok="imageBlok(1)"
          />
        </c-col>

        <c-col
          v-if="isFigure(2)"
          :blok="col4Blok"
        >
          <c-figure
            :blok="imageBlok(2)"
          />
        </c-col>
      </c-grid>
    </slot>
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import CGrid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';
import gridClasses from '../../../../../mixins/sbkCssClasses';
import isFigure from '../../../../../mixins/sbkFigureGroups';
import hasFigures from '../../../../../mixins/sbkFigureGroups';
import imageBlok from '../../../../../mixins/sbkFigureGroups';
import figures from '../../../../../mixins/sbkFigureGroups';

export default {
  components: {
    CFigure,
    CGrid,
    CCol,
  },
  extends: {
    FigureGroup //@TODO - needed any more?
  },
  mixins: [
    gridClasses,
    figures,
    imageBlok,
    isFigure,
    hasFigures
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  data(){
    return {
      defaults:{
        classes: {
          grid_classes: 'align-justify'
        },
        image_sizes: {
          0: 'large_portrait',
          1: 'small_square',
          2: 'square'
        }
      }
    };
  },
  computed: {
    imageSizes(){
      return this.defaults.image_sizes;
    },
    vAlign (){
      if (!this.blok.position_v || this.blok.position_v === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.position_v;
      }
    },

    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;//@TODO - default needs to be global?
    },

    col1Blok(){
      return {
        col_sizes: {
          small: 20,
          large: 13
        }
      };
    },

    col2Blok(){
      return {
        col_sizes: {
          small: 20,
          large: 5,
          largeOffset: 2,
          xxlarge: 4,
          xxlargeOffset: 3,
        },
        classes: 'infront'
      };
    },

    col3Blok(){
      return {
        col_sizes: {
          small: 20,
          large: 6,
        },
        classes: 'pos-bottom-center'
      };
    },

    col4Blok(){
      return {
        col_sizes: {
          small: 20,
          large: 10,
        },
        classes: 'pos-bottom-right'
      };
    },
  },

  mounted(){
    //console.log(1);
  },

  methods: {
    gridClassesLocal() {
      let classes = '';
      if(Object.prototype.hasOwnProperty.call(this.blok, ['grid_classes'])){
        classes += this.gridClasses();
      }
      else{
        classes += this.defaults.classes.grid_classes;
      }

      return classes;
    }
  }
};
</script>

<style src="./FigureGroupLayout1.scss" lang="scss"></style>
