<template>
  <div
    class="c-FigureGroupLayout1"
  >

    <!--  {{ blok.caption_position }}<br>
    {{ blok.options.caption_position }}<br>-->

    <!--  <pre>
      {{ blok.options }}
    </pre>
-->
    FigureGroupLayout1 -

    blok

    <pre>
      {{ blok }}
    </pre>


    <!-- <slot>
      <grid
        v-if="blok.figures.length > 0"
        :classes="`${vAlign}`"
      >
        <c-col
          v-if="blok.figures[0]"
          :blok="col1Blok"
        >
          <c-figure
            :blok="blok.figures[0]"
            :label="label"
            :group-captions="blok.options.group_captions"
          />
        </c-col>
        <c-col
          v-if="blok.options.group_captions === 'grouped'"
          :blok="col2Blok"
        >
          <div
            class="c-FigureGroup__captions"
          >
            <div
              v-for="(image, index) in blok.figures"
              :key="index"
              class="c-Caption"
            >
              <h6 class="c-Caption__num ">
                <strong>{{ label }} {{ index + 1 }}</strong>
              </h6>
              <c-text
                v-if="image.captions.length > 0 && image.captions[0].textarea"
                :text="image.captions[0].textarea"
              />
            </div>
          </div>
        </c-col>
        <c-col
          v-if="blok.figures[1]"
          :blok="col3Blok"
        >
          <c-figure
            :blok="blok.figures[1]"
            :label="label"
            :group-captions="blok.options.group_captions"
          />
        </c-col>

        <c-col
          v-if="blok.figures[2]"
          :blok="col4Blok"
        >
          <c-figure
            :blok="blok.figures[2]"
            :label="label"
            :group-captions="blok.options.group_captions"
          />
        </c-col>
      </grid>
    </slot>-->
  </div>
</template>

<script>
import FigureGroup from '../../FigureGroup';
import CFigure from '../../../../Molecules/Figure/Figure';
import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';

export default {
  components: {
    CFigure,
    Grid,
    CCol
  },
  extends: {
    FigureGroup
  },
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    }
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.options.label ? this.blok.options.label : this.blok.defaultLabel;//@TODO - default needs to be global?
    },

    col1Blok(){
      return {
        options: {
          col_sizes: {
            small: 20,
            large: 13
          }
        }
      };
    },

    col2Blok(){
      return {
        options: {
          col_sizes: {
            small: 20,
            large: 5,
            largeOffset: 2,
            xxlarge: 4,
            xxlargeOffset: 3,
          },
          classes: 'infront'
        }
      };
    },

    col3Blok(){
      return {
        options: {
          col_sizes: {
            small: 20,
            large: 6,
          },
          classes: 'pos-bottom-center'
        }
      };
    },

    col4Blok(){
      return {
        options: {
          col_sizes: {
            small: 20,
            large: 10,
          },
          classes: 'pos-bottom-right'
        }
      };
    },
  },


  mounted(){

  }


};
</script>

<style src="./FigureGroupLayout1.scss" lang="scss"></style>
