<template>
  <div
    v-editable="blok"
    class="c-LargeText"
  >
    <c-single
      :blok="blokMerge()"
    />
  </div>
</template>
<script>
import CSingle from '../../../../src/components/Templates/Single/Single.vue';
import getMergedData from '../../../../src/mixins/sbkDataMerge';

export default {
  components: {
    CSingle
  },
  mixins: [
    getMergedData
  ],
  props: {
    blok: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      overrides: {
        options: {
          grid_wrapper_classes: ' left-gutter right-gutter ',
          grid_classes: '',
          column_1: {
            classes: '',
            col_sizes: {
              medium: 20
            },
            components: {
              textarea: {
                sbk_controls: {

                },
                grid_classes: '',
                col_classes: '',
                col_sizes: {
                  medium: 10
                },
                col_offsets: {
                  medium: 5
                },
                prefix: 'no prefix',
                pre_tag: '<h3>',
                post_tag: '</h3>',
              }
            },
          },
        }
      },
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    blokMerge() {
      if (typeof (this.blok) !== 'undefined') {
        if (Object.keys(this.blok).length > 0) {
          return this.getMergedData(this.blok, 1);
        }
      }
      return {};
    }
  },
};

</script>

<style src="./LargeText.scss" lang="scss"></style>

