<template>
  <footer
    v-editable="blok"
    v-if="blok.authors"
    class="c-ArticleFooter"
  >
    <div class="c-ArticleFooter__inner">
      <grid class="grid-x align-right">
        <c-col
          :blok="{
            small: 20,
            large: 9,
            largeOffset: 11
          }"
        >
          <div class="c-ArticleFooter__authors">
            <c-authors
              v-if="blok.authors"
              :blok="{authors: blok.authors}"
            />
          </div>
          <!-- <ul
            v-if="blok.category"
            class="c-ArticleFooter__category"
          >
            <li>
              <a
                href="#"
                class="c-Button"
              >{{ blok.category.name }}</a>
            </li>
          </ul> -->
        </c-col>
      </grid>
    </div>
  </footer>
</template>

<script>
import CAuthors from '../../Molecules/Authors/Authors.vue';
import Grid from '../../Templates/Grid/Grid';
import CCol from '../../Templates/Col/Col';

export default {
  components:{
    CAuthors,
    Grid,
    CCol
  },
  props: {
    blok:{
      type: Object,
      default: () => {}
    }
  },
  mounted(){
    //console.log(1);
  }
};
</script>

<style src="./ArticleFooter.scss" lang="scss"></style>

