.c-ArticleFooter {
    margin-bottom: 50px;
}

.c-ArticleFooter__category {
    margin: 50px auto;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;

        a {
            margin-right: 10px;
            text-transform: uppercase;
            line-height: 1;
            color: $c-black;
        }
    }
}

// .c-ArticleFooter__authors {
//     margin: 20px auto;
//     padding: 20px 0;
//     border-top: 1px solid #000;
//     border-bottom: 1px solid #000;
// }

.c-Author {
    margin: 20px auto;

    &__name {
        margin: 0 auto;
    }
}
