<template>
  <div
    v-editable="blok"
    v-if="blok && authors"
    class="c-Authors"
  >
    <c-author
      v-for="(author, index) in authors"
      :key="index"
      :blok="author"
    />
  </div>
</template>

<script>

//@TODO - add image field
import CAuthor from '../../Atoms/Author/Author';

export default {
  components: {
    CAuthor
  },
  props: {
    blok: { //@NOTE - just component: 'authors' with affix and prefix
      type: Object,
      default: () => {},
      required: false,
    }
  },
  computed: {
    authors() {
      return this.$store.getters['sbk/sbkStore/getAuthors'];
    },
  },
  mounted(){
    //console.log(1);
  },
};

</script>

<style src="./Authors.scss" lang="scss" scoped></style>
