.c-PostBox {

  .c-PostBoxLayout7 {
    // @include v-spacing('margin-bottom', 20px, 70px);
    position: relative;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
    background-color: #252d38;//$c-dark-grey;

    @include breakpoint( xmedium down ) {
      min-height: 100vh;
      height: 100vh;
    }

    @include breakpoint( large ) {
      height: 100vh;
    }

    &:hover,
    &:focus {
      // opacity: 0.7;
    }

    .c-PostBox__contents {
      padding-left: 50px;
      padding-right: 50px;
    }

    .u-align--center {
      @include breakpoint( xmedium down ) {
        z-index: 1;
      }
    }

    .c-PostBox__bgWrapper {
      @include breakpoint( xmedium down ) {
        position: absolute;
        height: 100%;
      }

      @include breakpoint( large ) {
        height: 100vh;
      }
    }

    .c-PostBox__bg {
      @include breakpoint( xmedium down ) {
        height: 100%;
      }
      // margin-bottom: 20px;
      @include breakpoint( large ) {
        height: 100vh;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .c-PostBox__link {
      @include breakpoint( large ) {
        margin-top: 40px;
      }
    }

    .c-PostBox__contents ,
    .c-PostBox__link .c-Link {
      color: $c-white;
    }

    .c-PostBox__link .c-Link {
      border-bottom-color: $c-white;
    }

    .c-PostBox__contents {
      margin-bottom: 20px;
      padding-bottom: 32px;

      @include breakpoint( small down ) {
        padding-top: 32px;
      }
    }

    .c-PostBox__date {
      margin-bottom: 30px;
      font-size: 15px;
    }

    .c-PostBox__subtitle {
      margin-bottom: 15px;
      font-family: $f-serif;
      font-size: 20px;

      @include breakpoint( large ) {
        font-size: 30px;
      }
    }


    .c-PostBox__title {
      margin-bottom: 10px;

      @include breakpoint( small down ) {
        font-size: 20px;
        line-height: 30px;
      }

      @include breakpoint( large ) {
        margin-top: 30px;
        margin-bottom: 25px;
      }
    }

    .c-PostBox--horizontal {
      margin-top: 100px;
      margin-bottom: 0;

      .c-PostBox__contents {
        padding-bottom: 40px;
      }

    }



    .c-Image {
      height: 100%;

      img {
        object-fit: cover;
        object-position: center;
        /* height: -webkit-fill-available;*/
        width: 100%;
      }
    }

    .c-Vimeo {
      height: 100%;
    }

    a {
      text-decoration: none;

    }


  }
}
