<template>
  <nuxt-link
    v-if="blok.fields.link"
    :to="blok.fields.link"
  >
    <grid
      :class="`c-PostBoxLayout7 grid-x align-middle `"
      :style="`background-color: ${backgroundColor}`"
    >
      <c-col
        :blok="{
          classes: 'u-align--center ',
          col_sizes: {
            large: 10
          },
        }"
      >
        <div class="c-PostBox__contents">
          <strong
            v-if="blok.fields.category"
            class="h6"
          >
            <slot name="category">
              {{ blok.fields.category.name }}
            </slot>
          </strong>
          <span
            v-if="blok.fields.date_first_published"
            class="c-PostBox__date"
          >
            <slot
              v-if="blok.show_date"
              name="date"
            >
              {{ blok.fields.date_first_published | moment('D MMMM YYYY') }}
            </slot>
          </span>

          <slot name="title">
            <h2
              v-if="blok.fields.title"
              class="c-PostBox__title h1 u-uppercase"
              v-html="blok.fields.title"
            >
              <!-- {{ blok.fields.title }} -->
            </h2>
          </slot>

          <slot name="subtitle">
            <div
              v-if="blok.fields.subtitle"
              class="c-PostBox__subtitle"
            >
              {{ blok.fields.subtitle }}
            </div>
          </slot>

          <slot
            v-if="blok.link_affix_title"
            name="link"
          >
            <div
              class="c-PostBox__link"
            >
              <span
                class="c-Link c-Link--underline"
              >
                {{ blok.link_affix_title }}
              </span>
            </div>
          </slot>
        </div>
      </c-col>

      <c-col
        :blok="{
          classes: 'c-PostBox__bgWrapper',
          col_sizes: {
            large: 10
          },
        }"
      >
        <slot name="image">
          <div
            v-if="blok.fields.image.length > 0"
            class="c-PostBox__bg"
          >
            <c-image
              :blok="imageBlok()"
            />
          </div>
        </slot>
      </c-col>
    </grid>
  </nuxt-link>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';

import Grid from '../../../../Templates/Grid/Grid';
import CCol from '../../../../Templates/Col/Col';

export default {
  components: {
    Grid,
    CCol,
    CImage,
    CVimeo
  },
  extends: {
    PostBox
  },
  mixins: [
    mediaType
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {}
    }
  },
  data(){
    return {
      default_bg_color: 'red'
    };
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    },
    backgroundColor(){
      return this.blok.fields.header_background_color || this.default_bg_color;
    }
  },
  mounted(){
    //console.log(1);
    let img = this.findFirstImage();
    let a = 2;
  },
  methods:{
    findFirstImage(){
      let selImg = {};
      if(this.blok.fields.image.length > 0){
        selImg = this.blok.fields.image.filter(function(obj){
          return obj.component === 'image';
        });
      }
      if(Object.keys(selImg).length > 0){
        return selImg[0];
      }
      return selImg;
    },
    imageBlok(){
      return {
        ...this.findFirstImage(),
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax}
      };
    }
  }
};
</script>

<style src="./PostBoxLayout7.scss" lang="scss"></style>
