<!--
<template>
  <form
          name="ask-question"
          method="post"
          data-netlify="true"
          data-netlify-honeypot="bot-field"
          @submit.prevent="handleSubmit"
  >
    <input type="hidden" name="form-name" value="ask-question" />
    <label v-for="(panelist, index) in panelists" :key="index">
      <input
              type="radio"
              name="panelist"
              :value="panelist"
              @input="ev => updatePanelist"
              :checked="panelist === currentPanelist"
      />
      <span>{{ panelist }}</span>
    </label>
    ...
    <button>Submit</button>
  </form>
</template>
<script>
  import axios from "axios";

  export default {
    name: "QAForm",
    data () {
      return {
        form: {
          askPerson: ""
        }
      }
    },
    methods: {
      encode (data) {
        return Object.keys(data)
                .map(
                        key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
                )
                .join("&");
      },
      handleSubmit () {
        const axiosConfig = {
          header: { "Content-Type": "application/x-www-form-urlencoded" }
        };
        axios.post(
                "/",
                this.encode({
                  "form-name": "ask-question",
                  ...this.form
                }),
                axiosConfig
        );
      }
    }
  }
</script>
-->
