.c-DynamicCarousel {
  .flickity-slider {
    & > div {
      width: 30%; /* full width */
      //min-height: 500px; /* height of carousel */
      margin-right: 50px;
    }

    img {
      width: 100%; /* full width */
    }
  }
}