<template>
  <div
    v-editable="blok"
    class="c-DynamicCarousel"
  >
    <c-figure-group
      v-for="blok in blok.layer"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>

<script>
// import FigureGroup from '~/components/Organisms/FigureGroup/FigureGroup';

export default {
  //extends: FigureGroup,
  props: {
    blok: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
};
</script>

<style src="./DynamicCarousel.scss" lang="scss" scoped></style>
