<template>
  <div id="app">
    <img
      alt="Vue logo"
      src="./assets/logo.png"
    >

  </div>
</template>

<script>

export default {
  name: 'App',
  store,
  components: {
  },
  created(){
    //console.log('App : store : ');
    //console.log(this.$store);
  }
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
