<template>
  <div class="FlexibleContentPlaceholder">
    <slot>
      <h3>
        {{ stepText }}
      </h3>

    </slot>
  </div>
</template>
<script>
export default {
  props: {
    options: {
      default: () => {},
      type: Object,
      required: false
    },
    step: {
      default: 1,
      type: Number,
      required: false
    },
    sectionName: {
      default: '',
      type: String,
      required: false
    }
  },
  data(){
    return {
      text: {
        step1: 'First, add your first block to the ' + this.sectionName + ' section ...' ,
        step2: 'Now, add your block content to the ' + this.sectionName + ' block ...',
      }
    };
  },
  computed:{
    stepText(){
      return this.step && !isNaN(this.step) && this.step > 0 ? this.text['step'+this.step] : 'no text';
    }
  },
};
</script>

<style scoped src="./FlexibleContentPlaceholder.scss" lang="scss"></style>
