<template>
  <!--v-if="blok.fields.link"-->
  <!-- @TODO - needs hasFields() method -->
  <div
    v-if="blok.fields"
    class="c-PostBoxLayout2"
  >
    <div
      v-if="!blok.disable_links"
    >
      <nuxt-link
        :to="blok.fields.link"
      >
        <slot name="image">
          <div
            v-if="blok.fields.image.length > 0"
            class="c-PostBox__bg"
          >
            <c-image
              v-if="mediaType() === 'image'"
              :blok="imageBlok()"
            />
            <c-vimeo
              v-if="mediaType() === 'video'"
              :blok="videoBlok()"
            />
          </div>
          <div v-else>
            no image
          </div>
        </slot>

        <div class="c-PostBox__contents">
          <strong
            v-if="blok.fields.category"
            class="h6"
          >
            <slot name="category">
              {{ blok.fields.category.name }}
            </slot>
          </strong>
          <span
            v-if="blok.fields.date_first_published"
            class="c-PostBox__date"
          >
            <slot
              v-if="blok.show_date"
              name="date"
            >
              {{ blok.fields.date_first_published | moment('D MMMM YYYY') }}
            </slot>
          </span>


          <slot name="title">
            <h3
              v-if="blok.fields.title"
              class="c-PostBox__title"
              v-html="blok.fields.title"
            >
              <!-- {{ blok.fields.title }} -->
            </h3>
          </slot>

          <slot name="subtitle">
            <div
              v-if="blok.fields.subtitle && blok.show_subtitle"
              class="c-PostBox__subtitle"
            >
              {{ blok.fields.subtitle }}
            </div>
          </slot>

          <slot
            v-if="blok.link_text"
            name="link"
          >
            <a
              v-if="blok.fields.link"
              :href="blok.fields.link"
              class="c-Link c-Link--underline"
            >
              {{ blok.link_text }}
            </a>
          </slot>
        </div>
      </nuxt-link>
    </div>

    <div
      v-else
    >
      <slot name="image">
        <a
          v-if="blok.fields.image.length > 0"
          :href="blok.fields.link"
          class="c-PostBox__bg"
        >
          <!-- @TODO - needs blok function -->
          <c-image
            :blok="{...blok.fields.image[0], ...{image_size: blok.image_size}, ...{image_sizes: blok.image_sizes}} "
          />
        </a>
        <div v-else>
          no image
        </div>
      </slot>

      <div class="c-PostBox__contents">
        <strong
          v-if="blok.fields.category"
          class="h6"
        >
          <slot name="category">
            {{ blok.fields.category.name }}
          </slot>
        </strong>
        <span
          v-if="blok.fields.date_first_published"
          class="c-PostBox__date"
        >
          <slot
            v-if="blok.show_date"
            name="date"
          >
            {{ blok.fields.date_first_published | moment('D MMMM YYYY') }}
          </slot>
        </span>

        <slot name="title">
          <h3
            v-if="blok.fields.title"
            class="c-PostBox__title"
            v-html="blok.fields.title"
          >
            <!-- {{ blok.fields.title }} -->
          </h3>
        </slot>

        <slot name="subtitle">
          <div
            v-if="blok.fields.subtitle && blok.show_subtitle"
            class="c-PostBox__subtitle"
          >
            {{ blok.fields.subtitle }}
          </div>
        </slot>

        <slot
          v-if="blok.link_text"
          name="link"
        >
          <a
            v-if="blok.fields.link"
            :href="blok.fields.link"
            class="c-Link c-Link--underline"
          >
            {{ blok.link_text }}
          </a>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
import CImage from '../../../../Atoms/Image/Image';
import CVimeo from '../../../../../components/Atoms/Vimeo/Vimeo';
import PostBox from '../../PostBox';
import mediaType from '../../../../../mixins/storyBlok';

export default {
  components: {
    CImage,
    CVimeo
  },
  extends: {
    PostBox
  },
  mixins: [
    mediaType
  ],
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {},
    },
  },
  computed: {
    vAlign () {
      if (!this.blok.vertical_align || this.blok.vertical_align === 'top') {
        return '';
      } else {
        return 'align-' + this.blok.vertical_align;
      }
    },
    label() {
      return this.blok.label ? this.blok.label : this.blok.defaultLabel;
    }
  },
  mounted(){
    //console.log(1);
  },
  methods:{
    //@TODO - move these out of layouts
    imageBlok(){
      return {
        ...this.getImage(),
        ...{image_sizes: this.blok.image_sizes},
        ...{image_size: this.blok.image_size},
        ...{media_overlay: this.blok.media_overlay},
        ...{use_parallax: this.blok.use_parallax},
      };
    },
    videoBlok(){
      return {
        ...this.getVideo(),
        ...{media_overlay: this.blok.media_overlay}
      };
    },
    getVideo(){
      //@TODO - needs better checks
      if(typeof(this.blok['fields']['image']) !== 'undefined'){
        if(typeof(this.blok['fields']['image'].find(k => k['component']==='plugin_vimeo_video')) !== 'undefined'){
          return this.blok['fields']['image'].find(k => k['component']==='plugin_vimeo_video');
        }
      }
    },
    getImage(){
      if(typeof(this.blok['fields']['image']) !== 'undefined'){
        if(typeof(this.blok['fields']['image'].find(k => k['component']==='image')) !== 'undefined'){
          return this.blok['fields']['image'].find(k => k['component']==='image');
        }
      }
    }
  },

};
</script>

<style src="./PostBoxLayout2.scss" lang="scss"></style>
