.c-PostBox {
  .c-PostBoxLayout2 {
    .c-Link {
      &:before {
        background-color: $c-black;
      }
    }
  }
}


.c-PostBoxLayout2 {
    display: block;
    position: relative;
    //margin-bottom: 100px;
    // transition: opacity 0.3s ease-in-out;
    overflow: hidden;

    a {
      // padding-bottom: 5px;
      color: $c-link-color;//rgba($c-black, 0.5);
      border-bottom: 1px solid $c-link-border;//rgba($c-black, 0.5);
      text-decoration: none;
      cursor: pointer;
      transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
      position: relative;

      &:hover {
          color: rgba($c-black, 1);
          border-bottom: 1px solid rgba($c-black, 1);
      }
    }

    .c-Link {
      border: none;
      // color: $c-black;

      &:before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: $c-black;
          position: absolute;
          bottom: 0;//30px;
          left: 0;
          max-width: 0;
          transition: max-width .3s ease-in-out;
      }
    }

    &:hover,
    &:focus {
      // .c-PostBox__bg {
      //   img {
      //     opacity: 0.7;
      //   }
      // }

      .c-Link {
        border: none;
        color: $c-black;
        // border-color: transparent;

        &:before {
            max-width: 100%;
        }
      }
    }

    .c-Link {
      display: inline-block;
      margin-top: 10px;
    }

    .c-PostBox__bg {
      margin-bottom: 30px;
      background-color: $c-white;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   width: 100%;
      //   height: 100%;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // background-color: rgba($c-black, 0.3);
      }

      img {
        transition: opacity 0.3s ease-in-out;
      }
    }


    .c-PostBox__contents {
      margin-bottom: 20px;

      color: $c-black;//$c-white;
    }



    .c-PostBox__date {
      // margin-bottom: 30px;
      font-size: 12px;
    }

    .c-PostBox__title {
      margin-top: 20px;

      //@include v-spacing('font-size', 15px, 25px);
      //@include v-spacing('line-height', 40px, 50px);

      font-family: $f-serif;
      margin-bottom: 8px;
    }

    .c-PostBox__subtitle {
      margin-bottom: 15px;
    }

    .c-PostBox--horizontal {
      margin-top: 100px;
      margin-bottom: 0;

      .c-PostBox__contents {
        padding-bottom: 40px;
      }
    }

    .c-Image {
      height: 100%;

      img {
        object-fit: cover;
        object-position: top;
        /* height: -webkit-fill-available;*/
        width: 100%;
      }
    }

    a {
      text-decoration: none;
    }


  }

