<template>
  <div
    v-editable="blok"
    class="c-Slider"
  >
    <no-ssr>
      <!-- <swiper :options="swiperOption">
        <swiper-slide
          v-for="blok in blok.slides"
          :key="blok._uid"
        >
          <c-slide :blok="blok" />
        </swiper-slide>

        &lt;!&ndash; Optional controls &ndash;&gt;
        <div
          slot="pagination"
          class="swiper-pagination"
        />
        <div
          slot="button-prev"
          class="swiper-button-prev"
        />
        <div
          slot="button-next"
          class="swiper-button-next"
        />
      &lt;!&ndash; <div class="swiper-scrollbar"   slot="scrollbar"></div> &ndash;&gt;
      </swiper>-->
    </no-ssr>
  </div>
</template>

<script>

export default {
  props: {
    blok: {
      required: true,
      type: Object,
      default: function () {
        return {
          'images': {
            required: true,
            type: Object,
            default: () => []
          },
        };
      }
    },
  },

  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    };
  }
};
</script>

<style src="./Slider.scss" lang="scss"></style>
