.c-Slider {
    //min-height: 500px;
    .flickity-slider {

        img {
            width: 100%; /* full width */
        }

        .progressive-image {
            max-width: 100% !important;
            width: 100%;
            display: block;
        }
    }

    .flickity-slider>div {
        width: 100%; /* full width */
        min-height: 500px; /* height of carousel */
        margin-right: 10px;

        /*@include breakpoint(medium) {
            height: 300px;
        }

        @include breakpoint(large) {
            height: 100vh;//500px;
        }*/
    }

    .flickity-viewport {
        transition: height 0.2s;
    }

}
