<template>
  <div
    v-editable="blok"
    class="c-Slide"
  >
    <c-image
      v-for="blok in blok.image"
      :key="blok._uid"
      :src="blok.image"
      :blok="blok"
    />

    <c-text
      v-for="blok in blok.title"
      :key="blok._uid"
      :text="blok"
    />

    <c-text
      v-for="blok in blok.subtitle"
      :key="blok._uid"
      :text="blok"
    />

    <c-link
      v-for="blok in blok.link"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>

<script>
export default {
  props: {
    blok: {
      required: true,
      type: Object,
    },
  },
};
</script>
