.c-Accordion {
  // @include v-spacing('padding', 20px, 50px);
  // @include v-spacing('padding-top', 10px, 30px);
  // @include v-spacing('padding-bottom', 10px, 30px);
  border-bottom: 1px solid rgba($c-black, 0.1);

  &:first-child {
    border-top: 1px solid rgba($c-black, 0.1);
  }
}

.c-Accordion__header {
  @include v-spacing('padding-top', 10px, 30px);
  @include v-spacing('padding-bottom', 10px, 30px);
  @include v-spacing('font-size', 16px, 20px);
  // height: 40px;
  // line-height: 40px;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
}

.c-Accordion .header-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  transition-duration: 0.3s;
  // background-color: $c-black;
  // width: 10px;
  // height: 10px;

  svg {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
}

.c-Accordion__content {
  @include v-spacing('font-size', 14px, 18px);
  //@include v-spacing('line-height', 28px, 22px);
  font-weight: 300;

  overflow: hidden;
  transition: 150ms ease-out;
}

.c-Accordion__inner {
  @include v-spacing('padding-bottom', 10px, 30px);
  overflow-wrap: break-word;
/*   white-space: pre-wrap; */
}

.c-Accordion .header-icon.rotate svg {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}
