<template>
  <div
    v-editable="blok"
    class="c-Accordion"
  >
    <div
      class="c-Accordion__header"
      @click="toggle"
    >
      <slot name="header">
        {{ blok.title }}
      </slot>
      <div
        :class="{ rotate: show }"
        class="header-icon"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12.322"
          height="6.938"
          viewBox="0 0 12.322 6.938"
        ><path
          d="M26.1,1.092,25.029,2.278s3.03,3.3,4.545,4.682v.19c-1.516,1.577-4.545,4.839-4.545,4.839L26.1,13.414l5.864-6.358Z"
          transform="translate(13.414 -25.029) rotate(90)"
        /></svg>
      </div>
    </div>

    <transition
      name="accordion"
      @before-enter="beforeEnter"
      @enter="enter"
      @before-leave="beforeLeave"
      @leave="leave"
    >
      <div
        v-show="show"
        class="c-Accordion__content"
      >
        <div class="c-Accordion__inner">
          <slot>
            <c-markdown
              :blok="{markdown: blok.content}"
              class="xcopy-small"
            />
          </slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>

import CMarkdown from '../../Atoms/Markdown/Markdown';

export default {
  components:{
    CMarkdown
  },
  props: {
    blok: {
      required: true,
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      show: false
    };
  },
  mounted(){
    //console.log(1);
  },
  methods: {
    toggle: function() {
      this.show = !this.show;
    },
    // enter: function(el, done) {
    //   $(el).slideDown(150, done);
    // },
    // leave: function(el, done) {
    //   $(el).slideUp(150, done);
    // },
    beforeEnter: function(el) {
      el.style.height = '0';
    },
    enter: function(el) {
      el.style.height = el.scrollHeight + 'px';
    },
    beforeLeave: function(el) {
      el.style.height = el.scrollHeight + 'px';
    },
    leave: function(el) {
      el.style.height = '0';
    }
  }
};
</script>

<style src="./Accordion.scss" lang="scss"></style>
